<form id="form-color">
    <div class="color-management">
        <?php foreach ($colorManagement as $key => $mngt) { ?>
            <div class="settings">
                <label class="set-btn-color"><?= ucwords(str_replace('-', ' ', $mngt)) ?></label>
                <button title="Header design" type="button" class="btn btn-default btn-color-container" id="<?= $mngt ?>">
                    <span class="color-fill-icon dropdown-color-fill-icon" style="background-color:#000;"></span>
                    <b class="caret"></b>
                </button>
                <input type ="hidden" name="<?= $mngt ?>" />
            </div>
        <?php } ?>
        <input type="hidden" id="uuid" name="uuid" value="<?= $account->getUuid() ?>" />
    </div>
</form>
<?php if ( $this->validatePermission('edit') ) { ?>
<button id="btn-update-colors" class="btn btn-default">Update Color Settings</button>
<?php } ?>