<meta name="theme-color" content="#84C340" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<title><?= $config['site_title'] ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-status-bar-style" content="#84C340">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<?php
echo $this->headTitle($config['site_title'])
        ->setSeparator(' - ')
        ->setAutoEscape(false);
echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatib
        le', 'IE=edge');
?>

<!-- Le styles -->
<?php
echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $basePath() . '/img/favicon1.ico'))
        ->prependStylesheet($basePath() . "/css/min/interface.min.css")
        ->prependStylesheet('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        ->prependStylesheet('//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css')
        ->prependStylesheet('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
?>

<script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>