<div class="col-sm-3 col-md-2 sidebar">

  <?php foreach ($this->container as $page): ?>
    <?php if ($page->hasPages()): ?>
      <ul class="nav nav-sidebar">
        <li class="nav-sidebar-header"><?php echo $page->getLabel() ?></li>
        <?php foreach ($page->getPages() as $child): ?>
          <li class="<?php echo $child->isActive() ? 'active' : '' ?> nav-sidebar-sub">
            <a href="<?php echo $child->getHref() ?>"><?php echo $child->getLabel() ?></a>
          </li>
        <?php endforeach ?>
      </ul>
    <?php endif ?>
  <?php endforeach ?>
  
  <ul class="nav nav-sidebar">
     <li class="nav-sidebar-header">Quick Help</li>
     <li class="active nav-sidebar-sub"><a href="/settings">FAQs</a></li>
  </ul>
  <ul class="nav nav-sidebar">
     <li class="nav-sidebar-header">Tutorials</li>
     <li class="nav-sidebar-sub"><a href="/settings/account.php">Opportunities</a></li>
     <li class="nav-sidebar-sub"><a href="/settings/payment.php">Scoring</a></li>
     <li class="nav-sidebar-sub"><a href="/settings/users.php">Teams</a></li>
     <li class="nav-sidebar-sub"><a href="/settings/website.php">Site Integration</a></li>
  </ul>
  <ul class="nav nav-sidebar">
     <li class="nav-sidebar-header">Sales Tips</li>
     <li class="nav-sidebar-sub"><a href="/settings/account.php">50 Quick Tips</a></li>
     <li class="nav-sidebar-sub"><a href="/settings/payment.php">What makes a great proposal</a></li>
     <li class="nav-sidebar-sub"><a href="/settings/users.php">E-Mail Tips</a></li>
     <li class="nav-sidebar-sub"><a href="/settings/website.php">Adding A Personal Touch</a></li>
     <li class="nav-sidebar-sub"><a href="/settings/website.php">Using Tools</a></li>
  </ul>  
</div>