<!-- Modal Industry -->
<div class="modal fade" id="addIndustry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-building"></i>&nbsp;Industry</h4>
            </div>
            <div id="industry-modal" class="modal-body">
                <section id="industry-modal-sec" class="row">
                    <form id="industryForm" name="industryForm" role="form">
                        <div class="form-group">
                            <label for="client">Client Name</label>
                            <select class="form-control" id="sct-client" name="sct-client" placeholder="Client Name">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="company">Industry Name</label>
                            <input required type="text" class="form-control" id="industry" name="industry" placeholder="My Industry Name" value="" maxlength="128">
                            <span class="error-message-industry" style="display: none;"></span>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="216-373-1080" value="" maxlength="15">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="4" placeholder="Industry Description" value="" maxlength="65535"></textarea>
                        </div>
                        <input type="hidden" class="form-control" id="uuid" name="uuid" value="" maxlength="20">
                        <a id="id-industry" class="btn btn-success saveindustry">Save</a>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

<!--adding of sub industry modal-->
<div class="modal fade" id="addSubIndustry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-building"></i>&nbsp;Sub Industry</h4>
            </div>
            <div id="sub-industry-modal" class="modal-body">
                <form id="sub_industryForm" name="subIndustryForm" role="form">
                    <div class="form-group">
                        <label for="company">Sub-Industry Name</label>
                        <input required type="text" class="form-control" id="sub_industry" name="sub_industry" placeholder="My Sub-Industry Name" value="" maxlength="128">
                        <span class="error-message-industry" style="display: none;"></span>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="sub_phone" name="sub_phone" placeholder="216-373-1080" value="" maxlength="15">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="sub_description" name="sub_description" rows="4" placeholder="Sub-Industry Description" value="" maxlength="65535"></textarea>
                    </div>
                    <input type="hidden" class="form-control" id="uuid" name="uuid" value="" maxlength="20">
                    <input type="hidden" class="form-control" id="parent_id" name="parent_id" value="" maxlength="20">
                    <a id="id-sub_industry" class="btn btn-success saveindustry">Save</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Persona Fields Modal -->
<div class="modal fade" id="addPersonaFields" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i>&nbsp;Persona Fields</h4>
            </div>
            <div id="persona-fields-modal" class="modal-body">
                <section id="persona-fields-modal-sec" class="row">
                    <form id="personaFieldsForm" name="personaFieldsForm" role="form">
                        <div class="form-group">
                            <label for="fieldCode">Field Code</label>
                            <input type="text" class="form-control" id="field_code" name="field_code" placeholder="Persona Field Code" value="" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Persona Field" value="" maxlength="128">
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select class="form-control" id="type" name="type" placeholder="Persona Type">
                                <option value="list">list</option>
                                <option value="data">data</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Instruction</label>
                            <textarea class="form-control" id="description" name="description" rows="4" placeholder="Persona Instruction" value="" maxlength="65535"></textarea>
                        </div>
                        <input type="hidden" class="form-control" id="id" name="id" value="" maxlength="20">
                        <a id="savePersonaFields" class="btn btn-success">Save</a>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<!--Modal User Updates -->
<div class="modal fade" id="updateUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;Update Users</h4>
            </div>
            <div id="users-modal" class="modal-body">
                <section id="user-modal-sec" class="row">
                    <form id="userForm" name="usersForm" role="form">
                        <div class="form-group">
                            <label for="email" name="email"></label>
                        </div>
                        <div class="form-group">
                            <label for="roles">Roles</label>
                            <select id="edit-role" name="edit-role" class="form-control">
                                <option value="1">Basic Role</option>
                                <option value="2">Manager</option>
                                <option value="3">Owner</option>
                            </select>
                        </div>
                        <input type="hidden" class="form-control" id="edit-uuid" name="edit-uuid" value="" maxlength="20">
                        <a id="saveUsers" class="btn btn-success">Save Users</a>
                        <a id="close" class="btn btn-success">Close</a>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<!--Modal Persona Archive -->
<div class="modal fade" id="confirmArchivePersona" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Archive Persona</h4>
            </div>
            <div id="persona-archive-modal" class="modal-body">
                <section id="persona-modal-sec" >
                    <form id="PersonaArchiveForm" name="usersForm" role="form">
                        <div class="form-group">
                            <span>Are you sure you want to archive this persona?</span>
                        </div>
                        <div class="archive-persona-action">
                            <a id="archivePersona" data-field="archive-persona" class="btn btn-warning">YES</a>
                            <a id="close" class="btn btn-default" data-dismiss="modal">CANCEL</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmArchivePersonaData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Archive Custom Data</h4>
            </div>
            <div id="persona-archive-modal" class="modal-body">
                <section id="persona-modal-sec" >
                    <form id="PersonaArchiveForm" name="usersForm" role="form">
                        <div class="form-group">
                            <span>Are you sure you want to archive this custom data?</span>
                        </div>
                        <div class="archive-persona-action">
                            <a id="archive-custom-data" data-field="archive-custom-data" class="btn btn-warning">YES</a>
                            <a id="close" class="btn btn-default" data-dismiss="modal">CANCEL</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<!--Modal User Delete -->
<div class="modal fade" id="confirmUserDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;Confirm User Deletion</h4>
            </div>
            <div id="user-deletion-modal" class="modal-body">
                <section id="user-modal-sec" class="row">
                    <form id="userDeleteForm" name="usersForm" role="form">
                        <div class="form-group">
                            <span>Are you sure you want to delete this user?</span>
                        </div>
                        <input type="hidden" class="form-control" id="uuid" name="uuid" value="" maxlength="20">
                        <div class="user-delete-action">
                            <a id="saveUsers" class="btn btn-success">Confirm</a>
                            <a id="close" class="btn btn-success">Close</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Persona Modals  -->
<!-- Age Range/Gender/Location Modal -->
<div class="persona-modal modal right fade persona-info-modal" id="personaInfoModal" tabindex="-1" role="dialog" aria-labelledby="personaInfoModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="modal-close pull-right">CANCEL</a>
                <button class="btn btn-success pull-right btn-save-age-gender" type="button">SAVE</button><h4 id="mySmallModalLabel" class="modal-title">AGE AND GENDER</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="instruction-details more col-sm-12"></div>
                </div>
                <div class="row">
                    <div class="row persona-rows col-md-6 gender-pie" style="border-right: 1px solid #e5e5e5;">
                        <div class="persona-label">SET GENDER PERCENTAGE:</div>
                        <div class="canvas-gender-modal">
                        </div>

                        <div class="genderLegendDiv"></div>
                        <div>
                            <div class="col-sm-2 male" ></div>
                            <div id="gender-slider-modal" class="col-sm-8 gender-slider is-slider" data-field="gender" data-male="${persona_info/male}" data-female="${persona_info/female}"></div>
                            <div class="col-sm-2 female"></div>
                        </div>
                    </div>
                    <div class="row persona-rows col-md-5 persona-rows" >
                        <div class="persona-label">SET AGE RANGE:</div>
                        <div>
                            <div class="col-md-2 age-min" ></div>
                            <div id="age-slider-modal" class="col-md-8 age-slider is-slider" data-field="age" data-min="${persona_info/age_min}"  data-max="${persona_info/age_max}"></div>
                            <div class="col-md-2 age-max" ></div>
                        </div>

                    </div>
                    <div class="row persona-rows col-md-5" style="    border-top: 1px solid #e5e5e5;margin-top: 35px; padding-top: 15px;">
                        <div class="persona-label">SET LOCATIONS:</div>
                        <div id="msLocationModals"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Persona Data Box Modal -->
<div class="persona-modal modal right fade persona-box-modal persona-list-box" id="personaBoxModal" tabindex="-1" role="dialog" aria-labelledby="personaBoxModal">
    <div class="modal-dialog">
        <div class="modal-content row">
            <div class="modal-header">
                <div class="pull-right">
                    <a data-dismiss="modal" class="modal-close pull-right">CANCEL</a>
                    <button class="btn btn-success saveData pull-right btn-save-persona persona-process" type="button">SAVE</button>
                </div>
                <h4 id="mySmallModalLabel" class="modal-title"></h4>
            </div>
            <div class="modal-body box-modal">
                <div class="row">
                    <div class="instruction-details more col-sm-12"></div>
                </div>
                <div class="persona-main-box-content persona-data-list">
                    <ul class="fixed-field"></ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Channels Modal -->
<div class="persona-modal modal right fade channels-modal" id="channelsModal" tabindex="-1" role="dialog" aria-labelledby="channelsModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="modal-close pull-right">CANCEL</a>
                <button class="btn btn-success pull-right btn-save-channel" type="button">SAVE</button>
                <h4 id="mySmallModalLabel" class="modal-title">MANAGE CHANNELS</h4>
            </div>
            <div class="row">
                <div class="instruction-details more col-sm-12"></div>
            </div>
            <div class="row persona-rows">
                <div id="channels-list" class="list-group col-md-5">
                </div>
                <div class="channels-slider-container col-md-7">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Motivation Modal -->
<div class="persona-modal modal right fade motivations-modal" id="motivationsModal" tabindex="-1" role="dialog" aria-labelledby="motivationsModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="modal-close pull-right">CANCEL</a>
                <button class="btn btn-success pull-right btn-save-motivation" type="button">SAVE</button>
                <h4 id="mySmallModalLabel" class="modal-title">MANAGE MOTIVATIONS</h4>
            </div>
            <div class="row">
                <div class="instruction-details more col-sm-12"></div>
            </div>
            <div class="row persona-rows">
                <div id="motivations-list" class="list-group col-md-5">
                    <div class="add-motivation">
                        <span class="motivation-title">Enter a new Motivation</span>
                        <input type="text" id="txt-motivation" name="txt-motivation">
                        <span class="small-instruction">(press enter to save)</span>
                    </div>
                    <span class="motivation-title">Suggested Motivations</span>
                    <div class="listing"></div>
                </div>
                <div class="motivations-slider-container col-md-7">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Knowledge Modal -->
<div class="persona-modal modal right fade knowledge-modal" id="knowledgeModal" tabindex="-1" role="dialog" aria-labelledby="knowledgeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="modal-close pull-right">CANCEL</a>
                <button class="btn btn-success pull-right btn-save-knowledge" type="button">SAVE</button>
                <h4 id="mySmallModalLabel" class="modal-title">MANAGE PERSONA KNOWLEDGE</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="instruction-details more col-sm-12"></div>
                </div>
                <div class="row">
                    <div class="row persona-rows col-md-6 gender-pie" style="border-right: 1px solid #e5e5e5;">
                        <div class="persona-label">ADD NEW KNOWLEDGE:</div>
                        <input type="text" data-field="knowledge" id="knowledgeName" placeholder="Knowledge name" class="persona-knowledge persona-input" value="">
                        <button class="btn btn-success" id="addKnowledge" type="button" disabled>OK</button>
                    </div>
                    <div class="row col-md-6 persona-rows" >
                        <div class="persona-label">ADJUST KNOWLEDGE VALUES:</div>
                        <div class="modal-knowledge-slider-container">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Archetype Job* Modal -->
<div class="persona-modal modal right fade" id="personaInfo2Modal" tabindex="-1" role="dialog" aria-labelledby="personaInfo2ModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="modal-close pull-right">CANCEL</a>
                <button class="btn btn-success pull-right btn-save-persona-information" type="button">SAVE</button>
                <h4 id="mySmallModalLabel" class="modal-title">PERSONA INFORMATION</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="instruction-details more col-sm-12"></div>
                </div>
                <div class="row">
                    <div class="row persona-rows col-md-6 gender-pie" style="border-right: 1px solid #e5e5e5;">
                        <div class="persona-label">ARCHETYPE:</div>
                        <div class="persona-archetype persona-input">
                            <select name="archtype" class="selectpicker show-tick select-archetype" data-max-options="1" data-edit-type="select" title="Choose an Archetype">
                                <optgroup label="Archetypes">
                                </optgroup>
                            </select>
                            <div class="archetype-description selected-description text-muted small"  style=""></div>
                        </div>

                        <div class="persona-label">INDUSTRY:</div>
                        <div class="persona-industry persona-input">
                            <select name="industry" class="selectpicker show-tick select-industry" data-max-options="1" title="Choose an Industry">
                                <optgroup label="Industries">
                                </optgroup>
                            </select>
                        </div>
                        <div class="persona-label">BASIC LIFE DESCRIPTION:</div>
                        <textarea name="basicLife" PLACEHOLDER="Basic life description" class="persona-basic-life modal-editable persona-input" ></textarea>

                    </div>
                    <div class="row persona-rows col-md-5 persona-rows" >
                        <div class="persona-label">JOB TYPE:</div>
                        <div class="persona-jobtype persona-input">
                            <select name="jobtype" class="selectpicker show-tick select-jobtype" data-max-options="1" title="Choose an jobtype">
                                <optgroup label="Job Type">
                                </optgroup>
                            </select>
                        </div>
                        <div class="persona-label">JOB TITLE:</div>
                        <input type="text" name="jobTitle" PLACEHOLDER="Job Title" class="persona-title modal-editable persona-input" value="" />

                        <div class="persona-label">JOB DESCRIPTION:</div>
                        <textarea data-edit-type="textarea" name="jobDescription" PLACEHOLDER="Job Description" class="persona-jobdesc modal-editable persona-input" ></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Modal Upload Headshot-->
<div class="modal persona-modal  right fade" id="uploadHeadshotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="modal-close pull-right">CANCEL</a>
                <?php if ( $this->validatePermission('edit') ) { ?>
                <button class="btn btn-success pull-right btn-save-headshot" type="button">SAVE</button>
                <?php } ?>
                <h4 class="modal-title" id="myModalLabel">Select Headshot</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="browse-logo browse-upload-photo pull-left col-sm-4">
                            <span class="upload-desc">Upload Your Own Images</span>
                            <h6>800x600 recommended description</h6>
                            <form id="uploadPhoto" name="uploadPhoto">
                                <div class='col-sm-12 pull-left'>
                                    <div id="upload-space">
                                        <input type="hidden" id="upload-type" name="upload-type" value="persona" />
                                        <input type="hidden" id="upload-persona-id" name="upload-persona-id" value="" />
                                        <input type="file" name="userImage" id="userImage" style="display:none">
                                        <h4>Drag your own headshot image here</h4>
                                        <span>Or</span>
                                        <br/>
                                        <button class="btn btn-primary" type="button" id="btn-upload">Browse Your Computer</button>
                                        <div class="files" id="files"></div>
                                    </div>
                                </div>
                                <input type="hidden" id="persona-headshot" name="persona-headshot" />
                            </form>
                            <div class="filter-headshot">
                                <span>Filter Gallery</span>
                                <ul class="filter-container">
                                    <li>Female</li>
                                    <li>Male</li>
                                </ul>
                            </div>
                        </div>
                        <div class="browse-logo browse-headshot-library pull-left col-sm-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Send Survey Modal -->
<div class="persona-modal modal fade" id="sendSurveyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Send Survey</h4>
            </div>
            <div id="sendsurvey-modal" class="modal-body">
                <section class="persona-rows row sendSurveyFormSection">
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Export Template -->
<div class="modal fade" id="exportPersonaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Export Persona Template</h4>
            </div>
            <div class="export-details">
                Select the design you want to use in exporting persona.
            </div>
            <div id="export-persona-modal" class="modal-body">
                <div class="gallery-template"></div>
            </div>
        </div>
    </div>
</div>
<!-- Export Template details-->
<div class="modal fade" id="exportPersonaDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Export Persona Template</h4>
            </div>
            <div class="export-details">
                <div class="left-export">
                    <form id="frmExportTemplate">
                        <label>
                            <span>Orientation</span>
                            <select class="slct-orientation">
                                <option id="portrait">Portrait</option>
                                <option id="landscape">Landscape</option>
                            </select>
                        </label>
                        <label>
                            <span>Page Size</span>
                            <select class="slct-page-size">
                                <option id="A0">A0</option>
                                <option id="A1">A1</option>
                                <option id="A2">A2</option>
                                <option id="A3">A3</option>
                                <option id="A4" selected>A4</option>
                                <option id="A5">A5</option>
                                <option id="A6">A6</option>
                                <option id="A7">A7</option>
                                <option id="A8">A8</option>
                                <option id="A9">A9</option>
                                <option id="A10">A10</option>
                                <option id="letter">Letter</option>
                            </select>
                        </label>
                        <label>
                            <a id="generate-preview" class="btn btn-large btn-success generate-preview">
                                <i class="fa fa-search"></i>&nbsp;Generate Preview
                            </a>
                        </label>
                        <label>
                            <a id="view-full-preview" class="btn btn-large btn-success full-preview hide" target="_blank">
                               View Large Preview
                            </a>
                        </label>
                        <label>
                            <a id="download-pdf" class="btn btn-success download-pdf hide">
                                <i class="fa fa-arrow-down"></i>&nbsp;Download
                            </a>
                        </label>
                        <div class="input-form hide">
                            <input type="hidden" id="uuid" name="uuid" />
                        </div>
                    </form>
                </div>
                <div class="right-export">
                    <div class="export-content">
                        <div class="no-pdf"></div>
                    </div>
                </div>
                <label>
                </label>
            </div>
            <div id="export-persona-details-modal" class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Notification: No stripe cards -->
<div class="modal fade" id="notifStripeCardsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Please complete payment details.</h4>
            </div>
            <div id="stripe-cards-modal" class="modal-body">
                <span>The system detects that the payment details have not been setup. Creation of clients requires upgrading your plan.</span>
                <span><a href="<?= $this->serverUrl($this->url('settings/subscription-info')) ?>">Upgrade my account now.</a>.</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notifSendSurveySubscModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Upgrade Subscription</h4>
            </div>
            <div id="upgrade-subscription-modal" class="modal-body">
                <span>Please upgrade your package to send surveys.
                <div class='upgrade-subscription'>
                    <div class="pull-left">
                        <span>FROM</span>
                        <div class="packages current">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <span>TO</span>
                        <div class="packages next">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                        </div>
                    </div>
                </div>
                    <div class='subscription-link'><span></span><a href="<?= $this->url('settings/subscription-info') ?>">See all packages and upgrade</a>.</div>
                <div class='upgrade-actions'>
                    <a class="btn btn-success">Upgrade Now &amp; Proceeed</a>
                    <a class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notifAddClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Upgrade Subscription</h4>
            </div>
            <div id="upgrade-subscription-modal" class="modal-body">
                <span>Please upgrade your package to add clients.
                <div class='upgrade-subscription'>
                    <div class="pull-left">
                        <span>FROM</span>
                        <div class="packages current">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <span>TO</span>
                        <div class="packages next">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                        </div>
                    </div>
                </div>
                    <div class='subscription-link'><a href="<?= $this->url('settings/subscription-info') ?>">See all packages and upgrade</a>.</div>
                <div class='upgrade-actions'>
                    <a class="btn btn-success">Upgrade Now &amp; Proceeed</a>
                    <a class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notifAddUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Upgrade Subscription</h4>
            </div>
            <div id="upgrade-subscription-modal" class="modal-body">
                <span>Are you sure you want to add users. Your current plan doesn't support adding more user. If the details below is ok with you, click the proceed button.
                <div class='upgrade-subscription'>
                    <div class="pull-left">
                        <span>FROM</span>
                        <div class="packages current">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <span>TO</span>
                        <div class="packages next">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                        </div>
                    </div>
                </div>
                    <div class='subscription-link'><span>You can check other plan in this </span><a href="<?= $this->url('settings/subscription-info') ?>">Link</a>.</div>
                <div class='upgrade-actions'>
                    <a class="btn btn-success btn-add-user">Proceed</a>
                    <a class="btn btn-cancel btn-cancel-user">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notifUpgradeSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Upgrade Subscription</h4>
            </div>
            <div id="upgrade-subscription-modal" class="modal-body">
                <span>Are you sure you want to upgrade/downgrade your subscription. If the details below is ok with you, click the proceed button.
                <div class='upgrade-subscription'>
                    <div class="pull-left">
                        <span>FROM</span>
                        <div class="packages current">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-user"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                            <span class="package-client"></span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <span>TO</span>
                        <div class="packages next">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-user"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                            <span class="package-client"></span>
                        </div>
                    </div>
                </div>
                <div class='upgrade-actions'>
                    <a class="btn btn-success">Proceed</a>
                    <a class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notifAddSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users"></i>&nbsp;&nbsp;Add Subscription</h4>
            </div>
            <div id="upgrade-subscription-modal" class="modal-body">
                <span>If the details below is ok with you, click the proceed button.
                <div class='upgrade-subscription'>
                    <div class="align-center">
                        <div class="packages next">
                            <span class="package-label"></span>
                            <span class="package-amt"></span>
                            <span class="package-user"></span>
                            <span class="package-survey"></span>
                            <span class="package-persona"></span>
                            <span class="package-template"></span>
                            <span class="package-client"></span>
                        </div>
                    </div>
                </div>
                <div class='upgrade-actions'>
                    <a class="btn btn-success">Proceed</a>
                    <a class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account files export -->

<div class="modal persona-modal  right fade" id="uploadExportFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Files</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="uploadFiles" name="uploadFiles">
                        <div class='col-sm-12 pull-left'>
                            <div class="form-object">
                                <label>Filename:</label>
                                <input type="text" id="txt-name" name="txt-name" value="" maxlength="100"/>
                            </div>
                            <div id="upload-space">
                                <input type="hidden" id="upload-file-id" name="upload-file-id" value="" />
                                <input type="file" name="userImage" id="userImage" style="display:none">
                                <h4>Drag your files here</h4>

                                <span>Or</span>
                                <br/>
                                <button class="btn btn-primary" type="button" id="btn-upload">Browse Your Computer</button>
                                <div class="progress" id="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                                </div>
                                <div class="files" id="files"></div>
                                <input type="hidden" id="txt-files" name="txt-files" />
                            </div>
                        </div>
                        <div class="form-action">
                            <a class="btn btn-success btn-save-file">Save</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Share Persona Modal -->
<div class="persona-modal modal right fade share-persona-modal" id="sharePersonaModal" tabindex="-1" role="dialog" aria-labelledby="knowledgeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="modal-close pull-right">CLOSE</a>
                <h4 id="mySmallModalLabel" class="modal-title"><i class="fa fa-share"></i>&nbsp;SHARE PERSONA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                        <div class="share-persona share-persona-details">
                            <h4>Turn Sharing On/Off</h4>
                            <div class="enable-share">
                                <span class="input-shared">
                                    <input type="text" readonly="readonly" value="" name="txt-shared" id="txt-shared" />&nbsp;
                                    <a class="btn btn-success btn-open-window" href="#" target="_blank">Open &nbsp;<i class="fa fa-external-link"></i></a>
                                </span>
                            	<span class="pull-left">
                                    <input id="switch-toggle" class="switch-toggle switch-toggle-round-flat pull-left" type="checkbox">
                                    <label for="switch-toggle"></label>
                                </span>
                            </div>
                        </div>
                    <form id="frm-secure-persona">
                        <div class="share-persona security-password">
                            <h4>
                                <i class="fa fa-lock"></i>&nbsp;
                                <span>Privacy Settings</span>
                            </h4>
                            <span class="instruction">To secure the persona please click the checkbox below and enter password.This action will require anyone you share this Persona Link, to login before they can view the sitemap.</span><br/>
                            <div class="enable-share">
                                <span class="pull-left">
                                    <input id="chk-enable-password" class="switch-toggle switch-toggle-round-flat pull-left" type="checkbox">
                                    <label for="chk-enable-password"></label>&nbsp;
                                    <span class="pull-left">Enable Pasword Protection</span>
                                </span>
                            </div>
                            <input type="text" name="txt-password" id="txt-password" class="hide"placeholder="Enter you password here"/>
                            <a class="btn btn-success btn-add-pw hide" id="btn-add-pw" name="btn-add-pw">Update Password</a>
                        </div>
                    </form>
                    <form id="frm-share-persona">
                        <div class="share-persona invite-email">
                            <h4>
                                <i class="fa fa-share"></i>&nbsp;
                                <span>Share With</span>
                            </h4>
                            <span>Input the emails you want to share with.
                            <div id="shareEmail"></div>
                            <a id="btn-share-persona" name="btn-share-persona" class="btn btn-success btn-share-persona">Share Now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>