<div class="pull-right user-profile-nav">
    <div class="dropdown navbar-profile">
        <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">
            <img id="image-photo" src="<?= isset($this->user) && strlen(trim($this->user->getImagePath())) != 0 ? $this->user->getImagePath() : '//www.gravatar.com/avatar/74e65bc9c46c7c2d68bf7918a7628b38?s=30' ?>" />
            <span></span>
        </a>
        <ul class="dropdown-menu">
            <li class="quick-profile">
                <img id="image-photo" src="<?= isset($this->user) && strlen(trim($this->user->getImagePath())) != 0 ? $this->user->getImagePath() : '//www.gravatar.com/avatar/74e65bc9c46c7c2d68bf7918a7628b38?s=90' ?>" />
                <div class="name"><?= $this->user->getFirstName() . ' ' . $this->user->getLastName() ; ?></div>
                <div><b><?= $this->user->getAccount()->getName() ?></b></div>
                <div class="role"><?= $this->user->getUserRole() !== null ? $this->user->getUserRole()->getName() : '' ?></div>
            </li>
            <li>
                <?php if ( $this->user->getUserRole()->getId() == 3 ) { // owner = 3 ?> 
                <a href="<?= $this->url('settings') ?>"><i class="fa fa-users"></i> &nbsp; Company Profile</a>
                <?php } else { ?>
                <a href="<?= $this->url('settings/user-profile') ?>"><i class="fa fa-user"></i> &nbsp; User Profile</a>
                <?php } ?>
            </li>
            <li>
                <a href="/signout"><i class="fa fa-power-off"></i> &nbsp; Logout</a>
            </li>
        </ul>
    </div>
</div>