<ul class="nav navbar-right nav-pills">

    <?php foreach ($this->container as $menu): ?>
        <?php if ((strpos($menu->getLabel(), 'Settings') !== false && $this->validatePermission('manage')) ||
                  (strpos($menu->getLabel(), 'Settings') === false)) { ?>
            <li class="<?php echo $menu->isActive() ? 'active' : '' ?> rnav">
                <a href="<?php echo $menu->getHref() ?>"><?php echo $menu->getLabel() ?></a>
            </li>
        <?php } ?>
    <?php endforeach ?>
    	<li class="rnav nav-user-profile">
    		<?= $this->partial('user/partial/navbar-bottom.phtml', array('user' => $this->layout()->user)); ?>
    	</li>
</ul>