<ul class="nav navbar-left nav-tabs" style="">
	<li class="nav-logo">
		<img src="/img/personabold-logo-white.png" />
	</li>
    <?php foreach ($this->container as $menu): ?>
        <li class="<?php echo $menu->isActive() ? 'active' : '' ?>">
            <a href="<?php echo $menu->getHref() ?>"><?php echo $menu->getLabel() ?></a>
        </li>
    <?php endforeach ?>
</ul>