<script type="text/template" id="personaname">
    <h2>Persona Name</h2>
    <div>
        <img src="/img/persona-guidelines/persona_name.png" />
    </div>
    <div>
        <span>To implement persona name to the design of pdf you must include the <strong>##PERSONA-NAME</strong></span>
        <span>An example code below is displaying persona name</span>
        <code>
            <div>##PERSONA-NAME_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##PERSONA-NAME_persona-sample<br/>
            <br/>
            persona-sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="persona-sample"&gt;Stark&lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="agetype">
    <h2>AGE TYPE</h2>
    <div>
        <img src="/img/persona-guidelines/age-range.png" />
    </div>
    <div>
        <span>To implement persona age range to the design of pdf you must include the <strong>##AGE-TYPE-CHART</strong> OR <strong>##AGE-TYPE-TEXT</strong></span>
        <span>An example code below is displaying persona age range</span>
        <code>
            <div>##AGE-TYPE-CHART_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##AGE-TYPE-CHART_age-sample<br/>
            <br/>
            age-sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            // for ##AGE-TYPE-CHART<br/>
            &lt;iv class="age"&gt; 
            &lt;label class="age-type"&gt;min&lt;/label&gt;<br/>
            &lt;div class="chart-range age-sample"&gt;<br/>
                &lt;div style="width:0%"&gt;&lt;/div&gt;<br/>
            &lt;/div&gt;<br/>
            &lt;label class="age-type"&gt;max&lt;/label&gt;<br/>
            &lt;div class="chart-range age-sample"&gt;<br/>
                &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
            &lt;/div&gt; <br/>
            &lt;/div&gt;<br/>
            <br/>
            <br/>
            // for ##AGE-TYPE-TEXT<br/>
            &lt;iv class="age"&gt; 
            &lt;label class="age-type"&gt;min&lt;/label&gt;<br/>
            &lt;p class="age-sample"&gt;0%&lt;/p&gt;<br/>
            &lt;label class="age-type"&gt;max&lt;/label&gt;<br/>
            &lt;p class="age-sample"&gt;100%&lt;/p&gt;<br/>
            &lt;/div&gt;
        </code>
    </div>
</script>
<script type="text/template" id="gendertype">
    <h2>GENDER TYPE</h2>
    <div>
        <img src="/img/persona-guidelines/gender-type.png" />
    </div>
    <div>
        <span>To implement persona gender type to the design of pdf you must include the <strong>##GENDER-TYPE-CHART</strong> OR <strong>##GENDER-TYPE-TEXT</strong></span>
        <span>An example code below is displaying gender type.</span>
        <code>
            <div>##GENDER-TYPE-CHART_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##GENDER-TYPE-CHART_gender-sample<br/>
            <br/>
            gender-sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            // for ##GENDER-TYPE-CHART<br/>
            &lt;div class="gender"&gt;<br/>
                &lt;label class="gender-type"&gt;male&lt;/label&gt;<br/>
                &lt;div class="chart-range gender-sample"&gt;<br/>
                    &lt;div style="width:50%"&gt;&lt;/div&gt;<br/>
                &lt;/div&gt;<br/>
                &lt;label class="gender-type"&gt;female&lt;/label&gt;<br/>
                &lt;div class="chart-range gender-sample"&gt;<br/>
                    &lt;div style="width:50%"&gt;&lt;/div&gt;<br/>
                &lt;/div&gt;<br/>
            &lt;/div&gt;<br/>
            <br/>
            <br/>
            // for ##GENDER-TYPE-TEXT<br/>
           &lt;div class="gender"&gt;<br/>
               &lt;label class="gender-type"&gt;male&lt;/label&gt;<br/>
               &lt;p class="gender-sample"&gt;50%&lt;/p&gt;<br/>
               &lt;label class="gender-type"&gt;female&lt;/label&gt;<br/>
               &lt;p class="gender-sample"&gt;50%&lt;/p&gt;<br/>
           &lt;/div&gt;<br/>
        </code>
    </div>
</script>
<script type="text/template" id="archetitle">
    <h2>Archetype Title</h2>
    <div>
        <img src="/img/persona-guidelines/arche-title.png" />
    </div>
    <div>
        <span>To implement archetype title to the design of pdf you must include the <strong>##ARCHETYPE-TITLE</strong></span>
        <span>An example code below is displaying archetype title</span>
        <code>
            <div>##ARCHETYPE-TITLE_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##ARCHETYPE-TITLE_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;The Regular Guy &lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="archeshortdesc">
    <h2>Archetype Short Description</h2>
    <div>
        <img src="/img/persona-guidelines/arche-short-desc.png" />
    </div>
    <div>
        <span>To implement archetype short description to the design of pdf you must include the <strong>##SHORT-DESCRIPTION</strong></span>
        <span>An example code below is displaying archetype short description.</span>
        <code>
            <div>##SHORT-DESCRIPTION_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##SHORT-DESCRIPTION_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;aka The Everyman, The Good Guy &lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="archelongdesc">
    <h2>Archetype Long Description</h2>
    <div>
        <img src="/img/persona-guidelines/arche-long-desc.png" />
    </div>
    <div>
        <span>To implement archetype long description to the design of pdf you must include the <strong>##LONG-DESCRIPTION</strong></span>
        <span>An example code below is displaying archetype long description.</span>
        <code>
            <div>##LONG-DESCRIPTION_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##LONG-DESCRIPTION_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;The regular guy (or girl) only wants to belong and feel a part of something,
            and their greatest fear is to be left out or to stand out from the crowd. 
            Think Bilbo Baggins or Homer Simpson. At best they are friendly, empathetic and reliable - at worst 
            they are weak, superficial and suggestible. &lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="industryname">
    <h2>Industry Name</h2>
    <div>
        <img src="/img/persona-guidelines/industry-name.png" />
    </div>
    <div>
        <span>To implement industry name to the design of pdf you must include the <strong>##INDUSTRY-NAME</strong></span>
        <span>An example code below is displaying industry name.</span>
        <code>
            <div>##INDUSTRY-NAME_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##INDUSTRY-NAME_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;Technology &lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="jobtype">
    <h2>Job Type</h2>
    <div>
        <img src="/img/persona-guidelines/job-type.png" />
    </div>
    <div>
        <span>To implement job type to the design of pdf you must include the <strong>##JOB-TYPE</strong></span>
        <span>An example code below is displaying job type.</span>
        <code>
            <div>##JOB-TYPE_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##JOB-TYPE_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;Writer &lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="jobtitle">
    <h2>Job Title</h2>
    <div>
        <img src="/img/persona-guidelines/job-title.png" />
    </div>
    <div>
        <span>To implement job title to the design of pdf you must include the <strong>##JOB-TITLE</strong></span>
        <span>An example code below is displaying job title.</span>
        <code>
            <div>##JOB-TITLE_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##JOB-TITLE_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;Soft Dev &lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="jobdesc">
    <h2>Job Description</h2>
    <div>
        <img src="/img/persona-guidelines/job-desc.png" />
    </div>
    <div>
        <span>To implement job description to the design of pdf you must include the <strong>##JOB-DESCRIPTION</strong></span>
        <span>An example code below is displaying job description.</span>
        <code>
            <div>##JOB-DESCRIPTION_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##JOB-DESCRIPTION_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla mi urna, cursus lacinia rutrum a, pellentesque eget turpis. &lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="profilephoto">
    <h2>Profile Photo</h2>
    <div>
        <img src="/img/persona-guidelines/profile-photo.png" />
    </div>
    <div>
        <span>To implement profile photo to the design of pdf you must include the <strong>##PROFILE-PHOTO</strong></span>
        <span>An example code below is displaying profile photo.</span>
        <code>
            <div>##PROFILE-PHOTO_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##PROFILE-PHOTO_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;img class="sample" src="https://s3-us-west-2.amazonaws.com/planbold-qa/1552_iron_57d7fe76f3835.jpg.jpg"&gt;
        </code>
    </div>
</script>
<script type="text/template" id="basiclife">
    <h2>Basic Life Description</h2>
    <div>
        <img src="/img/persona-guidelines/basic-life.png" />
    </div>
    <div>
        <span>To implement basic life to the design of pdf you must include the <strong>##BASIC-LIFE</strong></span>
        <span>An example code below is displaying basic life.</span>
        <code>
            <div>##BASIC-LIFE_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##BASIC-LIFE_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mi urna, cursus lacinia rutrum a, 
                pellentesque eget turpis.&lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="companyname">
    <h2>COMPANY NAME</h2>
    <div>
        <span>To implement company name to the design of pdf you must include the <strong>##COMPANY-NAME</strong></span>
        <span>An example code below is displaying company name.</span>
        <code>
            <div>##COMPANY-NAME_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##COMPANY-NAME_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;p class="sample"&gt;Insivia Inc&lt;/p&gt;
        </code>
    </div>
</script>
<script type="text/template" id="companylogo">
    <h2>COMPANY LOGO</h2>
    <div>
        <span>To implement company logo to the design of pdf you must include the <strong>##COMPANY-LOGO</strong></span>
        <span>An example code below is displaying company logo.</span>
        <code>
            <div>##COMPANY-LOGO_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##COMPANY-LOGO_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;img class="sample" src="https://s3-us-west-2.amazonaws.com/planbold-qa/9178_Ride7gdi9_57d7f86b78e4b.jpeg.jpg"&gt;
        </code>
    </div>
</script>
<script type="text/template" id="personafields">
    <h2>Persona Fields</h2>
    <div>
        <img src="/img/persona-guidelines/persona-fields.png" />
    </div>
    <div>
        <span>To implement persona fields to the design of pdf you must include the <strong>##PERSONA-FIELD</strong></span>
        <span>An example code below is displaying persona fields.</span>
        <code>
            <div>##PERSONA-FIELD_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##PERSONA-FIELD_field_sample<br/>
            <br/>
            field_sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            &lt;div class="field_sample"&gt;<br/>
                &lt;ul class="persona-div"&gt;<br/>
                    &lt;li class="main"&gt;Pains/Challenges&lt;/li&gt;<br/>
                    &lt;li class="sub"&gt;Test data pains&lt;/li&gt;<br/>
                    &lt;li class="sub"&gt;Test Data pains&lt;/li&gt;<br/>
                &lt;/ul&gt;<br/>
            &lt;/div&gt;<br/>
            &lt;div class="field_sample"&gt;<br/>
                &lt;ul class="persona-div"&gt;<br/>
                    &lt;li class="main"&gt;Daily Activities&lt;/li&gt;<br/>
                    &lt;li class="sub"&gt;Vainglory test&lt;/li&gt;<br/>
                    &lt;li class="sub"&gt;test3&lt;/li&gt;<br/>
                    &lt;li class="sub"&gt;ddfdfd&lt;/li&gt;<br/>
                &lt;/ul&gt;<br/>
            &lt;/div&gt;<br/>
            .....<br/>
        </code>
    </div>
</script>
<script type="text/template" id="personamotivations">
    <h2>PERSONA MOTIVATIONS</h2>
    <div>
        <img src="/img/persona-guidelines/persona-motivations.png" />
    </div>
    <div>
        <span>To implement persona motivations to the design of pdf you must include the <strong>##PERSONA-CHART-MOTIVATIONS</strong> OR <strong>##PERSONA-MOTIVATIONS</strong></span>
        <span>An example code below is displaying persona motivations.</span>
        <code>
            <div>##PERSONA-CHART-MOTIVATIONS_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##PERSONA-CHART-MOTIVATIONS_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            // for ##PERSONA-CHART-MOTIVATIONS<br/>
            &lt;div class="sample"&gt;<br/>
                &lt;ul class="motivations-list"&gt;<br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="knowledge-type"&gt;Surpass the best to be the best&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="knowledge-type"&gt;A man's dream will never die&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="knowledge-type"&gt;In case we become candles, I want to have a nice pose&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                &lt;/ul&gt;<br/>
            &lt;/div&gt;<br/>
            <br/>
            <br/>
            // for ##PERSONA-MOTIVATIONS<br/>
            &lt;div class="sample"&gt;<br/>
                &lt;ul class="motivations-div"&gt;<br/>
                    &lt;li class="main"&gt;Surpass the best to be the best : 100%&lt;/li&gt;<br/>
                    &lt;li class="main"&gt;A man's dream will never die : 100%&lt;/li&gt;<br/>
                    &lt;li class="main"&gt;In case we become candles, I want to have a nice pose : 100%&lt;/li&gt;<br/>
                &lt;/ul&gt;<br/>
            &lt;/div&gt;<br/>
        </code>
    </div>
</script>
<script type="text/template" id="personaknowledge">
    <h2>PERSONA KNOWLEDGE</h2>
    <div>
        <img src="/img/persona-guidelines/persona-knowledge.png" />
    </div>
    <div>
        <span>To implement persona knowledge to the design of pdf you must include the <strong>##PERSONA-CHART-KNOWLEDGES</strong> OR <strong>##PERSONA-KNOWLEDGES</strong></span>
        <span>An example code below is displaying persona knowledges.</span>
        <code>
            <div>##PERSONA-CHART-KNOWLEDGES_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##PERSONA-CHART-KNOWLEDGES_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            // for ##PERSONA-CHART-KNOWLEDGES<br/>
            &lt;div class="sample"&gt;<br/>
                &lt;ul class="knowledge-list"&gt; <br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="knowledge-type"&gt;Test&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="knowledge-type"&gt;Knowledge Test1&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="knowledge-type"&gt;Persona Test&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                &lt;/ul&gt;<br/>
            &lt;/div&gt;<br/>
            <br/>
            <br/>
            // for ##PERSONA-KNOWLEDGES<br/>
            &lt;div class="sample"&gt;<br/>
                &lt;ul class="knowledge-div"&gt;<br/>
                    &lt;li class="main"&gt;Test : 100%&lt;/li&gt;<br/>
                    &lt;li class="main"&gt;Knowledge Test1 : 100%&lt;/li&gt;<br/>
                    &lt;li class="main"&gt;Persona Test : 100%&lt;/li&gt;<br/>
                &lt;/ul&gt;<br/>
            &lt;/div&gt;<br/>
        </code>
    </div>
</script>
<script type="text/template" id="personachannels">
    <h2>PERSONA CHANNELS</h2>
    <div>
        <img src="/img/persona-guidelines/persona-channels.png" />
    </div>
    <div>
        <span>To implement persona channels to the design of pdf you must include the <strong>##PERSONA-CHART-CHANNELS</strong> OR <strong>##PERSONA-CHANNELS</strong></span>
        <span>An example code below is displaying persona channels.</span>
        <code>
            <div>##PERSONA-CHART-CHANNELS_{{css_name}}</div>

            // {{css_name}} is the user's custom css wherein they can override the existing css of the design.<br/>
             <br/>
            sample will be ##PERSONA-CHART-CHANNELS_sample<br/>
            <br/>
            sample will be css of that design.<br/>
        </code>

        <span class="output">will give you this output</span>
        <code>
            // for ##PERSONA-CHART-CHANNELS<br/>
            &lt;div class="sample"&gt;<br/>
                &lt;ul class="channels-list"&gt;<br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="channels-type"&gt;YouTube&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:100%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                    &lt;li class="main"&gt;<br/>
                        &lt;label class="channels-type"&gt;Pinterest&lt;/label&gt;<br/>
                        &lt;div class="chart-range "&gt;<br/>
                            &lt;div style="width:98%"&gt;&lt;/div&gt;<br/>
                        &lt;/div&gt;<br/>
                    &lt;/li&gt;<br/>
                &lt;/ul&gt; <br/>
            &lt;/div&gt;<br/>
            <br/>
            <br/>
            // for ##PERSONA-CHANNELS<br/>
            &lt;div class="sample"&gt;<br/>
                &lt;ul class="channels-div"&gt;<br/>
                    &lt;li class="main"&gt;YouTube : 100%&lt;/li&gt;<br/>
                    &lt;li class="main"&gt;Pinterest : 98%&lt;/li&gt;<br/>
                &lt;/ul&gt;<br/>
            &lt;/div&gt;<br/>
        </code>
    </div>
</script>
<script type="text/template" id="personacreation">
Persona Creation
</script>