<!-- Industry Listing Template -->
<script id="industry-listing-template" type="text/template">
<div class="industry-items col-sm-3">
    <div class="industry-details">
        <div class="subitems">
            <label>Client:</label><span><%= accountName %></span>
        </div>
        <div class="subitems">
            <label>Industry:</label><span><%= industryName %></span>
        </div>
        <div class="subitems">
            <label>Phone:</label><span><%= phone %></span>
        </div>
        <div class="subitems">
            <label>Description:</label><div class="desc"><%= description  %></div>
        </div>
    </div>
    <div class="industry-actions">
        <div class="update-industry btn btn-success" data-uuid="<%= uuid %>" data-count="<%= indCount %>">
            <i class="fa fa-edit"></i>
            <span>Edit</span>
        </div>
        <div class="delete-industry btn btn-warning" data-uuid="<%= uuid %>">
            <i class="fa fa-times"></i>
            <span>Delete</span>
        </div>
    </div>
</div>
</script>
<script id="add-industry-template" type="text/template">
<div class="industry-items col-sm-3">
    <div class="add-industry-list">
        <i class="fa fa-plus"></i>
        <span>Add Industry</span>
    </div>
</div>
</script>
<script id="persona-fields-table-template" type="text/template">
<tr data-val="<%= fieldCode %>|<%= title %>|<%= type %>" data-description="<%= description %>" data-id="<%= id %>">
    <td class="update-persona"><%= fieldCode %></td>
    <td class="update-persona"><%= title %></td>
    <td class="update-persona"><%= type %></td>
    <td class="update-persona" colspan="3"><%= description %></td>
    <td data-id="<%= id %>" class="delete-persona"><i class="fa fa-times"></i></td>
</tr>
</script>
<script id="export-files-table-template" type="text/template">
<tr data-val="<%= name %>" data-id="<%= id %>">
     <td class="update-export-files"><%= name %></td>
    <td data-id="<%= id %>" class="delete-export-files"><i class="fa fa-times"></i></td>
</tr>
</script>
<script id="user-listing-template" type="text/template">
    <div class="user-items col-sm-3">
        <div class="user-img">
            <img class="user-photo" src="<%= image %>" />
        </div>
        <div class="user-details">
            <span><%= firstname %> <%= lastname %></span>
            <span><%= email %></span>
            <span><%= roleName %>
        </div>
        <div class="user-action">
            <% if ( roleId != 3 ) { %>
            <i class="fa fa-edit edit-users btn btn-success" data-email="<%= email %>" data-uuid="<%= uuid %>" data-role="<%= roleId %>">edit</i>&nbsp;&nbsp;
            <i class="fa fa-times delete-users btn btn-warning" data-email="<%= email %>" data-uuid="<%= uuid %>" data-role="<%= roleId %>">delete</i>
            <% } else { %>
            <span>Actions not allowed.</span>
            <% } %>
        </div>
    </div>
</script>

<script id="sub_industry_listing" type="text/template">
    <tr class="sublist-<%= subList.parentIndustry %>" data-uuid="<%= subList.uuid %>" data-count="<%= counter %>" style="display: none;">
        <td class="update-sub-industry"></td>
        <td class="update-sub-industry"><%= subList.industryName %></td>
        <td class="update-sub-industry"><a href="telno:<%= subList.phone %>"><%= subList.phone %></a></td>
        <td class="update-sub-industry"><%= subList.description %></td>
        <td class="industry-action">
            <i title="Delete Industry" data-uuid="<%= subList.uuid %>" class="fa fa-times delete-industry"></i>
        </td>
    </tr>
</script>