<div class="box-grey green" style="<?= strlen(trim($color)) != 0 ? 'border-top: 3px solid '.$color : '' ?>">
    <div class="app-management">
        <?= $this->partial('user/partial/colors.phtml', array('colorManagement' => $colorManagement,
                                                              'account'         => $account)); ?>
    </div>
</div>