<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details setting-export-files">
    <div class="row opportunity-header">
        <div class="col-sm-12">
            <span class="size-h2">Account Export Files</span>
            <a id="btn-add-files" class="btn btn-success btn-h1">Add Account Export Files</a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table id="table-account-files" class="table table-striped">
                <thead>
                    <tr>
                        <th><strong>Name</strong></th>
                        <th><strong>Preview</strong></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (!empty($this->accountFiles)) { ?>
                        <?php foreach ($this->accountFiles as $files) { ?>
                            <tr data-val="<?= $files['name'] . "|" . $files['path'] ?>" data-id="<?= $files['id'] ?>">
                                <td class="update-files"><?= $files['name'] ?></td>
                                <td class="update-files"><?= $files['path'] ?></td>
                                <td class="delete-files" data-id="<?= $files['id'] ?>"><i class="fa fa-times"></i></td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                    </thead>
            </table>
        </div>
    </div>
    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('user/partial/templates.phtml') ?>
    <script>
        head.ready('backbone', function() {
            head.load('/js/min/settings.min.js'); 
        });
    </script>
</div>