<?php

$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();
?>
<div class="col-sm-8 col-md-8 main settings-alert">
    <h1>Alerts</h1>
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <form role="form" id="frm-alert" name="frm-alert">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="checkbox">
                            <label>
                                <input id="have-alert" type="checkbox" <?= $this->user->getHaveAlert() ? "checked='checked'" : '' ?>> 
                                <span class="text-muted">Activate alert to notify the user all the updates in persona.</span>
                            </label>
                        </div>
                        <div class="alert-config <?= $this->user->getHaveAlert() ? '' : 'hide' ?>">
                            <div class="form-class">
                                <label>
                                    <span>What time do you want to notify you everyday?</span>
                                    <label>
                                        <select id="hours" name="hours">
                                        <?php for ( $i = 0; $i < 24; $i++ ) { ?>
                                            <option <?= ($this->user->getHours() !== null && (int)$this->user->getHours() == $i) ? 'selected' : '' ?> value="<?= str_pad($i, 2, 0, STR_PAD_LEFT) ?>"><?= str_pad($i, 2, 0, STR_PAD_LEFT) ?>:00</option>
                                        <?php } ?>
                                        </select>
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="clearfix save-btn row">
                            <button type="submit" class="btn btn-success btn-update-schedule">Save Schedule</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<?= $this->partial('user/partial/modals.phtml') ?>
<?= $this->partial('user/partial/templates.phtml') ?>
<script>
    head.ready('backbone', function () {
        head.load('/js/min/settings.min.js');
    });
</script>