<?php
    $this->headLink()->appendStylesheet('/css/min/theme.min.css');
    $this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
    echo $this->navigation('user.navigation.settings')->menu()->render(); 
    $colorManagement = array('app-color');
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('method', 'post');
    $form->setAttribute('id', 'account-form');
    $form->setAttribute('action', '/settings/process/account');
    
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details settings-company theme-management">
    <div class="row">
        <h1>Company Profile</h1>
         <?php
        $flash = $this->flashMessenger()
                ->setMessageOpenFormat('<label%s>')
                ->setMessageCloseString('</label>');
        echo $flash->render('error');
        echo $flash->render('success');
        ?>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="profile-big col-sm-12">
                    <img src="<?= isset($this->account) && strlen(trim($this->account->getLogo())) != 0 ? $this->account->getLogo() : '//www.gravatar.com/avatar/74e65bc9c46c7c2d68bf7918a7628b38?s=200' ?>" />
                </div>
                <form id="uploadLogo" name="uploadLogo">
                    <div class='col-sm-12 pull-left'>
                        <div id="upload-space">
                            <input type="hidden" id="upload-type" name="upload-type" value="company" />
                            <input type="file" name="userImage" id="userImage" style="display:none">
                            <button class="btn btn-primary col-sm-12" type="button" id="btn-upload">Browse Your Computer</button>
                            <br/>
                            <span>Or Drag your file here.</span>
                            <div class="progress" id="progress">
                                <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                            </div>
                            <div class="files" id="files"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-7 col-md-7">
                <div class="color-picker">
                    <?= $this->partial('user/partial/theme-management.phtml', array('color' => isset($this->colors['secondary-color']) ? $this->colors['secondary-color'] : '',
                        'colorManagement' => $colorManagement,
                        'account'         => $this->account)) ?>
                </div>
                <div class="form-class">
                    <?php echo $this->form()->openTag($form) ?>
                    <fieldset>
                        <div class="form-group">
                            <label for="company_name">Company Name</label>
                            <?php
                            $companyName = $form->get('company');
                            $companyName->setAttribute('class', 'form-control input-round');
                            $companyName->setValue(isset($this->account) ? $this->account->getName() : '');
                            echo $this->formInput($companyName);
                            ?>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <?php
                            $description = $form->get('description');
                            $description->setAttribute('class', 'form-control input-round');
                            $description->setAttribute('rows', 4);
                            $description->setValue(isset($this->account) ? $this->account->getDescription() : '');
                            echo $this->formTextArea($description);
                            ?>
                        </div>
                        <?php if ( $this->validatePermission('manage') ) { ?>
                        <button type="submit" name="submit" class="btn&#x20;btn-success" value="">Save Account</button>
                        <?php } ?>
                    </fieldset>
                    <?= $this->form()->closeTag() ?>
                </div>
            </div>
        </div>
    </div>
    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('user/partial/templates.phtml') ?>
    <script>
        var accountColors = <?= json_encode($this->colors) ?>;
        head.ready('backbone', function() {
            head.load(
                '//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.iframe-transport.js',
                {colorpicker: '/js/bootstrap-colorpicker-plus.js'},    
                {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' }); 
        });
        head.ready('fileupload', function() {
            head.load('/js/min/settings.min.js',
                      '/js/min/theme.min.js');
        });
    </script>
</div>