<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details setting-industries">
    <div class="row opportunity-header">
        <div class="col-sm-12">
            <span class="size-h1">Industry</span>
            <a id="btn-add-industry" class="btn btn-success btn-h1">Add Industry</a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table id="table-industry" class="table table-striped">
                <thead>
                    <tr>
                        <th><strong>Account Name</strong></th>
                        <th><strong>Industry Name</strong></th>
                        <th><strong>Telephone</strong></th>
                        <th><strong>Description</strong></th>
                        <th class="industry-action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (!empty($this->industries)) { $counter =0;?>
                        <?php foreach ($this->industries as $industry) { ?>
                            <tr data-uuid="<?= $industry['uuid'] ?>" data-count="<?= $counter?>" class="parent_<?= $industry['id']?>">
                                <td class="update-industry"><?= ucwords($industry['accountName']) ?></td>
                                <td class="update-industry"><?= ucwords($industry['industryName']) ?></td>
                                <td class="update-industry"><a href="telno:<?= $industry['phone'] ?>"><?= $industry['phone'] ?></a></td>
                                <td class="update-industry"><?= $industry['description'] ?></td>
                                <td class="industry-action">
                                    <i title="Delete Industry" id="delete_<?= $industry['id']?>" data-uuid="<?= $industry['uuid'] ?>" class="fa fa-times delete-industry"></i>
                                    <i title="Add Sub-industry" data-parentid="<?= $industry['id'] ?>" data-uuid="<?= $industry['uuid'] ?>"
                                       class="fa fa-plus add-sub-industry"></i>
                                    <i style="display: none" class="fa fa-caret-down toggle-sub-industry" data-id="<?= $industry['id']?>"></i>
                                </td>
                            </tr>
                        <?php $counter++;} ?>
                    <?php } ?>
                    </thead>
            </table>
        </div>
    </div>
    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('user/partial/templates.phtml') ?>
    <script>
        
        var allClient   = <?= json_encode($this->allClient) ?>,
            allIndustry = <?= json_encode($this->industries) ?>,
            allSubIndustries = <?= json_encode($this->subIndustries) ?>;
        head.ready('backbone', function() {
            head.load('/js/min/settings.min.js'); 
        });
    </script>
</div>