<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main settings-invoice">
    <div class="row">
        <div class="col-sm-9 col-md-9">
            <div class="invoice row">
                <h1>Invoice #<?= $this->invoiceDetails['id'] ?></h1>
                <a class="btn btn-primary" href="<?= $this->url('settings/process/download-invoice', array('invoiceId' => $this->invoiceDetails['id'])) ?>">Download PDF</a>
                <div class="invoice-head">
                    <?php if (!empty($this->invoiceDetails['receiptNumber'])) { ?>
                        <div class="pull-right invoice-receipt"><strong>Receipt:</strong> #<?= $this->invoiceDetails['receiptNumber'] ?></div>
                    <?php } ?>
                </div>
                <table class="invoice-table table table-hover">
                    <tbody>
                        <tr>
                            <th><span>DESCRIPTION</span></th>
                            <th><span>PERIOD</span></th>
                            <th><span>AMOUNT</span></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td><span><?= $this->invoiceDetails['details'] ?></span></td>
                            <td><span><?= $this->invoiceDetails['startDuration'] . ' to ' . $this->invoiceDetails['endDuration'] ?></span></td>
                            <td><span>$<?= $this->invoiceDetails['amountDue'] ?></span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="subtotal pull-right">
                    <li>
                        <span class="invoice-label">Subtotal:</span>
                        <span class="number">$<?= $this->invoiceDetails['subTotal'] ?></span>
                    </li>
                    <li>
                        <span class="invoice-label">Total:</span>
                        <span class="number">$<?= $this->invoiceDetails['total'] ?></span>
                    </li>
                    <li>
                        <span class="invoice-label amount-paid">Amount Paid:</span>
                        <span class="number">$<?= $this->invoiceDetails['amountDue'] . ' ' . $this->invoiceDetails['currency'] ?></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>Ï