<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render(); 
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details">
    <div class="row">
        <div class="col-sm-10 col-md-8">
            <div class="history row">
                <h1>Pending Payments</h1>
                <table class="history-table table table-hover">
                    <tbody>
                        <tr>
                            <th>Billing Date</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                        <?php foreach($pendingPayment as $value) { ?>
                        <tr>
                            <td><?= $value['billDate'] ?></td>
                            <td>$<?= $value['amount'] ?></td>
                            <td><?= $value['description'] ?></td>
                            <td></td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="history row">
                <h1>Past Payments</h1>
                <table class="history-table table table-hover">
                    <tbody>
                        <tr>
                            <th>Billing Date</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Invoice Id</th>
                            <th></th>
                        </tr>
                        <?php foreach($previousPayment as $data) { ?>
                        <tr>
                            <td><?= $data['billDate'] ?></td>
                            <td>$<?= $data['amount'] ?></td>
                            <td><?= $data['description'] ?></td>
                            <td><a href="<?= $this->url('settings/invoice', array('invoiceId' => $data['id'])) ?>"><?= $data['id'] ?></a></td>
                            <td><a href="<?= $this->url('settings/process/download-invoice', array('invoiceId' => $data['id'])) ?>">Download PDF</a></td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>