<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details setting-persona-fields">
    <div class="row opportunity-header">
        <div class="col-sm-12">
            <span class="size-h1">Persona Fields</span>
            <a id="btn-add-persona-fields" class="btn btn-success btn-h1">Add Persona Fields</a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table id="table-persona-fields" class="table table-striped">
                <thead>
                    <tr>
                        <th><strong>Persona Field Code</strong></th>
                        <th><strong>Title</strong></th>
                        <th><strong>Type</strong></th>
                        <th colspan="3"><strong>Persona Instruction</strong></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (!empty($this->personaFields)) { ?>
                        <?php foreach ($this->personaFields as $personaData) { ?>
                            <tr data-val="<?= $personaData['fieldCode'] . "|" . $personaData['title'] . "|" . $personaData['type'] ?>" data-description="<?= $personaData['description'] ?>" data-id="<?= $personaData['id'] ?>">
                                <td class="update-persona"><?= $personaData['fieldCode'] ?></td>
                                <td class="update-persona"><?= ucwords($personaData['title']) ?></td>
                                <td class="update-persona"><?= $personaData['type'] ?></td>
                                <td class="update-persona" colspan="3"><?= $personaData['description'] ?></td>
                                <?php if ($personaData['id'] > 10) { ?>
                                <td class="delete-persona" data-id="<?= $personaData['id'] ?>"><i class="fa fa-times"></i></td>
                                <?php } else { ?>
                                <td class="update-persona" data-id="<?= $personaData['id'] ?>">Default Persona's</td>
                                <?php } ?>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                    </thead>
            </table>
        </div>
    </div>
    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('user/partial/templates.phtml') ?>
    <script>
        head.ready('backbone', function() {
            head.load('/js/min/settings.min.js'); 
        });
    </script>
</div>