<?php
    $this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
    echo $this->navigation('user.navigation.settings')->menu()->render(); 
   
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details settings-persona">
    <div class="row col-sm-12 template-header">
        <h1>Persona Templates Guidelines</h1>
        <span>Designing in Persona template is so easy just create a html and paste a css in the fields and click the Update Template button.</span>
        <span>Below are the details how you can integrate some of the fields seen in the persona pages.</span>
    </div>
    <div class="col-sm-12 template-descriptions-content">
        <div class="col-sm-2 column-fields">
            <div class="col-sm-12">
                <ul class="persona-template-content">
                    <li template="personacreation">CREATION OF PAGE</li>
                    <li template="profilephoto">PROFILE PHOTO</li>
                    <li template="personaname">PERSONA NAME</li>
                    <li template="agetype">AGE TYPE</li>
                    <li template="gendertype">GENDER TYPE</li>
                    <li template="archetitle">ARCHETYPE TITLE</li>
                    <li template="archeshortdesc">SHORT DESCRIPTION</li>
                    <li template="archelongdesc">LONG DESCRIPTION</li>
                    <li template="industryname">INDUSTRY NAME</li>
                    <li template="jobtype">JOB TYPE</li>
                    <li template="jobtitle">JOB TITLE</li>
                    <li template="jobdesc">JOB DESCRIPTION</li>
                    <li template="basiclife">BASIC LIFE</li>
                    <li template="companyname">COMPANY NAME</li>
                    <li template="companylogo">COMPANY LOGO</li>
                    <li template="personafields">PERSONA FIELDS</li>
                    <li template="personachannels">PERSONA CHANNELS</li>
                    <li template="personaknowledge">PERSONA KNOWLEDGES</li>
                    <li template="personamotivations">PERSONA MOTIVATIONS</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 column-descriptions">
            <div class="col-sm-12">
                <div class="template-implementations"></div>
            </div>
        </div>
    </div>
    <?= $this->partial('user/partial/persona-templates.phtml') ?>
    <script>
        head.ready('backbone', function() {
            head.load(
                    '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.iframe-transport.js',
                    {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' }); 
        });
        head.ready('fileupload', function() {
            head.load('/js/min/settings.min.js');
        });
    </script>
</div>