<?php
    $this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
    echo $this->navigation('user.navigation.settings')->menu()->render(); 
   
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details settings-persona">
    <div class="row">
        <h1>Persona Templates</h1>
    </div>
    <a class="btn btn-success btn-lg btn-add-persona">Add Persona Templates</a>
    <div class="gallery-template">
        <?php foreach ( $this->templateGallery as $gallery ) { ?>
        <div class="templates" data-uuid="<?= $gallery['uuid'] ?>">
            <img src="<?= $gallery['templatePreviewPath'].'?v='.md5(date("Y/m/d h:i:s")) ?>"/>
            <div class="update-temp">
                <span><?= $gallery['templateName'] ?></span>
                <a href="#">Update Templates</a>
            </div>
        </div>
        <?php } ?>
    </div>
    <script>
        head.ready('backbone', function() {
            head.load(
                    '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.iframe-transport.js',
                    {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' }); 
        });
        head.ready('fileupload', function() {
            head.load('/js/min/settings.min.js');
        });
    </script>
</div>