<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();
$creditCardExists     = count($this->stripeDetails) >= 1 ? true : false;
$stripeShippingExists = count($this->stripeShipping) >= 1 ? true : false;
$creditForm           = $this->creditForm;
$creditForm->prepare();
$creditForm->setAttribute('method', '');
$billingForm    = $this->billingForm;
$billingForm->prepare();
$billingForm->setAttribute('method', '');
$stripeDetails  = count($this->stripeDetails) > 0 ? $this->stripeDetails[0] : array();
$stripeShipping = $stripeShippingExists ? $this->stripeShipping[0] : null;
?>
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 settings-details settings-subscription-info">
    <div class="row subscription-container col-sm-12">
        <div class="subscription-header">Subscription Info</div>
        <div class="row">
        	
            <div class="container-fluid">
                <div class="row">
            		<?php foreach ( $this->allPackages as $allPackages ) { ?>
            			<?php if ( isset($this->package['stripePlanCode']) && $this->package['stripePlanCode'] == $allPackages->getPlanCode() ) {
            				$active_class = 'current';
            			} ?>
            		<div class="col-sm-3 subscription-packages <?= $active_class ?>">
            			<?php
	                        $jsonAllPackages[$allPackages->getStripePlanCode()] = array(
	                            'packageName'   => $allPackages->getStripePlanCode(),
	                            'amount'        => '$'.number_format($allPackages->getAmount(), 2),
	                            'userCount'     => $allPackages->getUserCount(),
	                            'templateCount' => $allPackages->getTemplateCount(),
	                            'clientCount'   => $allPackages->getClientCount(),
	                            'surveyCount'   => $allPackages->getSurveyCount(),
                                    'planCode'      => $allPackages->getPlanCode()
	                        );
	                    ?>
	                    <div title="<?= $this->package['stripePlanCode'] == $allPackages->getStripePlanCode() ? 'This is your current package' : 'Please click to update new package' ?>" class="package-data <?= $this->package['stripePlanCode'] == $allPackages->getStripePlanCode() ? 'current' : '' ?>">
	                        <span class="package-name"><?= $allPackages->getPlanCode() ?></span>
	                        <span class="amount">$<?= number_format($allPackages->getAmount(), 2) ?> / Month</span>
	                        <ul>
	                        	<li><?= $allPackages->getUserCount() == 1 ? '1 User' : ($allPackages->getUserCount() <= 5 ? '5 Users' : 'Unlimited Users') ?></li>
		                        <?= $allPackages->getClientCount() == 0 ? '' : '<li>Unlimited Client Groups</li>' ?>
		                        <li><?= $allPackages->getTemplateCount() == 0 ? '1 Export Template' : 'Full Export Template Library' ?></li>
		                        <?= $allPackages->getSurveyCount() == 0 ? '' : '<li>Persona Survey System</li>' ?>
		                        <li>Unlimited Personas</li>
	                        </ul>
	                        <input type="hidden" id="package-name" name="package-name" value="<?= $allPackages->getStripePlanCode() ?>"/>
	                        <?php if ( isset($this->package['stripePlanCode']) && $this->package['stripePlanCode'] == $allPackages->getStripePlanCode() ) { ?>
	                            <div class="watermark"><span>Currently Active</span></div>
	                        <?php } ?>
	                    </div>
            		</div>
            		<?php } ?>
            	</div>
            </div>
            
            <div id="credit-card-form-details" class="billing row">
                <div class="size-h5"><strong>Credit Card Details:</strong></div>
                <?php if ($creditCardExists) { ?>
                    <div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 edit-card-button">
                        <button class="btn btn-default">Edit</button>
                    </div>
                    <div class="col-sm-6 col-md-7 text-muted edit-card-details" >
                        <div>Card ending in *<?= $stripeDetails->getCardNumber() ?></div>
                        <div>Expiry Month: <?= $stripeDetails->getExpiryMonth() ?></div>
                        <div>Expiry Year: <?= $stripeDetails->getExpiryYear() ?></div>
                        <div>CVC: <?= $stripeDetails->getCvc() ?></div>
                        <div class="brand">
                            <div class="cc-icon <?= strtolower($stripeDetails->getBrand()) ?>"></div>
                        </div>
                    </div>
                <?php } ?>
                <div class="col-sm-9 col-md-9 text-muted edit-card-form <?= $creditCardExists ? 'hide' : '' ?>">
                    <?= $this->form()->openTag($creditForm) ?>
                    <div class="credit-form">
                        <div class="pull-left col-sm-2 inline">
                            <span>Card Name:</span>
                        </div>
                        <div class="pull-left col-sm-10 inline">
                            <?php
                            $cardName = $creditForm->get('card_name');
                            $cardName->setAttribute('class', 'form-control');
                            $cardName->setAttribute('style', 'width:300px');
                            $cardName->setAttribute('value', $creditCardExists ? $stripeDetails->getCardName() : '');
                            echo $this->formText($cardName);
                            ?>
                        </div>
                    </div>
                    <div class="credit-form">
                        <div class="pull-left col-sm-2 inline">
                            <span>Card Number:</span>
                        </div>
                        <div class="pull-left col-sm-6 inline">
                            <?php
                            $number = $creditForm->get('number');
                            $number->setAttribute('class', 'form-control');
                            $number->setAttribute('style', 'width:200px');
                            if ($creditCardExists) {
                                $number->setAttribute('value', str_pad($stripeDetails->getCardNumber(), 16, "*", STR_PAD_LEFT));
                                $number->setAttribute('readonly', 'readonly');
                            }
                            echo $this->formText($number);
                            ?>
                        </div>
                        <div class="pull-left col-sm-2 inline">
                            <span>CVC:</span>
                        </div>
                        <div class="pull-left col-sm-2 inline">
                            <?php
                            $cvc = $creditForm->get('cvc');
                            $cvc->setAttribute('class', 'form-control');
                            $cvc->setAttribute('style', 'width:60px');
                            $cvc->setAttribute('value', $creditCardExists ? $stripeDetails->getCvc() : '');
                            echo $this->formText($cvc);
                            ?>
                        </div>
                    </div>
                    <div class="credit-form">
                        <div class="pull-left col-sm-2 inline">
                            <span>Expiry Month:</span>
                        </div>
                        <div class="pull-left col-sm-6 inline">
                            <?php
                            $expMonth = $creditForm->get('exp_month');
                            $expMonth->setAttribute('class', 'form-control');
                            $expMonth->setAttribute('style', 'width:45px');
                            $expMonth->setAttribute('value', $creditCardExists ? $stripeDetails->getExpiryMonth() : '');
                            echo $this->formText($expMonth);
                            ?>
                        </div>
                        <div class="pull-left col-sm-2 inline">
                            <span>Expiry Year:</span>
                        </div>
                        <div class="pull-left col-sm-2 inline">
                            <?php
                            $expYear = $creditForm->get('exp_year');
                            $expYear->setAttribute('class', 'form-control');
                            $expYear->setAttribute('style', 'width:60px');
                            $expYear->setAttribute('value', $creditCardExists ? $stripeDetails->getExpiryYear() : '');
                            echo $this->formText($expYear);
                            ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <a class="btn btn-primary btn-submit-card">Submit</a>
                        <?php if ($creditCardExists) { ?>
                            <a class="btn btn-primary btn-card-cancel">Cancel</a>
                        <?php } ?>
                    </div>
                    <br />
                    <?= $this->form()->closeTag() ?>
                </div>
                <div class="billing-notes col-sm-3">
                    <img class="cc" src="/img/cc.png" />
                    <img class="powered-stripe" src="/img/stripe/Big/powered_by_stripe.png" />
                    <span>Got questions, email us at customercare@personabold.com</span>
                </div>
            </div>
            <div class="billing row">
                <div class="size-h5"><strong>Billing Details:</strong></div>
                <?php if ($stripeShippingExists) { ?>
                    <div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 edit-billing-button">
                        <button class="btn btn-default">Edit</button>
                    </div>
                    <div class="col-sm-7 col-md-8 text-muted edit-billing-details">
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <div><?= $creditCardExists ? $stripeDetails->getCardName() : $this->user->getFirstName() . ' ' . $this->user->getLastName() ?></div>
                                <div><?= $stripeShipping->getCompany() ?></div>
                                <div><?= $stripeShipping->getEmail() ?></div>
                                <div><?= $stripeShipping->getPhone1() ?></div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
                                <div><?= $stripeShipping->getAddress1() ?></div>
                                <div><?= $stripeShipping->getAddress2() ?></div>
                                <div><?= $stripeShipping->getState() . ', ' . $stripeShipping->getCity() . ' ' . $stripeShipping->getPostalCode() ?></div>
                                <div><?= $stripeShipping->getCountry() ?></div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div class="col-sm-12 col-md-12 text-muted edit-billing-form <?= $stripeShippingExists ? 'hide' : '' ?>">
                    <div class="row">
                        <?= $this->form()->openTag($billingForm) ?>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>Email*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $email = $billingForm->get('email');
                                $email->setAttribute('class', 'form-control');
                                $email->setAttribute('value', $stripeShippingExists ? $stripeShipping->getEmail() : $this->user->getEmail());
                                echo $this->formText($email);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>Company*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $company = $billingForm->get('company');
                                $company->setAttribute('class', 'form-control');
                                $company->setAttribute('value', $stripeShippingExists ? $stripeShipping->getCompany() : $this->user->getAccount()->getName());
                                echo $this->formText($company);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>Address*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $address1 = $billingForm->get('address1');
                                $address1->setAttribute('class', 'form-control');
                                $address1->setAttribute('value', $stripeShippingExists ? $stripeShipping->getAddress1() : '');
                                echo $this->formText($address1);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>&nbsp;</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $address2 = $billingForm->get('address2');
                                $address2->setAttribute('class', 'form-control');
                                $address2->setAttribute('value', $stripeShippingExists ? $stripeShipping->getAddress2() : '');
                                echo $this->formText($address2);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>City*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $city = $billingForm->get('city');
                                $city->setAttribute('class', 'form-control');
                                $city->setAttribute('value', $stripeShippingExists ? $stripeShipping->getCity() : '');
                                echo $this->formText($city);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>State*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $state = $billingForm->get('state');
                                $state->setAttribute('class', 'form-control');
                                $state->setAttribute('value', $stripeShippingExists ? $stripeShipping->getState() : '');
                                echo $this->formText($state);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>Country*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $country = $billingForm->get('country');
                                $country->setAttribute('class', 'form-control');
                                $country->setAttribute('value', $stripeShippingExists ? $stripeShipping->getCountry() : 'United States');
                                echo $this->formText($country);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>Postal Code*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $postalCode = $billingForm->get('postal_code');
                                $postalCode->setAttribute('class', 'form-control');
                                $postalCode->setAttribute('style', 'width:80px');
                                $postalCode->setAttribute('value', $stripeShippingExists ? $stripeShipping->getPostalCode() : '');
                                echo $this->formText($postalCode);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>Phone Number*:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $phone1 = $billingForm->get('phone1');
                                $phone1->setAttribute('class', 'form-control');
                                $phone1->setAttribute('value', $stripeShippingExists ? $stripeShipping->getPhone1() : $this->user->getPhone());
                                echo $this->formText($phone1);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form">
                            <div class="pull-left col-sm-2 inline">
                                <span>Other Number:</span>
                            </div>
                            <div class="pull-left col-sm-6 inline billing-input">
                                <?php
                                $phone2 = $billingForm->get('phone2');
                                $phone2->setAttribute('class', 'form-control');
                                $phone2->setAttribute('value', $stripeShippingExists ? $stripeShipping->getPhone2() : '');
                                echo $this->formText($phone2);
                                ?>
                            </div>
                        </div>
                        <div class="billing-form col-sm-12">
                            <a class="btn btn-primary btn-submit-billing">Submit</a>
                            <?php if ($stripeShippingExists) { ?>
                                <a class="btn btn-primary btn-billing-cancel">Cancel</a>
                            <?php } ?>
                        </div>
                    </div>
                    <?= $this->form()->closeTag() ?>
                </div>
            </div>
        </div>
    </div>
    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('user/partial/templates.phtml') ?>
    <script>
        var currPackages = <?= json_encode($this->package) ?>;
        var allPackages  = <?= json_encode($jsonAllPackages) ?>;
        var isCreditCardExist = <?= $creditCardExists ? 1 : 0 ?>;
        head.ready('backbone', function() {
            head.load('/js/min/settings.min.js'); 
        });
    </script>
</div>