<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details settings-design-template">
    <div class="row">
        <h1>Template Details</h1>
    </div>
    <div class="templates-design">
        <div class="published-div <?= $this->templateUuid != "0" ? '' : 'hide' ?>">
            <a class="btn btn-success btn-lg btn-preview-pdf"><i class="fa fa-search"></i>Preview Persona PDF</a>
            <a class="btn btn-success btn-lg btn-preview-html" target="_blank" href="<?= $this->url('settings/persona-templates/process/previewTemplateHTML', array('uuid' =>  $this->templateUuid)) ?>"><i class="fa fa-search"></i>Preview Persona HTML</a>
            <a class="btn btn-success btn-lg btn-published-persona"><i class="fa fa-file"></i>Published Persona Template</a>
        </div>
        <form id="update-design" name="update-design">
            <label>
                <span>Template Name</span>
                <input type="text" name="template-name" id="template-name" class="form-control" <?= $this->templateUuid != "0" ? 'readonly="readonly"' : '' ?> value="<?= isset($this->templateDetails['templateName']) ? $this->templateDetails['templateName'] : '' ?>">
            </label>
            <h3>Template Body</h3>
            <textarea id="temp-body" name="temp-body" class="custom-body"><?= isset($this->templateDetails['templateBody']) ? (isset(json_decode($this->templateDetails['templateBody'])->data) ? json_decode($this->templateDetails['templateBody'])->data : '' ) : '' ?></textarea>
            <h3>Custom CSS</h3>
            <textarea id="custom-css" name="custom-css" class="custom-css"><?= isset($this->templateDetails['templateBody']) ? (isset(json_decode($this->templateDetails['templateBody'])->css) ? json_decode($this->templateDetails['templateBody'])->css : '' ) : '' ?></textarea>
            <div class="temp-action">
                <a class="btn btn-success btn-update-template">Update Template</a>
                <a class="btn btn-warning btn-cancel">Cancel</a>
            </div>
        </form>
    </div>
    <script>
        var templateUuid = '<?= $this->templateUuid ?>';
        head.ready('backbone', function () {
            head.load(
                '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.iframe-transport.js',
                {fileupload: '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js'});
        });
        head.ready('fileupload', function () {
            head.load('/js/min/settings.min.js');
        });
    </script>
</div>