<?php

$this->headLink()->appendStylesheet('/css/min/theme.min.css');
$colorManagement = array('app-color');
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();

?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 theme-management">
    <div class="row opportunity-header">
        <div class="col-sm-12">
            <span class="size-h1">Theme Settings</span>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <?= $this->partial('user/partial/theme-management.phtml', array('color' => isset($this->colors['secondary-color']) ? $this->colors['secondary-color'] : '',
                'colorManagement' => $colorManagement,
                'account'         => $this->account)) ?>
        </div>
    </div>
    <script>
        var accountColors = <?= json_encode($this->colors) ?>;
        head.ready('backbone', function () {
            head.load('//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.min.js',
                {colorpicker: '/js/bootstrap-colorpicker-plus.js'},
                {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' });
        });
        head.ready('fileupload', function () {
            head.load('/js/min/settings.min.js',
                '/js/min/theme.min.js');
        });
    </script>
</div>
