<?php
$currentUser = '';
if(null !== $this->layout()->user) {
    $currentUser = $this->layout()->user;
}
$arrRoleDesc = array(
    'owner'   => 'An owner should be the only one with access to settings.',
    'manager' => 'Manager can do anything but settings.',
    'basic'   => 'A basic user can view, but not add content or start a conversion - it is a view only mode.'
);

$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render(); 
?>
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 settings-details settings-users">
    <div class="row">
        <h1>Users</h1>
        <div class="row">
            <div class="role-description">
                <h4>Role Descriptions:</h4>
                <button class="btn btn-success btn-selected" data-search="owner">Owner</button>
                <button class="btn btn-success" data-search="manager">Manager</button>
                <button class="btn btn-success" data-search="basic">Basic Role</button>
                <pre>An owner should be the only one with access to settings.</pre>
            </div>
            <div class="user-management">
                <h4>Invite Users</h4>
                <form id="invite-user">
                    <input type="text" id="firstname" name="firstname" value="" class="form-control" placeholder="First Name" />
                    <input type="text" id="lastname" name="lastname" value="" class="form-control" placeholder="Last Name" />
                    <input type="text" id="email" name="email" value="" class="form-control" placeholder="User's Email" />
                    <select id="role" class="form-control">
                        <option value="1">Basic Role</option>
                        <option value="2">Manager</option>
                        <option value="3">Owner</option>
                    </select>
                    <a id="btn-create" name="btn-create" class="btn btn-primary">Send Invite</a>
                </form>
            </div>
            <div class="col-sm-12 col-md-12 user-settings-list"></div>
        </div>
    </div>



    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('user/partial/templates.phtml') ?>
    <script>
        var currentUserRole = '<?= (!empty($currentUser)) ? $currentUser->getUserRole()->getRoleType() : ''; ?>';
            allusers        = <?= json_encode($this->user) ?>,
            roleDescription = <?= json_encode($arrRoleDesc) ?>;
            head.ready('backbone', function() {
            head.load('/js/min/settings.min.js'); 
        });
    </script>
</div>