<?php
$this->navigation('user.navigation.settings')->menu()->setPartial('user/partial/setting');
echo $this->navigation('user.navigation.settings')->menu()->render();

$form = $this->form;
$form->prepare();
$form->setAttribute('method', 'post');
$form->setAttribute('id', 'user-profile-form');
$form->setAttribute('action', '/settings/process/user-profile');
?>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 settings-details settings-user-profile">
    <h1>Users Profile</h1>
    <?php
    $flash = $this->flashMessenger()
            ->setMessageOpenFormat('<label%s>')
            ->setMessageCloseString('</label>');
    echo $flash->render('error');
    echo $flash->render('success');
    ?>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="profile-big col-sm-12">
                <img src="<?= strlen(trim($this->user->getImagePath())) != 0 ? $this->user->getImagePath() : '//www.gravatar.com/avatar/74e65bc9c46c7c2d68bf7918a7628b38?s=200' ?>" />
            </div>
            <form id="uploadPhoto" name="uploadPhoto">
                <div class='col-sm-12 pull-left'>
                    <div id="upload-space">
                        <input type="hidden" id="upload-type" name="upload-type" value="user" />
                        <input type="file" name="userImage" id="userImage" style="display:none">
                        <button class="btn btn-primary col-sm-12" type="button" id="btn-upload">Browse Your Computer</button>
                        <br/>
                        <span>Or Drag your file here.</span>
                        <div class="progress" id="progress">
                            <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                        </div>
                        <div class="files" id="files"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-7 col-md-7">
            <?php echo $this->form()->openTag($form) ?>
            <fieldset>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <?php
                    $firstName = $form->get('first_name');
                    $firstName->setAttribute('class', 'form-control input-round');
                    $firstName->setValue($this->user->getFirstName());
                    echo $this->formInput($firstName);
                    ?>
                </div>
                <?= $this->formElementErrors($firstName); ?>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <?php
                    $lastName = $form->get('last_name');
                    $lastName->setAttribute('class', 'form-control input-round');
                    $lastName->setValue($this->user->getLastName());
                    echo $this->formInput($lastName);
                    ?>
                </div>
                <?= $this->formElementErrors($lastName); ?>
                <div class="form-group">
                    <span>User Name</span>
                    <?php
                    $username = $form->get('username');
                    $username->setAttribute('class', 'form-control input-round');
                    $username->setValue($this->user->getUserName());
                    echo $this->formInput($username);
                    ?>
                </div>
                <?= $this->formElementErrors($firstName); ?>
                <div class="form-group">
                    <span>Email</span>
                    <?php
                    $email = $form->get('email');
                    $email->setAttribute('class', 'form-control input-round');
                    $email->setValue($this->user->getEmail());
                    echo $this->formInput($email);
                    ?>
                </div>
                <?= $this->formElementErrors($email); ?>
                <div class="form-group">
                    <span>Display Name</span>
                    <?php
                    $displayName = $form->get('display_name');
                    $displayName->setAttribute('class', 'form-control input-round');
                    $displayName->setValue($this->user->getDisplayName());
                    echo $this->formInput($displayName);
                    ?>
                </div>
                <?= $this->formElementErrors($displayName); ?>
                <div class="form-group">
                    <span>Title</span>
                    <?php
                    $title = $form->get('title');
                    $title->setAttribute('class', 'form-control input-round');
                    $title->setValue($this->user->getTitle());
                    echo $this->formInput($title);
                    ?>
                </div>
                <?= $this->formElementErrors($displayName); ?>
                <div class="form-group">
                    <span>Address</span>
                    <?php
                    $address = $form->get('address');
                    $address->setAttribute('class', 'form-control input-round');
                    $address->setValue($this->user->getAddress());
                    echo $this->formInput($address);
                    ?>
                </div>
                <?= $this->formElementErrors($address); ?>
                <div class="form-group">
                    <span>Phone</span>
                    <?php
                    $phone = $form->get('phone');
                    $phone->setAttribute('class', 'form-control input-round');
                    $phone->setValue($this->user->getPhone());
                    echo $this->formInput($phone);
                    ?>
                </div>
                <?= $this->formElementErrors($phone); ?>
                <?= $this->formHidden($form->get('uuid')) ?>
            </fieldset>
            <button type="submit" name="submit" class="btn&#x20;btn-success" value="">Save My Profile</button>
            <?php echo $this->form()->closeTag() ?>

        </div>
    </div>
    <script>
        head.ready('backbone', function() {
            head.load(
                '//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.iframe-transport.js',
                {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' }); 
        });
        head.ready('fileupload', function() {
            head.load('/js/min/settings.min.js');
        });
    </script>
</div>