[data-pie-id] li:nth-child(0) {
  color: blue;
}

[data-pie-id] li:nth-child(1) {
  color: #56723c;
}

[data-pie-id] li:nth-child(2) {
  color: #89c64c;
}

ul[data-pie-id] {
  list-style: none;
  padding: 10px;
}


[data-pie-id='my-cool-chart'] li:nth-child(0) {
  color: #d84200;
}

[data-pie-id='my-cool-chart'] li:nth-child(1) {
  color: #56723c;
}

[data-pie-id='my-cool-chart'] li:nth-child(2) {
  color: #89c64c;
}

#svg {width:200px; height:200px;}

.jumbotron .col-xs-9, .jumbotron .col-xs-3, .jumbotron .col-xs-2, .jumbotron .col-xs-7{padding:0 !important;}
.specs{padding:0 0 40px 0; border-bottom:1px solid #999;}

.progress-bar {
	background-color: #89c64c;
}

.progress {
	background-color: #56723c;
	height:12px;
}

.archetype p{
	font-size:1.4em !important;
	line-height:1.4em !important;
	font-weight:200;
}

.archetype h2 {
	font-size:.9em;
	text-transform:uppercase;
	background-color: #89c64c;
	color:#fff;
	padding:10px;
	letter-spacing:1px;
}
.archetype h3{
	font-size:2em;
	font-weight:700;
}

.archetype {
	padding-bottom:40px;
	border-bottom:1px solid #999;
	margin-bottom:60px;
}
.sidebar .secs{
	margin:20px 0 60px 0;
}

.sidebar h4 {
	font-size:.9em;
	text-transform:uppercase;
	background-color: #56723c;
	color:#fff;
	padding:6px;
	letter-spacing:1px;
	display:inline;
	margin:0 0 10px 0;
}

@media print{
	.container {padding:5%;}
}