/**
 * Custom Icon
 */
@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?4bpd3u');
    src:    url('/fonts/icomoon.eot?4bpd3u#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?4bpd3u') format('truetype'),
    url('/fonts/icomoon.woff?4bpd3u') format('woff'),
    url('/fonts/icomoon.svg?4bpd3u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon-red {
    color: #D9534F;
}
.icon-green {
    color: #43C86F;
}
.persona-title {
    font-size: 22px;
    font-weight: 700;
}

.container-full {
    position:relative;
}

body#public-view {
	height:100vh; background: radial-gradient(circle at 31% -17%, #4CB9DE, rgba(153,215,236,0.22) 67%), radial-gradient(circle at 28% -42%, #009cd0, rgba(61,177,255,0) 60%), radial-gradient(circle farthest-side at 66% -32%, rgba(0,140,187,0.87), #33ccff 25%, #2788d9 52%, #1f6dae);
}
.login-logo img {
	width: 60%;
    margin: 30px 0px;
}
.login-container {
	background:#fff;
	padding:20px 80px;
	box-shadow: 1px 1px 45px 10px rgba(0,0,0,.1);
}
.login-container h1 {
	color: #009cd0;
	font-size:28px;
}
.login-container h4 {
	color: #676767;
	font-size:20px;
	text-align:center;
	border-top: 1px solid #aeaeae;
    margin-top: 0;
    padding-top: 10px;
}
.login-form>fieldset>ul>li {
    background: #ff5a5f;
    color: #fff;
    font-size: 11px;
    list-style: none;
    margin-top: 2px;
    padding: 2px 9px;
}

.login-form .form-group {
    border: 1px solid #ccc;
    margin-bottom: 7px;
    background-color: #fff;
    position: relative;
}

.login-form .form-group>i,
#frm-security .form-group>i{
    background: #009cd0;
    color: #fff;
    margin: -1px;
    width: 38px;
    position: absolute;
    padding: 15px 15px;
}

.login-form button {
    background: #ff6600; 
    background: -moz-linear-gradient(top, #ff6600 0%, #ea4845 100%); background: -webkit-linear-gradient(top, #ff6600 0%,#ea4845 100%); background: linear-gradient(to bottom, #ff6600 0%,#ea4845 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600 ', endColorstr='#ea4845 ',GradientType=0 );
    border-color: transparent;
    border-radius:4px;
    margin:20px 0;
    padding: 10px 36px;
}
.login-form button:hover {
    background: #ff6600; 
    background: -moz-linear-gradient(top, #ea4845 0%, #ff6600 100%); background: -webkit-linear-gradient(top, #ea4845 0%,#ff6600 100%); background: linear-gradient(to bottom, #ea4845 0%,#ff6600 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4845', endColorstr='#ff6600',GradientType=0 );
     box-shadow: 0px 0px 15px rgba(0,0,0,.3);
     border-color: transparent;
    border-radius:4px;
    margin:20px 0;
    padding: 10px 36px;
}

.login-form .form-group>input {
    border-radius: 0;
    font-size: 13px;
    padding-left: 44px !important;
    text-align: left;
    height: 42px;
    -webkit-appearance: none;
    border: none;
    box-shadow: none!important;
    outline: 0;
}

.forgot-cta a { color: #ababab; }
.register-cta, .login-cta {
	font-size: 16px;
    border-top: 1px solid #4CB9DE;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}
.register-cta a, .login-cta a { color: #4CB9DE; }


body{background:#fff}

body#web .container {
    margin-top: 50px;
}

.page-title {
    border-bottom: 1px solid rgba(50,50,50,.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header {background-color: #007806 ;position: fixed;top: 0;left: 0;width: 100%; height: 40px; z-index:99999; padding:0 0 2px}
header #logo {margin: 0 auto;padding: 6px 0}

.logo {
    color: #fff;
    font-size: 27px;
    margin-left: 20px;
}
.nav.nav-sidebar {
    margin-right:-15px;
}

button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
body, button, input, select, textarea {
    font-family: "museo-sans", sans-serif;
    color: #222;
}


.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}

#logo {
    text-align: center;
    font-size: 2.3em;
    top: 90px;
    position: absolute;
    margin: 0 0 0 -170px;
    left: 50%;
    width: 300px;
    padding: 40px;
}
header #logo img {height: 26px;display: block;margin: 0 auto;text-align: center}
body, button, input, select, textarea {
    font-family: "museo-sans", sans-serif;
    color: #222;
}


.toolbar {
    margin-bottom: 20px;
    opacity: .4;
    transition: all 0.3s ease-in-out 0.05s;
    -webkit-transition: all 0.3s ease-in-out 0.05s;
    -moz-transition: all 0.3s ease-in-out 0.05s;
}

.toolbar .toolbar-content {
     text-transform: uppercase;
     background: #fff;
     padding: 10px 30px;
 }

.toolbar .toolbar-left {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbar .toolbar-right {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbar .toolbar-left li {
    float: left;
    margin-right: 20px;
}

.toolbar .toolbar-right li {
    float: right;
    margin-left: 20px;
}


label.error, label.success {
    font-size: 10px;
    margin-left: 38px;
    padding: 5px;
    display: block;
    overflow: hidden;
    color: #fff;
}

label.error {
    background: darkred;
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}



/**
 *Activate Banner
 */
#activateBanner {
    top:0;
    color:#fff;
    background: #DB797C;
    font-weight:700;
    padding: 3px 50px
}

#activateBanner .close > i {
    color: #fff;
    font-size: 24px;
    margin-top: -5px;
}

#activateBanner > a {
    color: #2670b5;
}

/**
 * Notifyer
 */
.card-notifyer {
    top:0;
    color:#fff;
    background:#2670b5;
    font-weight:700;
    padding: 3px 50px
}
.card-notifyer > a {
    color: #43e8d8;
}
.card-notifyer .close > i {
    color: #fff;
    font-size: 24px;
    margin-top: -5px;
}

.adjust-height, .adjust-height2 {
    margin-top:40px;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body#dashboard, body#web {
    background:#fafafa;
}
#dashboard nav.navigation {
    margin-top:53px;
}
a:focus { outline: none; }

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/**
 * Error Messages
 */
#errorMessages,#errorMessages2 {display:none;background: #f2b9ab none repeat scroll 0 0;border: 1px solid #fb0000;border-radius: 5px;color: #fb0000;list-style: outside none none;padding: 10px}
#errorMessages i,#errorMessages2 i {margin-right: 10px}
#errorMessages {margin-top:-20px}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
    margin-bottom:0px;
    position:relative;
}
.navbar-fixed-top { border: 0; }
.navbar .navbar-form.navbar-right:last-child { margin-right:15px; margin-left:15px; padding-top: 0px; }
.navbar .navbar-form input { width:150px; }

.navbar a { outline:none !important; }
.navbar .add-new:hover { background: #00c7f7; }

.nav-container {
	margin: 14px 10px;
    background: rgba(255,255,255,.2);
    padding: 0px 10px;
    border-radius: 30px;
    height: 50px;
}
.nav-logo { margin-top:-4px; }
.nav-logo img { height:50px; }

.navbar-top { background:#448438; }
.navbar-top > li > a { padding:10px 15px; }
.navbar-top .navbar-left li, .navbar-top .navbar-right li { padding: 4px 18px; height:50px; }
.navbar-top a { color:rgba(255,255,255,.8); }
.nav-tabs { border:0px; text-transform:uppercase; }
.nav-tabs li.active, .navbar-right li.active { color:rgba(255,255,255,1);background:rgba(255,255,255,.2) }
.nav-tabs li.active a { background:transparent; border-color:transparent; border-radius:0; color:rgba(255,255,255,1); }
.nav-tabs li.active:hover a { background:transparent; border-color:transparent; border-radius:0; color:#fff; }
.nav-tabs li a:hover { background:transparent; border-color:transparent; border-radius:0; color:#fff;  }
.nav-tabs li:hover { background:rgba(255,255,255,.2); color:rgba(255,255,255,1); }
.nav-tabs li.nav-logo:hover, .nav-pills li.nav-user-profile:hover { background:transparent; }

.nav-pills { border:0px; text-transform:uppercase; }
.nav-pills li.active { color:rgba(255,255,255,1); }
.nav-pills li.active a { background:transparent; border-color:transparent; border-radius:0; color:rgba(255,255,255,1); font-weight:500; }
.nav-pills li.active:hover a { background:transparent; border-color:transparent; border-radius:0; color:#fff; }
.nav-pills li a:hover { background:transparent; border-color:transparent; border-radius:0; color:#fff;  }
.nav-pills li:hover { background:rgba(255,255,255,.2); color:rgba(255,255,255,1); }
.nav-pills li a:focus { background:transparent; border-color:transparent; border-radius:0; color:#fff;  }

.navbar-bottom { background:#519548; padding: 12px 15px; }
.navbar-bottom .navbar-brand { color:#fff; font-weight:500; }
.navbar-bottom .navbar-right { margin-right: 35px !important; }

#global-search input { background: rgba(255,255,255,.1); border: 1px solid rgba(255,255,255,.6); color:rgba(255,255,255,.8); }
#global-search:hover input { background: rgba(255,255,255,.4); border: 1px solid rgba(255,255,255,.8); color: #323232; }
#global-search input::-webkit-input-placeholder { color:rgba(255,255,255,.8); }
#global-search input:-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input::-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input:-ms-input-placeholder { color:rgba(255,255,255,.8); }

#global-search input:focus { background: rgba(255,255,255,1); border: 1px solid rgba(255,255,255,1); color: #323232; }
#global-search input:focus::-webkit-input-placeholder { color:rgba(255,255,255,.8); }
#global-search input:focus:-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input:focus::-moz-placeholder { color:rgba(255,255,255,.8); }
#global-search input:focus:-ms-input-placeholder { color:rgba(255,255,255,.8); }
.result-display {background: #fff none repeat scroll 0 0;height: 100px;overflow-x: hidden;position: absolute;z-index: 0}
.result-display div:hover { background:#5cb85c;color:#fff}

.user-profile-nav {    margin-right: 18px;}
.user-profile-nav form, .user-profile-nav .dropdown {
    display: inline-block;
}
.navbar-profile { padding-top: 0px; }
.navbar-profile img.profile-small { width: 40px; height: 40px; border-radius: 20px; background: #FFF; }
.navbar-profile img.profile-big { border-radius: 50%; background: #FFF; padding:5px; }
.navbar-profile a span { display: inline-block; background: transparent url(/img/tr_down.png) 0 50% no-repeat; width: 25px; height: 50px; position: absolute; left: 45px; top: 5px; }
.navbar-profile .role-switcher { padding:30px; text-align:center; }
.navbar-profile .quick-profile { text-align:center; padding:12px 30px !important; background-color: transparent !important; color: #000000 !important;    min-height: 119px}
.navbar-profile .quick-profile .name { font-weight:500; }
.navbar-profile .quick-profile .role { font-style:italic; color:#888; }
.navbar-profile .dropdown-menu li {
    height: initial !important;
}

.navbar-profile .dropdown-menu li:hover {
    background-color: #7f7f7f;
    color: #FFFFFF;
}

.main-body {
    position:absolute;
    top:70px;
    width:100%;
}
.page-navigation {
    background:rgba(255,255,255,.8);
    padding:8px 20px;
    margin:10px 0px;
    color:rgba(0,0,0,.3);
}
.page-navigation a {
    color:rgba(0,0,0,.3);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.page-navigation:hover, .page-navigation:hover a {
    color:rgba(0,0,0,.7);
}

.nav-filter { margin:0; }
.nav-filter li { float:left; margin-right:10px; }

.box-grey { padding:20px 20px; background:#fafafa; margin-bottom:20px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05); }
.box-grey small { display:inline; color:#aaa; }
.box-grey strong { font-size:20px; color:#555; }
.box-title { padding:0; }
.box-title a { color:#dadada; }
.box-title a:hover { color:#454545; }
.value-propositions > div { padding:20px 0; }

.box-grey.orange { border-top: 3px solid rgba(241, 99, 56, 1); }
.box-grey.orange small { color: rgba(241, 99, 56, .8); }
.box-grey.green { border-top: 3px solid rgba(56, 180, 73, 1); }
.box-grey.green small { color: rgba(56, 180, 73, .8); }
.box-grey.blue { border-top: 3px solid rgba(92, 188, 234, 1); }
.box-grey.blue small { color: rgba(92, 188, 234,.8); }

.box-grey .clean-list { list-style-type:none; margin:0; padding:0; }
.box-grey .clean-list li { margin:5px 0; font-size:16px; }

.builder {}
.builder-quote {
    border-left: 5px solid #9AE825;
    margin:20px 0;
    width:60%;
    padding: 20px;
}
.builder-section {
    background:rgba(255,255,255,1);
    padding:30px 40px 50px;
    margin-bottom:100px;
}
.builder-section h2 {
    margin-top:0;
}
.builder-section h3 {
    color:#999;
    font-size:14px;
    margin-bottom:5px;
    text-transform:uppercase;
}
.builder-section p {
    margin-bottom:20px;
}
.builder-section blockquote { width:60%; }
.builder-section .step-header {
    padding:10px 20px;
    background: #f8f8f8;
    margin:10px 0 20px;
}
.builder-section .step-header p {
    margin:10px 0;
}
.builder-section .input-rows{
    color:#9a9a9a;
    padding:10px 0;
}
.builder-section input, .builder-section textarea {
    padding:5px;
    font-size:16px;
    width:90%;
    border:1px solid #aaa;
}

.builder-section .step-actions {
    margin-top:20px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    transition:width 0.35s ease-in-out 0.05s; -webkit-transition:width 0.35s ease-in-out 0.05s; -moz-transition:width 0.35s ease-in-out 0.05s;
    border-right:1px solid #ccc;
    height: 90vh;
    position: relative;
    overflow-x:hidden;
}
.persona-sidebar-main {
    transition:width 0.35s ease-in-out 0.05s; -webkit-transition:width 0.35s ease-in-out 0.05s; -moz-transition:width 0.35s ease-in-out 0.05s;
    border-right:1px solid #ccc;
}
.sidebar-section {
    padding:20px 20px;
    background:#fafafa;
}
.sidebar-section small {
    display:block;
    color:#aaa;
}
.sidebar-section strong {
    font-size:20px;
    color:#555;
}

.sidebar-nav {
    padding:20px 20px;
    background:#fafafa;
    /*position:fixed;*/
}
.sidebar-nav li > a {
    font-size:14px;
    text-transform:none;
}
.sidebar-nav .fa {
    margin:0 10px 0 -10px;
    font-size:20px;
}
.sidebar-nav .fa-check {
    color:green;
}
.sidebar-nav .fa-square-o {
    color:black;
}



/* Sidebar navigation */
.nav-sidebar { margin-right: -21px; /* 20px padding + 1px border */ margin-bottom: 20px; margin-left: 0px; margin-top:10px; }
.nav-sidebar i.fa { margin-right:5px; }
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; }
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus { color: #fff; background-color: #428bca; }
.nav-sidebar > li.nav-sidebar-header { text-transform:uppercase; font-weight:500; padding: 30px 15px 0px; }
.nav-sidebar > li.nav-sidebar-sub { padding: 0px; }
.nav-sidebar > li.nav-sidebar-sub a { padding: 5px 15px 5px 30px; }
.nav-sidebar > li.nav-sidebar-sub muted { color:#ababab; font-size:.9em; display:block; }

.nav-sidebar h4{ padding-left: 30px; margin-bottom:6px; }
.nav-sidebar .nav-editable { padding:6px 0 8px 30px; }
.nav-save { padding:12px 0 8px 10px; border-top:1px solid rgba(50,50,50,.1); margin-top:12px; }

.nav-sidebar-actions { border-top:1px solid #cfcfcf; padding:8px 0 0 10px; margin-top:50px; }
.nav-sidebar-actions a { color:#9f9f9f; }
.nav-sidebar-actions a:hover { color:#428bca; }

.navbar-inverse { background: #007806; }
.nav-sidebar .nav>li>a { padding:15px 15px; }
.navbar-brand { line-height:normal; font-size:22px; }

#progressBar { width: 100%; height: 3px; background-color: #fff; }
#progressBar div {height: 100%; color: #0099ff; text-align: right; line-height: 3px; width: 0; background-color: #0099ff; position:relative; }
#progressBar div span { position:absolute; color: #0099ff; top: 15px; right: 10px; }

[contenteditable="true"] { margin:0 0 5px 0; border: 1px dashed transparent; padding:6px; border-radius:4px; }
[contenteditable="true"]:hover { border: 1px solid #dfdfdf; background:#fff; }
[contenteditable="true"]:focus { border:0 !important; background:#fff; color: #CF4600; }
[contenteditable="true"].default { color: #ccc !important; }


.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 0;
    max-width: auto;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 100%;
    max-width: 100%;
    height: 320px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
/*---------------*/
/***** Marley *****/
/*---------------*/

figure.effect-marley figcaption {
    text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
}


figure.effect-marley p {
    bottom: 30px;
    line-height: 1.5;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
    top: 30px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {
    background: #2e5d5a;
}

figure.effect-milo img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-milo:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}

figure.effect-milo p {
    padding: 0 10px 0 0;
    width: 98%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



/*
 * Main content
 */
.main { padding: 20px; min-height:100%; }
.main .page-header { margin-top: 0; }

/*
 * Search
 */
.search-results .row { border-bottom: 1px solid #eaeaea; margin-bottom:15px; padding-bottom:15px; }
.search-results .row h2 { margin:0px; }
.search-results-type { text-align:center; padding:20px; border-radius:2%; }


/*
 * PROFILE
 */
.no-profile-image { border:1px solid rgba(50,50,50,.5); background:#fafafa; padding:35px; font-size:120px; margin:20px 0; text-align:center; border-radius:4px; }
.note-editable { background:#fff; }


.save-btn { margin-top:30px; }
.feature-list { margin-top:20px; }
.feature-list li { margin-bottom:8px; }

.plans { border-bottom: 1px solid #e8e8e8; padding-bottom:50px; }
.plan {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fafafa;
    text-align: center;
    position: relative;
    width:100%;
    padding-bottom:10px;
}
.plan .current-plan {
    background-color: #3d8cc9;
    color: #fff;
    text-transform: uppercase;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 2px 2px 0 0;
}
.plan input { display:none; }
.plan.selected .monthly-option, .plan.selected .yearly-option { opacity: 0.5; }
.plan .term {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-top: 42px;
    letter-spacing: 1px;
}
.plan .price {
    font-size: 70px;
    font-weight: bold;
    margin-top: 28px;
    line-height: .7em;
    margin-right: -5px;
}
.plan .price span.dollar-sign {
    font-size: 24px;
    font-weight: normal;
    margin-right: 2px;
    top: -25px;
    position: relative;
}
.plan .price span.per {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 0;
    line-height:1em;
}
.plan .price span.free-per {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 0;
    line-height:1em;
}
.plan .desc { margin: 25px 0; color: #131313; font-weight:200; letter-spacing:.08em; padding:0 35px; }
.plan .features {   margin: 0 30%; color: #323232; font-weight:200; letter-spacing:.08em; padding:0 20px; }
.plan .features ul { margin:0; padding:0; text-align:center; list-style-type:none; }
.plan .features ul li { margin:0 0 8px 0; padding:0 }
.plan .action { margin-top:15px; }
.big-plus { line-height:4.5em; font-size:5em; font-weight:500; }
.ribbon {
    position: absolute;
    top: -1px;
    right: 5px;
    background-image: url('https://pipelinedeals.global.ssl.fastly.net/1407514899/images/billing-ribbon.png?1407515350');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 51px;
    width: 69px;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    padding-top: 8px;
    text-align: center;
    font-size: 13px;
}
.plan .upgrade-plan {
    background-color: #00c7f7;
    color: #fff;
    text-transform: uppercase;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 2px 2px 0 0;
}
.billing { padding: 40px 0; border-bottom: 1px solid #e8e8e8; }
.billing .size-h5 { margin-bottom: 20px; }
.history { padding: 0px 0px 20px; }
.history-table { background:#fafafa; margin-top:20px; }


#users .adduser { padding-bottom: 20px; border-bottom: 1px solid #e8e8e8; }
#users .adduser .size-h5 { margin-bottom:20px; }
#users .userlist { padding: 40px 0; }
#users .role-desc { margin-bottom:40px; }



/*
 * Colors
 */
.bg-hot, .bg-red { background:#df4a32; color:#fff; }
.bg-mild, .bg-yellow { background:#f3c536; color:#fff; }
.bg-cold, .bg-blue { background:#00c7f7; color:#fff; }
.bg-won, .bg-green { background:#00B800; color:#fff; }
.bg-main, .bg-grey { background:#f8f8f8; color:#fff; }

.bg-hot-1, .bg-red-1 { background:#FF2800; color:#fff; }
.bg-hot-2, .bg-red-2 { background:#C80815; color:#fff; }
.bg-hot-3, .bg-red-3 { background:#860111; color:#fff; }
.bg-hot-4, .bg-red-4 { background:#9B111E; color:#fff; }

.bg-cold-1, .bg-blue-1 { background:#00c7f7; color:#fff; }
.bg-cold-2, .bg-blue-2 { background:#009fc5; color:#fff; }
.bg-cold-3, .bg-blue-3 { background:#007794; color:#fff; }
.bg-cold-4, .bg-blue-4 { background:#004f62; color:#fff; }

.text-hot, .text-red { color:#df4a32; }
.text-mild, .text-yellow { color:#f3c536; }
.text-cold, .text-blue { color:#00c7f7; }
.text-won, .text-green { color:#7FDB7F; }

.text-hot-1 { color:#FF2800; }
.text-hot-2 { color:#C80815; }
.text-hot-3 { color:#860111; }
.text-hot-4 { color:#9B111E; }

.text-cold-1 { color:#00c7f7; }
.text-cold-2 { color:#009fc5; }
.text-cold-3 { color:#007794; }
.text-cold-4 { color:#004f62; }


.size-h1 { font-size: 36px; }
.size-h2 { font-size: 30px; }
.size-h3 { font-size: 26px; }
.size-h4 { font-size: 20px; }
.size-h5 { font-size: 18px; }
.size-h6 { font-size: 14px; }

h1 { padding-bottom:10px; margin-bottom:20px; }

.btn-h1 { vertical-align: top; margin-top: 10px; margin-left:25px; }


.tag { font-size:10px; background: #efefef; padding:4px 6px; border-radius:4px; }


/*
 * Helpers
 */
.nopadding { padding: 0 !important; margin: 0 !important; }




/*
 * Page Sign Up
 */
.page-signin .signin-header, .page-signup .signin-header, .page-forgot .signin-header {
    margin-top:50px;
}
.page-signin .logo, .page-signup .logo, .page-forgot .logo {
    font-size:26px;
    font-weight:normal;
    text-transform:uppercase;
}

.page-signin .logo a:hover, .page-signup .logo a:hover, .page-forgot .logo a:hover {
    text-decoration:none;
}

.page-signin .info, .page-signup .info, .page-forgot .info {
    padding:20px 0 0;
    max-width:420px;
    margin:0 auto 20px;
}

.page-signin .info h2, .page-signup .info h2, .page-forgot .info h2 {
    font-size:18px;
    color:#242633;
}

.page-signin .signin-body, .page-signin .signup-body, .page-signup .signin-body, .page-signup .signup-body, .page-forgot .signin-body, .page-forgot .signup-body {
    border-top:1px solid #f8f8f8;
    padding:20px 10px;
}

.page-signin .form-container, .page-signup .form-container, .page-forgot .form-container, .page-survey .form-container{
    max-width: 500px;
    margin:10px auto;
}

.page-signin .form-group, .page-signup .form-group, .page-forgot .form-group {
    position:relative;
}

.page-signin .form-group>.glyphicon, .page-signup .form-group>.glyphicon, .page-forgot .form-group>.glyphicon {
    position:absolute;
    top:16px;
    left:12px;
    color:#999;
}

.page-signin .form-group .input-lg, .page-signin .form-group .input-group-lg>.form-control, .page-signin .form-group .input-group-lg>.input-group-addon, .page-signin .form-group .input-group-lg>.input-group-btn>.btn, .page-signup .form-group .input-lg, .page-signup .form-group .input-group-lg>.form-control, .page-signup .form-group .input-group-lg>.input-group-addon, .page-signup .form-group .input-group-lg>.input-group-btn>.btn, .page-forgot .form-group .input-lg, .page-forgot .form-group .input-group-lg>.form-control, .page-forgot .form-group .input-group-lg>.input-group-addon, .page-forgot .form-group .input-group-lg>.input-group-btn>.btn {
    padding:10px 30px;
}


/*
 * Icons
 */
.round-icon{ display:block;text-align:center;width:60px;height:60px;font-size:26px;line-height:60px }
.round-icon {
    border-radius: 50%;
}
.round-icon.sm {
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
}


/*
 * Panels
 */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}
.panel-box .panel-item {
    display: table-cell;
    padding: 30px;
    vertical-align: top;
    border-radius: 0;
    width: 100%;
}
.panel-box .panel-item span {
    display: block;
}
.panel-box .panel-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:#fff;
    font-size:40px;
    width: 30%;
    line-height: 0.7;
}
.panel-box .panel-left small {
    color:#fff;
    font-size:11px;
}
.panel-box .panel-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 70%;
    text-align:left;
    position:relative;
    overflow:hidden;
}
.panel-right-summary {
    position:absolute;
    top:20px;
    width: 100%;
    left: 0;
    padding-left:30px;
}
.panel-right-actions {
    position:absolute;
    top:200px;
    text-align:center;
    width: 100%;
    left: 0;
}
.panel-right-actions .row {
    margin:10px 0 0 0;
}
.panel-right-actions a:hover {
    text-decoration:none;
}
.panel-right-actions-activity, .panel-right-actions-edit {
    border-right:1px solid rgba(200,200,200,.8);
}
.panel-right-actions i.fa {
    display:block;
    font-size:24px;
    margin-top:10px;
}
.mini-box {
    min-height: 120px;
    padding: 25px;
}
.mini-box .box-icon {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    border-radius: 4px;
}

.panel-holder {
    margin-bottom:30px;
}
.panel-profile {
    border: none;
}
.panel .panel-heading {
    text-transform: uppercase;
    color:#fff;
}
.panel .panel-heading a {
    color:#fff;
}
.panel .panel-heading img {
    margin-top: -40px;
    border: 2px solid #fff;
}
.panel .panel-heading h3 {
    margin-top: 10px;
    margin-bottom: 0;
}
.panel-profile .list-justified-container {
    padding: 15px 0;
}
.panel-profile ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0;
}
.panel-profile ul.list-justified>li {
    float: none;
    display: table-cell;
    padding: 10px;
    border-right: 1px solid #eee;
}

.panel-profile ul.list-justified>li:last-child {
    border-right: 0;
}
.panel-profile ul.list-justified>li p {
    margin:0;
    color:#777;
}
.panel-profile ul.list-justified>li .text-muted {
    margin:0;
    color:#bababa;
    text-transform:uppercase;
    font-size:.9em;
}
img.img80_80 {
    width: 80px;
    height: 80px;
}
.loader {
    text-align: center;
    display:inline;
}
.loader > img {
    width:20px;
    height:20px;
    padding-left:10px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-boxed {
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 4px;
}
.nav-justified, .nav-tabs.nav-justified {
    width: 100%;
}
.nav-boxed>li:first-child>a {
    border-left: none;
    border-top: 0;
}
.nav-boxed.nav-justified>li>a {
    margin: 0;
}
.nav-boxed>li>a>i {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 2px;
    font-size: 30px;
}
.nav-boxed .active a, .nav-boxed .active:hover a {
    background:#00c7f7;
    color:#fff !important;
}


.sidebar-collapser {
    cursor: pointer;
    position: absolute;
    top: 43%;
    margin-top: -13px;
    width: 10px;
    height: 30px;
    background-color: #454342;
    border-radius: 0px;
    border: 1px solid #565656;
    z-index: 1000;
    opacity: 0.4;
    transition:all 0.35s ease-in-out 0.05s; -webkit-transition:all 0.35s ease-in-out 0.05s; -moz-transition:all 0.35s ease-in-out 0.05s;
}
.sidebar-collapser[data-side="left"] {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 1px 0px 4px rgba(0,0,0,.3), inset 0 1px 0 rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 1px 0px 4px rgba(0,0,0,.3), inset 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 1px 0px 4px rgba(0,0,0,.3), inset 0 1px 0 rgba(255, 255, 255, 0.15);
    right: 0%;
}
.sidebar-collapser:hover {
    opacity: 0.9;
}

.sidebar-collapser .sidebar-collapser-caret {
    width: 0px;
    height: 0px;
    border: 3px solid transparent;
    margin-top: -3px;
    position: relative;
    top: 50%;
}
.sidebar-collapser[data-side="left"] .sidebar-collapser-caret {
    border-right: 4px solid rgba(255, 255, 255, 0.8);
    border-left: none;
    left: 2px;
}

.section-templates { display:none; }

.dropdown-toggle > img {
    width: 45px;
    border-radius:50%;
}
.quick-profile > img {
    width: 90px;
}
/**
 * Settings Tab
 *
 */
#adsCompany-modal-sec > form, #tags-modal-sec > form {margin: 25px;}
.rTable    { display: table; text-align: center;margin-top:20px;display:table;width: 100%;}
.rTableRow  { display: table-row; }
.rTableRow:hover{background:#91bef4;cursor:pointer}
.rTableHeading    { display: table-header-group; }
.rTableBody    { display: table-row-group; }
.rTableFoot    { display: table-footer-group; }
.rTableHead {font-weight:700;background:#428bca;color:#fff}
.rTableCell, .rTableHead {border-bottom: 1px solid #999999;border-right: 1px solid #999999;display: table-cell;padding: 3px 10px;}
.rTableCell:first-child, .rTableHead:first-child {border-left: 1px solid #999999}
textarea {resize: none}
.survey-result-content, .settings-details {float: left;padding-left: 40px;padding-right: 40px;position: absolute}
/**
 * Invoice
 */
.invoice-table {background: #fafafa none repeat scroll 0 0;margin-top: 20px}
.subtotal {background: #fafafa none repeat scroll 0 0;border-radius: 19px;list-style: outside none none;padding: 33px 50px;width: 400px}
.invoice-table tr {height: 70px}
.subtotal.pull-right > li {display: inline-block;width: 100%}
.number {float: left;padding-left: 40px;font-weight:700}
.invoice-label{float: left}
.subtotal li:nth-child(1) .number {margin-left: 11px}
.subtotal li:nth-child(2) .number {margin-left: 39px}
.subtotal li:nth-child(3) .number {margin-left: -29px}
.amount-paid {font-weight:700}
.invoice-head{padding:0 8px}
.invoice-id, .invoice-receipt {margin: 18px}

#frm-alert {
    border: 1px solid #ccc;
    padding: 10%;
    text-align: center;
}

/**
 *Support for responsiveness
 */
@media (max-width: 1090px) {

    /**
     * Article
     */
    .ui-timeline .tl-item .tl-body .ti-content-score,
    .ui-timeline .tl-item.alt .tl-body .ti-content-score {
        width:25%;
    }
}
@media (max-width: 975px) {

    /**
     * Article
     */
    .ui-timeline .tl-item .tl-body .ti-content-detail,
    .ui-timeline .tl-item.alt .tl-body .ti-content-detail {
        font-size: 12px;
    }
    .ti-content-detail-info h4 {
        font-size: 16px;
    }
    .ui-timeline .tl-item .tl-body .ti-content-score span ,
    .ui-timeline .tl-item.alt .tl-body .ti-content-score span {
        font-size: 13px;
    }
    .ui-timeline .tl-item .ti-content-detail-info,
    .ui-timeline .tl-item.alt .ti-content-detail-info {
        top:5px;
    }

    /*
     * Article Manage
     */
    audio#buzzer {
        margin-bottom: 14px;
    }
}
@media (max-width: 900px) {

    /**
     * Article
     */
    .ui-timeline .tl-item .tl-body .ti-content-score span,
    .ui-timeline .tl-item.alt .tl-body .ti-content-score span {
        font-size:12px;
    }
}
@media (max-width:824px) {
    ul.nav.navbar-left.nav-tabs {
        width:100%;
    }
    ul.nav.navbar-right.nav-pills {
        width:0px;
    }
    .nav.nav-tabs > li,
    .nav.nav-pills > li {
        width:20%;
    }
    .nav.nav-pills > li {
        float:left;
    }
    .nav.nav-tabs > li > a > i,
    .nav.nav-pills > li > a > i {
        font-size:20px;
        margin: 0 -10px;
    }
    .nav.nav-tabs > li > a > span,
    .nav.nav-pills > li > a > span {
        display: none;
    }
    .navbar-bottom {
        padding:0 15px;
    }
    .navbar .navbar-form input{
        margin: 3px;
    }
    .navbar-form {
        border:none;
    }
    .navbar-bottom .navbar-toggle:hover,
    .navbar-bottom .navbar-toggle:active,
    .navbar-bottom .navbar-toggle:focus{
        background:#519548;
    }

    .navbar-profile  li:hover {
        background-color: #777777 !important;
    }
    .navbar-profile .dropdown-menu > li {
        text-align: center;
        width: 100%;
        margin: 25px;
        border: solid 1px red;
    }
    .navbar-profile .dropdown-menu > li > a {
        color:#000 !important;
    }
    .navbar-profile .dropdown-menu > li > a:hover {
        color:#fafafa !important;
    }
    .ui-timeline .tl-item .tl-body .ti-content-score, .ui-timeline .tl-item.alt .tl-body .ti-content-score {
        width: 33%;
    }
    .ui-timeline .tl-item .tl-body .tl-content {
        width: 100%;
        margin-left:-10px;
    }
    .ui-timeline .tl-item.alt .tl-body .tl-content {
        margin-left:9px;
    }
    .navbar-profile .dropdown-menu > li {
        width:80%;

    }

    /**
     * Article
     */
    .archive-list {
        margin:10px;
    }
}
@media (min-width: 768px) {

    /**
     * Main Content
     */
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
    /**
     * Timeline
     */
    .ui-timeline:before {
        left:50%;
    }
    .ui-timeline .tl-item:before {
        display:block;
        width:50%;
    }
    .ui-timeline .tl-item .tl-caption {
        margin-left:-110px;
    }
    .ui-timeline .tl-item.alt {
        text-align:right;
    }

    /**
     * Page Signup
     */
    .page-signin .signin-header, .page-signup .signin-header, .page-forgot .signin-header {
        margin-top:150px;
    }

    /**
     * Panels
     */
    .nav-justified>li, .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%;
    }
    .nav-boxed>li>a {
        border-left: 1px solid #f3f3f3;
    }
}
@media (max-width: 768px) {
    /**
     * Articles Main
     */
    .ti-content-detail-actions {
        width:100%;
    }
    .ti-content-detail-actions .row{
        float: left;
        display: inline-flex;
        width:100%;
    }
    .ti-content-detail-actions .row > div{
        width:33%;
    }
    #articles .opportunity-header .size-h1{
        position: absolute;
    }

    /**
     * Search
     */
    #global-search {
        margin-left: 10px;
    }
    #global-search input {
        width:100%;
    }
    .navbar-profile .dropdown-toggle span {
        margin-left:47%;
    }
    .dropdown.navbar-profile {
        text-align:center;
    }
    ul.dropdown-menu {
        background: #fff !important;
        margin-left: 10%;
    }
}
@media (max-width: 330px) {

    /*
     * Common
     */
    .navbar-brand {
        font-size:20px;
    }

    .ui-timeline .tl-item .tl-body .ti-content-score, .ui-timeline .tl-item.alt .tl-body .ti-content-score{
        width:35%;
    }
    .ui-timeline .tl-item .tl-body .tl-content {
        width:245px;
    }
    .ui-timeline .tl-item .tl-body .tl-content {
        margin-left:-10px;
    }

    /*
     * Articles
     */
    #activity-stats h4{
        font-size:14px;
    }
    .ti-content-detail-actions {
        font-size:10px;
    }
}
@media (max-width: 300px) {
    .navbar-brand {
        font-size:18px;
    }
}
