<div id="audience" class="row">
    <?php if ( count($this->allClient) > 0 ) { ?>
    <div class="col-sm-2 client-nav">
        <div class="client-container">
            <ul class="navi-list">
            </ul>
        </div>
    </div>
    <?php } ?>
    <div class="<?= count($this->allClient) > 0 ? 'col-sm-10' : 'col-sm-12' ?> audience-section audience-persona">
        <ul class="nav nav-filter pull-left">
            <li><a href="<?= $this->url('audience') ?>">All</a></li>
            <?php foreach($this->industries as $industry) { ?>
                <li><a class="filter-industry" href="#" data-uuid="<?= $industry['uuid'] ?>" data-id="<?= $industry['id'] ?>"><?= $industry['industryName']; ?></a></li>
            <?php } ?>
        </ul>
        <ul class="nav nav-filter pull-right client-settings-portal-link">
            <li>
                <a href="<?= $this->url('persona/clientPage/settings/settingsPage', array('uuid' => $this->clientUuid)) ?>">
                <i class="fa fa-gear"></i>
                <span>Client Settings</span>
                </a>
            </li>
        </ul>
        <div class="container-fluid" id="industry-description"></div>
        <div class="container-fluid grid" id="persona-container">
            <?php if(!empty($this->personas)) { ?>
                <?php foreach($this->personas as $persona) { ?>
                    <div class="col-sm-4">
                        <figure class="effect-milo">
                            <img src="<?= $persona['headshot'] ?>" alt="img11"/>
                            <figcaption>
                                <h2><?= $persona['name'] ?></h2>
                                <p>
                                    <?= $persona['jobTitle'] ?><br />
                                    <?= $persona['industry'] ?><br />
                                    <?= $persona['archetype'] ?><br />
                                </p>
                                <a href="<?= $this->url('persona') . '/' . $persona['uuid']; ?>">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                <?php } ?>
            <?php } ?>
            <?php if ( $this->validatePermission('edit') ) { ?>
            <div class="add-new-persona col-sm-4">
                <a href="<?= $this->url('persona') ?>"><i class="fa fa-user"></i> Add New Persona</a>
            </div>
            <?php } ?>
        </div>
    </div>
</div>
<div class="row"></div>
<?= $this->partial('user/partial/modals.phtml') ?>
<?= $this->partial('partial/templates.phtml') ?>
<script>
    var haveCards  = <?= $this->haveCards ?>;
    var clientUuid = '<?= $this->clientUuid ?>';
    var allclient = <?= json_encode($this->allClient) ?>;
    head.ready('backbone', function() {
        head.load('/js/min/audience.min.js');
    });
</script>
