

<div id="survey" class=" clearfix">
    <section class="survey-form content-container animate-fade-up">
        <div class="survey-body page-survey">
            <div class="container">

                <div class="form-container">
                    <?php
                    $flash = $this->flashMessenger()
                        ->setMessageOpenFormat('<div%s>')
                        ->setMessageCloseString('</div>');
                    echo $flash->render('error', array('alert', 'alert-danger'));
                    echo $flash->render('success',array('alert', 'alert-success'));
                    ?>
                    <?php if (!empty($this->uuid) && !$flash->hasSuccessMessages() ) { ?>
                        <h1 class="text-center">PERSONA SURVEY FORM</h1>
                        <form method="post"id="frmSurvey" data-login="1" class="" action="/persona/process/saveSurvey">
                            <div class="form-group" style="display: <?= in_array('agegender', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['agegender']) ) { ?>
                                <h5><?= $this->customTitles['agegender'] ?></h5>
                                <?php } ?>
                                <label for="age" class="control-label">Age</label>
                                <input type="text" name="age" class="form-control" id="age" placeholder="Age">
                            </div>
                            <div class="form-group" style="display: <?= in_array('agegender', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['agegender']) ) { ?>
                                <h5><?= $this->customTitles['agegender'] ?></h5>
                                <?php } ?>
                                <label for="age" class="control-label">Gender</label>
                                <select class="form-control" name="gender" id="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>

                            <div class="form-group" style="display: <?= in_array('archetype', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['archetype']) ) { ?>
                                    <h5><?= $this->customTitles['archetype'] ?></h5>
                                <?php } ?>
                                <label for="archetype" class="control-label">Archetype</label>
                                <select name="archetype" class="form-control selectpicker show-tick selectable select-archetype"  data-field="archetype"  data-max-options="1" data-edit-type="select" title="Choose an Archetype">
                                    <optgroup label="Archetypes">
                                        <?php foreach($this->archetypes as $arche) { ?>
                                            <option
                                                value="<?= $arche['id'] ?>"
                                                data-subtext="<?= $arche['shortDescription'] ?>">
                                                <?= $arche['title'] ?>
                                            </option>
                                        <?php } ?>
                                    </optgroup>
                                </select>
                            </div>

                            <div class="form-group" style="display: <?= in_array('industry', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['industry']) ) { ?>
                                    <h5><?= $this->customTitles['industry'] ?></h5>
                                <?php } ?>
                                <label for="industry" class="control-label">Industry</label>
                                <select name="industry" class="form-control selectpicker show-tick selectable select-industry"  data-field="industry"  data-max-options="1" data-edit-type="select" title="Choose An Industry">
                                    <optgroup label="">
                                        <?php foreach($this->industries as $industry) { ?>
                                            <option value="<?= $industry['id'] ?>"><?= $industry['industryName'] ?></option>
                                        <?php } ?>
                                    </optgroup>
                                </select>
                            </div>

                            <div class="form-group" style="display: <?= in_array('jobtype', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['jobtype']) ) { ?>
                                    <h5><?= $this->customTitles['jobtype'] ?></h5>
                                <?php } ?>
                                <label for="jobtype" class="control-label">Job Type</label>
                                <select name="jobtype" class="form-control selectpicker show-tick selectable select-jobtype"  data-field="jobtype"  data-max-options="1" data-edit-type="select" title="Choose a Job type">
                                    <optgroup label="Archetypes">
                                        <?php foreach($this->jobtypes as $jobtype) { ?>
                                            <option value="<?= $jobtype['id'] ?>"><?= $jobtype['title'] ?></option>
                                        <?php } ?>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group" style="display: <?= in_array('jobtitle', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['jobtitle']) ) { ?>
                                    <h5><?= $this->customTitles['jobtitle'] ?></h5>
                                <?php } ?>
                                <label for="jobTitle" class="control-label">Job Title</label>
                                <input type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job Title">
                            </div>

                            <div class="form-group" style="display: <?= in_array('jobdescription', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['jobdescription']) ) { ?>
                                    <h5><?= $this->customTitles['jobdescription'] ?></h5>
                                <?php } ?>
                                <label for="jobDescription" class="control-label">Job Description</label>
                                <textarea name="jobDescription" class="form-control" id="jobDescription" placeholder="Job Description"></textarea>
                            </div>

                            <div class="form-group" style="display: <?= in_array('basiclifedescription', $this->questions)? 'block' : 'none' ; ?>">
                                <?php if (isset($this->customTitles['basiclifedescription']) ) { ?>
                                    <h5><?= $this->customTitles['basiclifedescription'] ?></h5>
                                <?php } ?>
                                <label for="basicLife" class="control-label">Basic Life Description</label>
                                <textarea name="basicLife" class="form-control" id="basicLife" placeholder="Basic Life Description"></textarea>
                            </div>

                            <div class="form-group" >
                                <?php foreach($this->personaFields as $fields) {  ?>
                                    <?php if (strtolower(trim($fields['title'])) != 'archetype') { ?>
                                    <div  style="display: <?= in_array(strtolower(trim(preg_replace("![^a-z0-9]+!i", "", $fields['title']))), $this->questions)? 'block' : 'none' ; ?>" class="persona-main-box persona-main-box-fixed" style="width: 100%;" data-contenttype="list" id="field<?= $fields['id'] ?>" data-id="">
                                        
                                        <?php if (isset($this->customTitles[strtolower(trim(preg_replace("![^a-z0-9]+!i", "", $fields['title'])))]) ) { ?>
                                            <h5><?= $this->customTitles[strtolower(trim(preg_replace("![^a-z0-9]+!i", "", $fields['title'])))] ?></h5>
                                        <?php } ?>
                                        <h2 class="fixed-field" data-id="<?= $fields['id'] ?>"><?= $fields['title'] ?></h2>
                                        <div class="persona-main-box-content">
                                            <ul class="fixed-field" data-field-id="<?= $fields['id'] ?>"></ul>
                                        </div>
                                    </div>
                                    <?php } ?>
                                <?php } ?>
                            </div>

                            <div class="form-group">
                                <input type="hidden" value="<?= $this->uuid; ?>" name="uuid" />
                                <button type="submit" name="submit" class="btn btn-success btn-lg btn-round btn-block text-center" value="">SEND</button>
                            </div>

                        </form>
                    <?php } else { ?>
                        <button onclick="javascript:location.href='/'"  type="submit" name="submit" class="btn btn-primary btn-lg btn-round btn-block text-center" value="">OKAY</button>
                    <?php } ?>

                </div>
            </div>
        </div>
    </section>
</div>

<script>
    head.ready('backbone', function () {
        head.load('/js/min/survey.min.js');

    });
</script>