#getting-started .title h4 {
    color:#519548;
}
#getting-started .title h4 i {
    margin-right: 5px;
}
.scene1 h3 {
    color:#519548;
}
.scene1 h3::after {
    border: 1px solid rgba(92, 185, 18, 0.2);
    content: " ";
    display: block;
    margin: 32px 0 24px;
    width: 15%;
}
.scene1 .pull-left img {
    height: 100%;
    width: 100%;
}
.scene1 .btn.btn-primary.pull-right {
    margin-top: 50px;
}
.ui-dialog-titlebar {
   display:none
}
.next-icon {
    margin-left:5px;
}
.back-icon {
    margin-right:5px;
}
.ui-widget-overlay {
   background: #AAA url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
   opacity: .30;
   filter: Alpha(Opacity=30);
}
img.proc1,
img.proc2,
img.proc3,
img.proc4,
img.proc5,
img.proc6,
img.proc7,
img.proc8,
img.proc9,
img.proc10{
    width:100%
}
img.proc3,
img.proc4,
img.proc5{
    margin-bottom: 15px;
    border:1px solid #519548;
}
img.proc1 {
    height: 80px;
    margin: 35px 0;
}
img.proc2 {
    height: 220px;
    margin-bottom: 10px;
}
img.proc3 {
    height: 105px;
}
img.proc7 {
    height: 335px;
}
img.proc8,
img.proc10 {
    height: 360px;
}
.scene-content .btn {
    margin-right:5px
}
.scene-content ol li {
    margin-top: 55px;
}
.scene-content .required-code li {
    margin-top: 10px;
}
.ui-dialog {
    z-index:9999;
}
.close-gs-button {
    cursor:pointer;
}