
<?php
$form = $this->loginForm;
$form->prepare();
$queryString = isset($_GET['redirect']) ? '?redirect=' . $_GET['redirect'] : '';
$form->setAttribute('action', $this->url('signin') . $queryString);
$form->setAttribute('id', 'frmLogin');
$form->setAttribute('method', 'post');
$form->setAttribute('data-login', '1');
$form->setAttribute('class', 'form-horizontal ng-pristine ng-valid login-form');
$redirect = $this->redirect ? '?redirect=' . $this->escapeUrl($this->redirect) : '';
?>
<section data-ng-view="" id="content" class="container login ng-scope">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="login-logo text-center">
                <img src="/img/personabold-logo-white.png" />
            </div>

            <div class="login-container">

                <div class="form-container">
                    <h1 class="text-center">Account Login</h1>
                    <?php echo $this->form()->openTag($form) ?>
                    <fieldset>

                        <div class="login form-group">
                            <i class="fa fa-user"></i>
                            <?php
                            $identity = $form->get('identity');
                            $identity->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'USERNAME/EMAIL');
                            echo $this->formInput($identity);
                            ?>
                        </div>
                        <?= $this->formElementErrors($identity); ?>
                        <div class="login form-group">
                            <i class="fa fa-lock"></i>
                            <?php
                            $credential = $form->get('credential');
                            $credential->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'PASSWORD');
                            echo $this->formInput($credential);
                            ?>
                        </div>
                        <?= $this->formElementErrors($credential); ?>
                        <div class="login text-center">
                            <?php
                            $submit = $form->get('submit');
                            $submit->setAttribute('class', 'btn btn-success btn-lg btn-round text-center');
                            echo $this->formButton($submit);
                            ?>
                        </div>
                    </fieldset>
                    <?php echo $this->form()->closeTag() ?>

                    <section>
                        <p class="forgot-cta text-center"><a href="<?php echo $this->url('forgot') ?>">Forgot your password?</a></p>
                        <p class="register-cta text-center text-muted text-small">Don't have an account yet?
                            <a href="<?= $this->url('register') . $redirect; ?>">Sign Up</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>