<?php
$form = $this->registerForm;
$form->prepare();
$form->setAttribute('id', 'frmUserRegister');
$form->setAttribute('class', 'login-form');
$form->setAttribute('action', $this->url('register'));
$form->setAttribute('method', 'post');
?>
<section data-ng-view="" id="content" class="container login ng-scope">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="login-logo text-center">
                <img src="/img/personabold-logo-white.png" />
            </div>
            <div class="login-container">
                <div class="form-container">
                    <h1 class="text-center">Create Your Account</h1>
                    <h4>15 Day Free Trial</h4>
                    <?php echo $this->form()->openTag($form) ?>
                    <fieldset>
                        <div class="consumer form-group">
                            <i class="fa fa-user"></i>
                            <span></span>
                            <?php
                            $firstName = $form->get('firstName');
                            $firstName->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'FIRST NAME')
                                    ->setAttribute('id', 'firstName');
                            echo $this->formInput($firstName);
                            ?>
                        </div>
                        <?= $this->formElementErrors($firstName); ?>
                        <div class="consumer form-group">
                            <i class="fa fa-user"></i>
                            <span></span>
                            <?php
                            $lastName = $form->get('lastName');
                            $lastName->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'LAST NAME')
                                    ->setAttribute('id', 'lastName');
                            echo $this->formInput($lastName);
                            ?>
                        </div>
                        <?= $this->formElementErrors($lastName); ?>
                        <div class="consumer form-group">
                            <i class="fa fa-building"></i>
                            <span></span>
                            <?php
                            $companyName = $form->get('companyName');
                            $companyName->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'COMPANY NAME')
                                    ->setAttribute('id', 'companyName');
                            echo $this->formInput($companyName);
                            ?>
                        </div>
                        <?= $this->formElementErrors($companyName); ?>
                        <div class="consumer form-group">
                            <i class="fa fa-envelope"></i>
                            <span></span>
                            <?php
                            $email = $form->get('email');
                            $email->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'EMAIL')
                                    ->setAttribute('id', 'email');
                            echo $this->formInput($email);
                            ?>
                        </div>
                        <?= $this->formElementErrors($email); ?>
                        <div class="consumer form-group">
                            <i class="fa fa-lock"></i>
                            <span></span>
                            <?php
                            $password = $form->get('password');
                            $password->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'PASSWORD')
                                    ->setAttribute('id', 'password');
                            echo $this->formInput($password);
                            ?>
                        </div>
                        <?= $this->formElementErrors($password); ?>
                        <div class="consumer form-group">
                            <i class="fa fa-lock"></i>
                            <span></span>
                            <?php
                            $passwordVerify = $form->get('passwordVerify');
                            $passwordVerify->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'VERIFY PASSWORD')
                                    ->setAttribute('id', 'passwordVerify');
                            echo $this->formInput($passwordVerify);
                            ?>
                        </div>
                        <?= $this->formElementErrors($passwordVerify); ?>
                        <div class="consumer">
                            <?php if ($this->redirect): ?>
                                <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
                            <?php endif ?>
                            <?php
                            $submit = $form->get('submit');
                            $submit->setAttribute('class', 'btn btn-lg btn-round btn-block text-center btn-success');
                            $submit->setLabel('Register & Signin');
                            $userType = $form->get('userType');
                            echo $this->formInput($userType);
                            $username = $form->get('username');
                            echo $this->formHidden($username);
                            echo $this->formButton($submit);
                            ?>
                        </div>
                    </fieldset>
                    <?php echo $this->form()->closeTag() ?>

                    <section class="other-settings">
                        <p class="login-cta text-center text-muted text-small">
                            Already have an account? <a href="<?php echo $this->url('signin') . ($this->redirect ? '?redirect=' . $this->escapeUrl($this->redirect) : '') ?>">Log In</a>
                        </p>

                    </section>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    head.ready('validate', function () {
        head.load('/js/register.js');
    });
</script>