<div class="box-grey blue" style="<?= strlen(trim($color)) != 0 ? 'border-top: 3px solid '.$color : '' ?>">
    <div class="box-title">
        <small>Customer Service Vision</small> <a href="./service-builder.html"><i class="fa fa-gear"></i></a>
    </div>
    <strong>Be the best part of our customer's day.</strong>
</div>