<div class="box-grey orange" style="<?= strlen(trim($color)) != 0 ? 'border-top: 3px solid '.$color : '' ?>">
    <div class="box-title">
        <small>Service Statements</small> <a href="./service-builder.html"><i class="fa fa-gear"></i></a>
    </div>
    <ul class="clean-list">
        <li>Act as if you were in the client's shoes.</li>
        <li>Deliver value even when unseen.</li>
        <li>Be proactive, not reactive.</li>
    </ul>
</div>