<div class="box-grey green" style="<?= strlen(trim($color)) != 0 ? 'border-top: 3px solid '.$color : '' ?>">
    <div class="box-title">
        <small>Service Themes</small> <a href="./service-builder.html"><i class="fa fa-gear"></i></a>
    </div>
    <ul class="clean-list">
        <li>
        Features
        </li>
        <li>
        Benefits
        </li>
        <li>
        Experience
        </li>
    </ul>
</div>