<!-- Persona Template -->
<script id="persona-box-template" type="text/template">
    <div class="col-sm-4">
        <figure class="effect-milo">
            <img src="<%= headshot %>" alt="img11"/>
            <figcaption>
                <h2><%= name %></h2>
                <p>
                    <%= jobTitle %><br />
                    <%= industry %><br />
                    <%= archetype %><br />
                </p>
                <a href="/persona/<%= uuid %>">View more</a>
            </figcaption>
        </figure>
    </div>
</script>

<!-- Industry Description Template -->
<script id="industry-description-template" type="text/template">
    <textarea id="industry-description-text" data-id="<%= id %>" data-original="<%= description %>" placeholder="Add a description for this industry..."  class="editable" ><%= description %></textarea>
</script>

<!-- New Industry Description Template -->
<script id="new-industry-description-template" type="text/template">
    <textarea id="industry-description-text" data-id="<%= id %>" data-original="" placeholder="Add a description for this industry..."  class="editable" ></textarea>
</script>

<!-- Persona Data Box Template -->
<script id="persona-data-template" type="text/template">
    <div id="item-<%= sectionName %>" class="section-items" data-name="">
        <div class="persona-section-box persona-main-box clearfix" data-contenttype="<%= type %>" data-id="<%= id %>" id="fieldcustom<%= id %>p<%= personaId %>" >
            <?php if ( $this->validatePermission('edit') ) { ?>
            <div class="button-tool-container pull-right">
                <i class="fa fa-arrows section-mover hide"></i>
                <i class="fa fa-trash hide"  data-id="<%= id %>" data-target="#confirmArchivePersonaData"  data-toggle="modal" data-placement="top" title="This will delete the box." ></i>
                <i class="fa fa-cog gear-btn hide"
                   data-toggle="modal"
                   data-target=".persona-box-modal"
                   data-id="<%= id %>"
                   data-iscustom="true"
                   data-title="<%= title %>"></i>
            </div>
            <?php } ?>
            <h2><input class="custom-field-name" type="text" placeholder="FIRST, ENTER A TITLE" value="<%= title %>" data-toggle="tooltip" data-placement="top" title="Please enter a title first" disabled="true" /></h2>
            <div class="persona-main-box-content"><%= content %></div>
        </div>
    </div>
</script>
<script id="display-personadata-template" type="text/template">
    <li>
        <span class="custom-field" ><%= value %></span>
    </li>
</script>
<script id="edit-personadata-template" type="text/template">
    <li>
        <i class="fa fa-trash-o delete-persona-data"></i>&nbsp;&nbsp;
        <input class="custom-field" placeholder="Add new list item" type="text" data-orig="<%= value %>" value="<%= value %>" />
    </li>
</script>


<script id="persona-fixed-data-template" type="text/template">
    <div class="persona-main-box persona-main-box-fixed clearfix" style="width: 100%;" data-contenttype="list" id="field<%= id %>p<%= personaId %>" data-id="">
        <?php if ( $this->validatePermission('edit') ) { ?>
        <div class="button-tool-container pull-right">
            <i class="fa fa-arrows"></i>
            <i class="fa fa-info-circle"></i>
            <i class="fa fa-cog gear-btn"
               data-toggle="modal"
               data-target=".persona-box-modal"
               data-id="<%= id %>"
               data-iscustom="false"
               data-title="<%= title %>"></i>
        </div>
        <?php } ?>
        <h2 class="fixed-field" data-id="<%= id %>"><%= title %></h2>
        <div class="persona-main-box-content">
            <ul class="fixed-field" data-field-id="<%= id %>" ></ul>
        </div>
    </div>
</script>

<script id="motivations-template" type="text/template">
    <a class="list-group-item motivation-parent" href="#" data-id="<%= id %>" id="motivation-parent<%= id %>">
        <label>
            <input type="checkbox" class="checkBoxMotivation" id="checkBoxMotivation<%= id %>" data-title="<%= title %>" name="motivationsCheck[]" value="<%= id %>" />
            <%= title %>
        </label>
        <i data-toggle="collapse" data-target="#collapseMotivation<%= id %>" class="pull-right fa fa-angle-down"></i>
    </a>
</script>

<script id="motivations-item-template" type="text/template">
        <label>
            <input type="checkbox" class="checkBoxMotivation" id="checkBoxMotivation<%= id %>" data-title="<%= title %>" name="motivationsCheck[]" value="<%= id %>"/>
            <%= title %>
        </label>
    </a>
</script>
<script id="global-channels-template" type="text/template">
    <a class="list-group-item channel-parent" href="#" data-id="<%= id %>" id="channel-parent<%= id %>" data-parent="0">
        <label>
            <input type="checkbox" class="checkBoxChannel" id="checkBoxChannel<%= id %>" data-title="<%= title %>" name="channelsCheck[]" value="<%= id %>" />
            <%= title %>
            <% if (hasChild) { %><i data-toggle="collapse" data-target="#collapseChannel<%= id %>" class="pull-right fa fa-angle-down"></i><% } %>
        </label>
    </a>
</script>

<script id="global-channels-item-template" type="text/template">
    <a class="list-group-item channel-child" href="#" data-id="<%= id %>" data-parent="<%= parent_id %>">
        <label>
            <input type="checkbox" class="checkBoxChannel" id="checkBoxChannel<%= id %>" data-title="<%= title %>" name="channelsCheck[]" value="<%= id %>"/>
            <%= title %>
        </label>
    </a>
</script>

<script id="channels-slider-template" type="text/template">
    <div class="row persona-rows item-sliders" id="channel<%= id %>">
        <span class="persona-label"><%= name %></span>
        <div class='channelSlider <%= channelStatus %>' data-value="<%= value %>" data-cid="<%= id %>" data-parentid="<%= parentId %>" data-id="<%= channelId %>" id="channelSlider<%= channelId %>"></div>
        </div>
</script>

<script id="motivations-slider-template" type="text/template">
    <div class="row persona-rows item-sliders" id="motivation<%= id %>">
        <span class="persona-label"><%= name %></span>
        <div class='motivationSlider <%= motivationStatus %>' data-value="<%= value %>" data-mid="<%= id %>" data-id="<%= motivationId %>" id="motivationSlider<%= motivationId %>"></div>
    </div>
</script>
<script id="slider-template" type="text/template">
    <div class="row persona-rows item-sliders" id="slider-<%= id %>">
        <i class="fa fa-trash-o delete-slider hide" data-itemid="<%= id %>"></i>
        <span class=""><%= name %></span>
        <div class='<%= typeName %>Slider <%= dataStatus %>' data-name="<%= name %>" data-value="<%= value %>" data-parentid="<%= typeof parentId != 'undefined' ? parentId : 0 %>" data-itemId="<%= id %>" data-id="<%= dataId %>" id="<%= sliderUniqueId %>"></div>
    </div>
</script>
<script id="persona-slider-display-template" type="text/template">
    <div class="channel<%= id %>" style="width:100%;border:1px solid #ccc; height:12px;border-radius:6px">
        <div style="width:<%= value %>%;height:100%;border-radius:6px;background:<%= color %>"></div>
    </div>
</script>
<script id="archetype-option-template" type="text/template">
    <option
        value="<%= id %>"
        data-subtext="<%= shortDescription %>"
        data-description="<%= description %>">
        <%= title %>
    </option>
</script>

<script id="industry-option-template" type="text/template">
        <option data-position="<%= indCount %>" value="<%= id %>" ><%= industryName %></option>
</script>

<script id="jobtype-option-template" type="text/template">
    <option value="<%= id %>" ><%= jobTypename %></option>
</script>

<script id='list-count' type="text/template">
    <li class="list-count">
        <span><%= title %></span>
        <span class="count"><%= count %></span>
    </li>
</script>
<script id="persona-export-templates" type="text/template">
    <div class="templates" data-uuid="<%= templateUuid %>">
        <img src="<%= templatePreviewPath %>">
    </div>
</script>
<script id="persona-client-template" type="text/template">
    <div class="col-sm-6">
        <figure class="effect-milo">
            <img src="<%= headshot != null ? headshot : '/img/headshots/1x400.jpg'  %>" alt="img11">
            <figcaption>
                <h2><%= name %></h2>
                <p>
                    <%= jobTitle %><br>
                    <%= industry %><br>
                    <%= archetype %><br>
                </p>
                <a href="/persona/<%= uuid %>">View more</a>
            </figcaption>
        </figure>
    </div>
</script>
<script id="client-list-main" type="text/template">
    <div class="client-header">Persona Template</div>
    <a class="btn btn-success add-client-lnk" href="/persona/client/add-persona/<%= uuid %>">Add Persona</a>
    <div class="container-fluid grid" id="persona-container"></div>
</script>
<script id="persona-add-client" type="text/template">
    <div class="client-header">Add Client</div>
    <div class="add-client-container">
        <div class="col-sm-10 form-persona">
            <form id="frm-add-client">
                <div class="form-persona-field"><input id="client-name" name="client-name" type="text" class="form-input input-round" value="" maxlength="250" placeholder="CLIENT NAME"></div>
                <div class="form-persona-field"><textarea id="client-description" name="client-description" class="form-input input-round" value="" maxlength="1000" placeholder="CLIENT DESCRIPTION"></textarea></div>
                <div class="persona-action">
                    <a class="btn btn-success btn-add-client">Add Client</a>
                    <a class="btn btn-cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</script>
<script id="persona-revision-main" type="text/template">
    <div class="client-header">Recent Activity</div>
    <ul class="activity-list">
    </ul>
</script>
<script id="activity-company-list" type="text/template">
    <div class="company-container">
        Client&nbsp;&nbsp;<span><%= clientName %></span>
    </div>
</script>
<script id="persona-revision-list" type="text/template">
    <li>
            <div class="container-fluid activity-row">
		<div class="row">
                    <div class="col-sm-10">
                    	<ul class="activity-detail">
                    		<li><div class="activity-img" style="background:url(<%= userImage %>) no-repeat scroll 100% 100% / 100% 100% !important;background-size: 100%;"></div></li>
                    		<li><span class="activity-name"><a href="/persona/revision/<%= revisionId %>"><%= username %></a></span></li>
                    		<li><span class="activity-action"><a href="/persona/revision/<%= revisionId %>"><%= deleteFlag != 1 ? ( createFlag != 1 ? ' updated' : ' created' ) : ' deleted' %> <%= deleteFlag != 1 ? revisionDetails+' for' : '' %></a></span></li>
                    		<li><span class="activity-persona"><a href="/persona/revision/<%= revisionId %>"><%= personaName %></a></span></li>
                    		<li><span class="activity-current">( <a href="/persona/<%= uuid %>">View Current Persona</a> )</span></li>
                    	</ul>
                    </div>
                    <div class="col-sm-2">
                       <a href="/persona/revision/<%= revisionId %>"><i class="label label-success"><%= createdAt %></i></a>
                    </div>
                </div>
            </div>
        </a>
    </li>
</script>
<script id="export-iframe" type="text/template">
    <iframe src="<%= pdfPreview %>"></iframe>
</script>
<script id="export-loader" type="text/template">
    <div class="processing-pdf">
        <span>Generating Preview. Please wait...</span>
        <img src="/img/loading-icon.gif" id="loadingIcon" name="loadingIcon"/>
    </div>
</script>
<script id="export-error" type="text/template">
    <div class="processing-pdf">
        <span>An error occured while generating pdf preview. Please reload and try again.</span>
    </div>
</script>
<script id="left-nav-template" type="text/template">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Surveys
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="btn-survey">Send Survey</a></li>
            <li class="persona-list-page">
                <a href="#" disabled="disabled">Survey Results(0)</a>
            </li>
        </ul>
    </li>
    <li><a data-toggle="modal" data-target="#exportPersonaModal" href="#" class="btn-export-persona"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Export Persona</a></li>
    <li><a href="/persona/compare?persona[]=<%= uuid %>" class="btn-compare"><i class="fa fa-exchange"></i>&nbsp;&nbsp;&nbsp;Compare</a></li>
</script>
<script id="industry-add-persona-template" type="text/template">
    <?php if ( $this->validatePermission('edit') ) { ?>
    <div class="add-new-persona col-sm-4">
        <a href="/persona"><i class="fa fa-user"></i> Add New Persona</a> 
    </div>
    <?php } ?>
</script>
<script id="client-add-file-template" type="text/template">
    <?php if ( $this->validatePermission('edit') ) { ?>
    <div class="file-items col-sm-2">
        <div class="add-file" data-toggle="modal" data-target="#uploadExportFileModal">
          <i class="fa fa-plus"></i>
          <span>Add File</span>
        </div>
    </div>
    <?php } ?>
</script>
<script id="client-file-listing-template" type="text/template">
    <div class="file-items col-sm-2">
        <span class="title"><%= name %></span>
        <div class="img">
            <img class="image-file" src="<%= path %>" />
        </div>
    </div>
</script>
<script id="headshot-template" type="text/template">
    <div class=" headshot clearfix col-sm-5 <%= active %>" data-image="<%= path %>" data-field="headshot" style="background:url(&quot;<%= path %>&quot) no-repeat center">
    </div>
</script>