Hi <?php echo $user->getFirstName() ?><br/><br />

This email is to confirm that you have been invited to join Persona<b>Bold</b>. <br/>
Please check below the details of your username and your temporary password.<br/>
<br/>
Username <b><?= $user->getUsername() ?></b><br/>
Update Password: <b><?= $user->getPassword() ?></b><br/>
Click this <a href="<?= $this->serverUrl($this->url('home')) ?>">Persona<b>Bold</b></a> to redirect to Persona<strong>Bold</strong> website.
<br /><br /><br />

Regards,<br /><br />
PersonaBold Team
            
