Hi!<br/><br />

A new user has registered at Persona<b>Bold</b>. <br/>
<br/>
<b>Email:</b> <?php echo $user->getEmail() ?>
<br/>
<b>Name:</b> <?php echo $user->getFirstName() . ' ' . $user->getLastName() ?>
<br/>
<b>Company:</b> <?php echo $user->getAccount()->getName() ?>
<br /><br />

Regards,<br /><br />

PersonaBold Team

