Hi <?php echo $user['firstName'] ?><br/>
<br/>
There are revision details in the PersonaBold.
<br/><br />
<ul class="revision-details">
<?php foreach ($revisions as $revDetails) { ?>
    <li><a href="<?= $this->url('persona/revisionPage/revision', array('revisionId' => $revDetails['revisionId'])) ?>">
        <?= $revDetails['username'].' has '.($revDetails['deleteFlag']? 'deleted ' : 'updated ').$revDetails['revisionDetails'].' '.$revDetails['personaName'] ?>
        </a>
    </li>
<?php } ?>
</ul>
<br /><br /><br />

Regards,<br /><br />
PersonaBold Team
            
