<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns:v="urn:schemas-microsoft-com:vml">
    <head>

        <!-- Define Charset -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Responsive Meta Tag -->
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
        <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no"> 

            <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Rubik:400,300,500,700' rel='stylesheet' type='text/css'>
                    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600' rel='stylesheet' type='text/css'>
                        <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara:400,300,500,600,700' rel='stylesheet' type='text/css'>

                            <title>Everest - Responsive Email Template</title>

                            <style type="text/css">

                                body{
                                    width: 100%; 
                                    background-color: #ffffff; 
                                    margin:0; 
                                    padding:0; 
                                    -webkit-font-smoothing: antialiased;
                                    mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;
                                }

                                p,h1,h2,h3,h4{
                                    margin-top:0;
                                    margin-bottom:0;
                                    padding-top:0;
                                    padding-bottom:0;
                                }

                                span.preheader{display: none; font-size: 1px;}

                                html{
                                    width: 100%; 
                                }

                                table{
                                    font-size: 14px;
                                    border: 0;
                                }


                                /* ----------- responsivity ----------- */
                                @media only screen and (max-width: 798px){
                                    body[yahoo] .hide-800{display: none !important;}
                                    body[yahoo] .container800{width: 100% !important;} 
                                    body[yahoo] .container800_img{width: 50% !important;}
                                    body[yahoo] .section800_img img{width: 100% !important; height: auto !important;}
                                    body[yahoo] .half-container800{width: 49% !important;}	
                                }

                                /* ----------- responsivity ----------- */
                                @media only screen and (max-width: 640px){

                                    /*------ top header ------ */	
                                    body[yahoo] .main-header{font-size: 22px !important;}
                                    body[yahoo] .main-section-header{font-size: 28px !important;}
                                    body[yahoo] .show{display: block !important;}
                                    body[yahoo] .hide{display: none !important;}
                                    body[yahoo] .align-center{text-align: center !important;}

                                    /*----- main image -------*/
                                    body[yahoo] .main-image img{width: 440px !important; height: auto !important;}

                                    /* ====== divider ====== */
                                    body[yahoo] .banner img{width: 440px !important;}
                                    body[yahoo] .divider img{width: 440px !important;}

                                    /*-------- container --------*/			
                                    body[yahoo] .container590{width: 440px !important;}
                                    body[yahoo] .container580{width: 400px !important;}
                                    body[yahoo] .container800{width: 440px !important;}
                                    body[yahoo] .container800_img{width: 100% !important;}
                                    body[yahoo] .section800_img img{width: 100% !important;}
                                    body[yahoo] .half-container{width: 220px !important;}
                                    body[yahoo] .main-button{width: 220px !important;}

                                    /*-------- secions ----------*/
                                    body[yahoo] .section-img img{width: 320px !important; height: auto !important;}
                                    body[yahoo] .team-img img{width: 100% !important; height: auto !important;}

                                }

                                @media only screen and (max-width: 479px){
                                    /*------ top header ------ */
                                    body[yahoo] .main-header{font-size: 20px !important;}
                                    body[yahoo] .main-section-header{font-size: 26px !important;}

                                    /* ====== divider ====== */
                                    body[yahoo] .banner img{width: 280px !important;}
                                    body[yahoo] .divider img{width: 280px !important;}

                                    /*-------- container --------*/			
                                    body[yahoo] .container590{width: 280px !important;}
                                    body[yahoo] .container590{width: 280px !important;}
                                    body[yahoo] .container580{width: 260px !important;}
                                    body[yahoo] .container800{width: 100% !important;}
                                    body[yahoo] .container800_img{width: 100% !important;}
                                    body[yahoo] .section800_img img{width: 100% !important; height: auto !important;}
                                    body[yahoo] .half-container800{width: 100% !important;}
                                    body[yahoo] .half-container{width: 130px !important;}

                                    /*-------- secions ----------*/
                                    body[yahoo] .section-img img{width: 280px !important; height: auto !important;}  
                                }

                            </style>
                            </head>


                            <body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


                                <!-- ======= main section ======= -->


                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="228fc7">

                                    <tr>
                                        <td align="center" style="background-image: url(https://app.personabold.com/img/personabold-header.png); background-size: cover; background-position: top center; background-repeat: no-repeat;" background="//personabold.com/wp-content/uploads/2016/11/personabold-logo-white.png">

                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td>
                                                        <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <tr>
                                                                <td align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0" align="center">

                                                                        <tr>
                                                                            <!-- ======= logo ======= -->
                                                                            <td align="center">
                                                                                <a href="<?= $this->serverurl(false) // . '/activate/' . $user->getUuid() ?>" style="display: block; border-style: none !important; border: 0 !important;"><img width="106" border="0" style="display: block; width: auto;" src="./logo.png" alt="" /></a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>		
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <table border="0" align="left" width="5" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                                            <tr><td width="5" height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td></tr>
                                                        </table>

                                                        <table border="0" align="right" cellpadding="0" width="360" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="hide">

                                                            <tr>
                                                                <td>
                                                                    <table border="0" align="left" cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="hide">

                                                                        <tr>
                                                                            <td align="center">

                                                                            </td>
                                                                        </tr>

                                                                    </table>

                                                                    <table border="0" align="left" width="2" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590 hide">
                                                                        <tr><td width="2" height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>
                                                                    </table>

                                                                    <table border="0" cellpadding="0" cellspacing="0" align="right" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590 hide">

                                                                        <tr>
                                                                            <td align="left">
                                                                                <table align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">	
                                                                                    <tr>
                                                                                        <td align="center" style="color: #ddefff; font-size: 14px; font-family: 'Hind Vadodara', Calibri, sans-serif; line-height: 24px;">
                                                                                            <div style=" line-height: 24px;">

                                                                                                <a href="<?= $this->serverurl(false) ?>" style="color: #ddefff; text-decoration: none;">My Dashboard</a>

                                                                                            </div>	
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>		
                                                                            </td>
                                                                        </tr>	
                                                                    </table>
                                                                </td>
                                                            </tr>	
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr class="hide"><td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td></tr>
                                                <tr><td height="80" style="font-size: 80px; line-height: 80px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center">
                                                        <table border="0" width="480" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">	

                                                            <tr>
                                                                <td align="center" style="color: #ffffff; font-size: 44px; font-family: Rubik, Calibri, sans-serif; line-height: 34px;" class="main-section-header">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 34px">

                                                                        <?php echo $user->getFirstName() ?>, Welcome To PersonaBold

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                            <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="center" style="color: #eaf5ff; font-size: 15px; font-family: Lato, Calibri, sans-serif; line-height: 24px;">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        The Ultimate Audience Tool

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr><td height="40" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center">
                                                        <table border="0" align="center" width="294" cellpadding="0" cellspacing="0" style="border: 1px solid #ffffff; border-radius: 30px;">

                                                            <tr><td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="center" style="color: #ffffff; font-size: 13px; font-family: Lato, Calibri, sans-serif; font-weight: 700; line-height: 24px;">
                                                                    <!-- ======= main section button ======= -->

                                                                    <div class="editable_text" style="line-height: 24px;">
                                                                        <span class="text_container">
                                                                            <a href="<?= $this->serverurl(false) ?>" style="color: #ffffff; text-decoration: none;">Login Now</a>
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr><td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td></tr>

                                                        </table>

                                                    </td>
                                                </tr>

                                                <tr class="hide"><td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td></tr>
                                                <tr><td height="90" style="font-size: 90px; line-height: 90px;">&nbsp;</td></tr>

                                            </table>
                                        </td>
                                    </tr>

                                </table>

                                <!-- ======= end section ======= -->


                                <!-- ======= 1/2 text 1/2 image ======= -->

                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="f3f6fc">

                                    <tr><td height="55" style="font-size: 55px; line-height: 55px;">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center">
                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr>
                                                    <td>

                                                        <table border="0" width="330" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <tr>
                                                                <td align="left" style="color: #000000; font-size: 26px; font-family: Rubik, Calibri, sans-serif; line-height: 31px;" class="align-center">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 31px">

                                                                        Get Started <br class="hide"/>with PersonaBold.

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                            <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="left" style="color: #7d7d7d; font-size: 15px; font-family: Lato, Calibri, sans-serif; line-height: 24px;" class="align-center">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        We're excited you are trying PersonaBold out.  Access right now to get started:<br /><br />

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                            <tr><td height="40" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="left">
                                                                    <table border="0" align="left" cellpadding="0" cellspacing="0" class="container590">	
                                                                        <tr>
                                                                            <td align="center">
                                                                                <table border="0" align="center" width="182" cellpadding="0" cellspacing="0" bgcolor="61AE24" style="border-radius: 50px;">

                                                                                    <tr><td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td></tr>

                                                                                    <tr>
                                                                                        <td align="center" style="color: #ffffff; font-size: 14px; font-family: Lato, Calibri, sans-serif; line-height: 22px;">
                                                                                            <!-- ======= main section button ======= -->

                                                                                            <div style="line-height: 22px;">
                                                                                                <a href="<?= $this->serverurl(false) ?>" style="color: #ffffff; text-decoration: none;">Login To Your Account</a>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr><td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td></tr>

                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <table border="0" width="2" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                                            <tr><td width="2" height="50" style="font-size: 50px; line-height: 50px;"></td></tr>
                                                        </table>

                                                        <table border="0" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <!-- ======= section image ====== -->
                                                            <tr>
                                                                <td align="center" class="section-img">
                                                                    <a href="" style=" border-style: none !important; border: 0 !important;"><img src="https://promail.ma/envato/everest/img/img1.png" style="display: block; width: 243px;" width="243" border="0" alt=""/></a>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                </table>

                                <!-- ======= end section ======= -->


                                <!-- ======= headline 1/3 image 2/3 text ======= -->

                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="e5e8ef">

                                    <tr><td height="55" style="font-size: 55px; line-height: 55px;">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center">
                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr>
                                                    <td align="center" style="color: #343434; font-size: 30px; font-family: Raleway, Calibri, sans-serif; font-weight: 500; line-height: 32px;" class="title_color main-header">
                                                        <!-- ======= section text ====== -->

                                                        <div style="line-height: 32px">

                                                            What PersonaBold Can Do

                                                        </div>
                                                    </td>	
                                                </tr>

                                                <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center">
                                                        <table align="center" width="66" border="0" cellpadding="0" cellspacing="0" bgcolor="61AE24" style="border-radius: 5px;">
                                                            <tr><td height="1" style="font-size: 1px; line-height: 1px;"></td></tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr><td height="60" style="font-size: 60px; line-height: 60px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td>
                                                        <table border="0" width="180" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <!-- ======= image ====== -->
                                                            <tr>
                                                                <td align="center">
                                                                    <span style=" border-style: none !important; border: 0 !important;"><img src="https:/app.personabold.com/img/email/img1.png" style="display: block; width: 140px;" width="140" border="0" alt=""/></span>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <table border="0" width="5" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                                            <tr><td width="5" height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
                                                        </table>

                                                        <table border="0" width="380" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <tr>
                                                                <td align="left" style="color: #373a41; font-size: 20px; font-family: Raleway, Calibri, sans-serif; font-weight: 500; line-height: 24px;" class="align-center title_color">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        Build Personas

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                            <tr><td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="left" style="color: #7d7d7d; font-size: 15px; font-family: Lato, Calibri, sans-serif; line-height: 24px;" class="align-center">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        Our key feature is the ability to build robust personas outlining Pains, Motivations, Dislikes, Demographic info, Psychographic info, channels and more.

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                        </table>										
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                </table>

                                <!-- ======= end section ======= -->



                                <!-- ======= 1/3 image 2/3 text ======= -->

                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="e5e8ef">

                                    <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center">
                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr>
                                                    <td>
                                                        <table border="0" width="180" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <!-- ======= image ====== -->
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="" style=" border-style: none !important; border: 0 !important;"><img src="https:/app.personabold.com/img/email/img2.png" style="display: block; width: 140px;" width="140" border="0" alt=""/></a>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <table border="0" width="5" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                                            <tr><td width="5" height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
                                                        </table>

                                                        <table border="0" width="380" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <tr>
                                                                <td align="left" style="color: #373a41; font-size: 20px; font-family: Raleway, Calibri, sans-serif; font-weight: 500; line-height: 24px;" class="align-center title_color">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        Survey &amp; Export

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                            <tr><td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="left" style="color: #7d7d7d; font-size: 15px; font-family: Lato, Calibri, sans-serif; line-height: 24px;" class="align-center">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        Surveys let you collect info from people who match your target audience while exporting creates perfect versions of personas to print, send or hang on your team walls.
                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                        </table>										
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                </table>

                                <!-- ======= end section ======= -->



                                <!-- ======= 1/3 icon 2/3 text ======= -->

                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="e5e8ef">

                                    <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center">
                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr>
                                                    <td>
                                                        <table border="0" width="180" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <!-- ======= image ====== -->
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="" style=" border-style: none !important; border: 0 !important;"><img src="https:/app.personabold.com/img/email/img3.png" style="display: block; width: 140px;" width="140" border="0" alt=""/></a>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <table border="0" width="5" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                                            <tr><td width="5" height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
                                                        </table>

                                                        <table border="0" width="380" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">

                                                            <tr>
                                                                <td align="left" style="color: #373a41; font-size: 20px; font-family: Raleway, Calibri, sans-serif; font-weight: 500; line-height: 24px;" class="align-center title_color">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        Comparison

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                            <tr><td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="left" style="color: #7d7d7d; font-size: 15px; font-family: Lato, Calibri, sans-serif; line-height: 24px;" class="align-center">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        Compare your various personas to understand the differences in your audiences to make marketing and sales decisions.

                                                                    </div>
                                                                </td>	
                                                            </tr>

                                                        </table>										
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr><td height="60" style="font-size: 60px; line-height: 60px;">&nbsp;</td></tr>

                                </table>

                                <!-- ======= end section ======= -->





                                <!-- ======= CTA section ======= -->

                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="5db9df" style="background-image: url(./banner.jpg); background-size: cover; background-position: top center; background-repeat: no-repeat;" background="./banner.jpg">

                                    <tr>
                                        <td align="center">
                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr class="hide"><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
                                                <tr><td height="60" style="font-size: 60px; line-height: 60px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center" style="color: #ffffff; font-size: 30px; font-family: Raleway, Calibri, sans-serif; font-weight: 700; line-height: 24px;" class="title_color main-header">
                                                        <!-- ======= section text ====== -->

                                                        <div style="line-height: 24px">

                                                            <span style="font-weight: 300;">GET</span> STARTED <span style="font-weight: 300;">NOW</span>

                                                        </div>
                                                    </td>	
                                                </tr>

                                                <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center">
                                                        <table align="center" width="50" border="0" cellpadding="0" cellspacing="0" bgcolor="61AE24" style="border-radius: 5px;">
                                                            <tr><td height="2" style="font-size: 2px; line-height: 2px;"></td></tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center">
                                                        <table border="0" width="460" align="center" cellpadding="0" cellspacing="0" class="container580">
                                                            <tr>

                                                                <td align="center" style="color: #ffffff; font-size: 15px; font-family: Lato, Calibri, sans-serif; line-height: 24px;" class="title_color">
                                                                    <!-- ======= section text ====== -->

                                                                    <div style="line-height: 24px">

                                                                        Start using PersonaBold now.

                                                                    </div>
                                                                </td>	
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center">
                                                        <table border="0" align="center" width="190" cellpadding="0" cellspacing="0" bgcolor="61AE24"  style="border-radius: 50px;">

                                                            <tr><td height="8" style="font-size: 8px; line-height: 8px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="center" style="color: #ffffff; font-size: 14px; font-family: Raleway, Calibri, sans-serif; font-weight: 700; letter-spacing: 1px; line-height: 24px;">
                                                                    <!-- ======= main section button ======= -->

                                                                    <div style="line-height: 24px;">
                                                                        <a href="<?= $this->serverurl(false) //. '/activate/' . $user->getUuid() ?>" style="color: #ffffff; text-decoration: none;">LOG IN</a>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr><td height="8" style="font-size: 8px; line-height: 8px;">&nbsp;</td></tr>

                                                        </table>

                                                    </td>	
                                                </tr>		

                                                <tr class="hide"><td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td></tr>
                                                <tr><td height="60" style="font-size: 60px; line-height: 60px;">&nbsp;</td></tr>

                                            </table>
                                        </td>
                                    </tr>

                                </table>

                                <!-- ======= end section ======= -->



                                <!-- ======= Prefooter ====== -->

                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
                                    <tr>
                                        <td align="center">

                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr><td height="50" style="font-size: 50px; line-height: 50px;">&nbsp;</td></tr>

                                                <tr>
                                                    <td align="center">



                                                        <table border="0" align="left" width="5" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                                            <tr><td height="20" width="5" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>
                                                        </table>

                                                        <table border="0" width="280" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">       	

                                                            <tr>
                                                                <td align="left" style="color: #878b99; font-size: 13px; font-family: Lato, Calibri, sans-serif;  mso-line-height-rule: exactly; line-height: 23px;" class="text_color">

                                                                    <!-- ======= main header ======= -->

                                                                    <div class="editable_text" style="line-height: 23px;">
                                                                        <span class="text_container">


                                                                        </span>
                                                                    </div>

                                                                </td>	
                                                            </tr>

                                                            <tr><td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="left" style="color: #878b99; font-size: 13px; font-family: Lato, Calibri, sans-serif;  mso-line-height-rule: exactly; line-height: 23px;" class="text_color">

                                                                    <!-- ======= main header ======= -->

                                                                    <div class="editable_text" style="line-height: 23px;">
                                                                        <span class="text_container">


                                                                        </span>
                                                                    </div>

                                                                </td>	
                                                            </tr>

                                                            <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

                                                            <tr>
                                                                <td align="left">

                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr><td height="50" style="font-size: 50px; line-height: 50px;">&nbsp;</td></tr>

                                            </table>
                                        </td>
                                    </tr>
                                </table>


                                <!-- ======= end footer ====== -->



                                <!-- ======= footer ====== -->
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="f8f9fa">

                                    <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center">

                                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                                <tr>
                                                    <td align="center" style="color: #bbbdc9; font-size: 13px; font-family: Lato, Calibri, sans-serif; line-height: 24px;" class="align-center">
                                                        <div style="line-height: 24px;">

                                                             Copyright © PersonaBold.  All rights reserved

                                                        </div>	
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>

                                </table>
                                <!-- ======= end footer ====== -->


                            </body>
                            </html>
