<!DOCTYPE html>
<?php
    $colors = (array)json_decode($this->accountColors);
    $userId = 0;
    if ( isset($this->user) ) {
        $userId = $this->user->getUuid();
    }
?>

<html lang="en">
    <title><?= $this->config['planbold']['title'] ?></title>
    <head>
        <?= $this->partial('partial/header-scripts.phtml', array('basePath' => $this->basePath(),
                                                                 'config'   => $this->config)); ?>
         <?= $this->partial('user/partial/google-analytics.phtml', array('userId' => $userId));?>
    </head>
    <body id="dashboard">
        <div id="main-nav" class="navigation" style="">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <?php if ( !$haveCards ) { ?>
                <div class="card-notifyer">
                    You're free trial ends in <?= $this->expiration ?> days. <a href="<?= $this->url('settings/subscription-info') ?>">Setup your <i class="fa fa-credit-card"></i>&nbsp;&nbsp;credit card</a> to access the full power of PersonaBold.  
                    <div class="pull-right close"><i class="fa fa-times-circle-o"></i></div>
                </div>
                <?php } ?>
                <div class="container-fluid navbar-top" style="<?php if (isset($colors['app-color'])) { ?>background-color:<?= $colors['app-color'] ?>;opacity:1<?php } ?>">
                    <div class="nav-container">
                    	
	                    <?php
	                    $this->navigation('user.navigation.navbarleft')->menu()->setPartial('user/partial/navbar-left');
	                    echo $this->navigation('user.navigation.navbar-left')->menu()->render();
	                    ?>

	                    <?php
	                    $this->navigation('user.navigation.navbarright')->menu()->setPartial('user/partial/navbar-right');
	                    echo $this->navigation('user.navigation.navbar-right')->menu()->render();
	                    ?>
                    </div>
                </div>
            </div>
        </div>
        <div id="progressBar" class="progress_action_detail" style="display:none;"><div></div></div>
        <div class="container-fluid container-full">
            <?php echo $this->content; ?>
        </div>
        <?= $this->partial('user/partial/footer-scripts.phtml') ?>
    </body>
</html>
<script>
    var isFreeTrial = true;
    head.ready('persona',function(){
        isFreeTrial = <?= (!$haveCards) ? 1 : 0 ?>;
        
        if ( !isFreeTrial ) {
            $('#persona-client .client-nav').removeClass('hide');
            $('#persona-client .audience-section').removeClass('col-sm-12');
            $('#persona-client .audience-section').addClass('col-sm-10');
        }
    });
</script>