<!DOCTYPE html>
<?php
    $colors = (array)json_decode($this->accountColors);
    $userId = 0;
    if ( isset($this->user) ) {
        $userId = $this->user->getUuid();
    }
?>

<html lang="en">
    <title>Shared Persona</title>
    <head>
        <?= $this->partial('partial/header-scripts.phtml', array('basePath' => $this->basePath(),
                                                                 'config'   => $this->config)); ?>
    </head>
    <body id="dashboard">
        <div id="main-nav" class="navigation" style="">
            <div class="navbar navbar-inverse navbar-fixed-top share-header" role="navigation">
                <div class="login-logo text-center">
                    <img src="/img/personabold-logo-white.png">
                </div>
            </div>
        </div>
        <div class="container-fluid container-full">
            <?php echo $this->content; ?>
        </div>
        <?= $this->partial('user/partial/footer-scripts.phtml') ?>
    </body>
</html>