<div class="col-sm-3 col-md-2 sidebar">
    <?php foreach ($this->container as $page): ?>
        <?php if ($page->hasPages()) : ?>
            <?php if ((in_array($page->getLabel(), array('Client Settings')) !== false ) || 
                     (in_array($page->getLabel(), array('Client Settings')) === false && $this->validateUser()) ||
                     ($page->getLabel() == 'Client Settings' && $this->validateUser())) { ?>
            <ul class="nav nav-sidebar">
                <li class="nav-sidebar-header"><?php echo $page->getLabel(); ?></li>
                <?php foreach ($page->getPages() as $child): ?>
                    <li class="<?php echo $child->isActive() ? 'active' : '' ?> nav-sidebar-sub">
                        <a href="<?php echo $child->getHref().($child->getLabel() == 'Update Details' ? '/'.$_SESSION['settingsClientUuid'] : '') ?>"><?php echo $child->getLabel() ?></a>
                    </li>
                <?php endforeach ?>
            </ul>
            <?php } ?>
        <?php endif ?>
    <?php endforeach ?>
</div>