#audience {
    margin-top:0px;
    position:relative;
  textarea {
    &.editable {
      outline: 0;
      padding: 5px!important;
      width: 100%;
      border-radius: 3px;
      height: 85px;
      border: 1px solid transparent;
      background-color: #fff;
      border-bottom: 1px dashed #519548;
    }
  }
}
.audience-section {
    .add-persona-group {
        cursor:pointer;
    }
}
.file-management {
    .add-client-container {
        .file-management-container {
            float:left;
            width:100%;
            .file-items {
                border: 1px solid #ccc;
                border-radius: 7px;
                font-weight: 700;
                margin: 10px;
                padding: 15px;
                text-align: center;
                background: #ccc;
                &:hover {
                    background:#428bca;
                }
                .add-file {
                    border: 2px dotted #000;
                    padding: 40% 0;
                    cursor: pointer;
                }
                .image-file {
                    width: 132px;
                }
            }
        }
    }
}