.personaCompare {

  .btn-compare, .dropdown-toggle {
    height: 35px;
  }

  .person-compare-list {
    li {
      &.compared {
        cursor: not-allowed;
        div {
          opacity: 1 !important;
          border: 2px solid #4CB9DE;
        }
        span {
          color: #000 !important;
          font-weight: bolder;
        }
      }
      float: left;
      margin: 0 3px 7px;
      text-align: center;
      padding: 4px;
      cursor:pointer;
      &:hover {
        div {
          opacity: 1;
          border: 2px solid #4CB9DE;
        }
        span {
          color:rgba(0,0,0,.9);
        }
      }
      div {
        width: 100px;
        height: 100px;
        background-size: cover;
        border-radius: 50%;
        opacity: .5;
        border: 2px solid #fff;
        background-position: center center;
      }
      span {
        display: block;
        font-size: 12px;
        color:rgba(0,0,0,.4);
        margin-bottom:3px;
        width:100px;
        text-overflow:ellipsis;
        overflow: hidden;
      }
    }

  }

  .persona-fields {
    h2 {
      font-size: 21px;
      border-bottom: 1px transparent !important;
      &:hover {
        border-bottom: 1px transparent !important;
      }
    }
    .button-tool-container {
      display: none;
    }
  }
}