.settings-company {
    .profile-big {
        margin-bottom: 20px;
        text-align: center;
        &>img {
            width:200px;
        }
    }
    #upload-space {
        border: 1px dashed #bebebe;
        padding: 35px;
        text-align: center;
    }
}