.file-management {
    #uploadExportFileModal {
        .modal-body {
            #uploadFiles {
                .form-object {
                    #txt-name {
                        padding: 8px;
                        margin: 11px 0;
                        width: 74%;
                    }
                }
                .form-action {
                    text-align: center;
                    .btn-save-file {
                        margin:10px;
                    }
                }
            }
        }
    }
}