.settings-details {
    #addIndustry {
        .modal-dialog{
            width:470px;
            #industry-modal-sec {
                &> form {
                    padding: 0 30px;
                }
            }
        }
    }
    .error-message-industry {
        font-size: 13px;
        color: #FF3838;
        font-weight: 700;
        margin-left: 8px;
    }
    .industry-action {
        text-align: center;
        .delete-industry {
            margin-right: 10px;
        }
        .toggle-sub-industry {
            margin-left: 11px;
        }
    }
    .industry-container {
        .industry-items {
            background: #add8e6 none repeat scroll 0 0;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 5px;
            max-height: 240px;
            padding: 10px;
            .industry-details {
                background: #fff none repeat scroll 0 0;
                border: 1px solid #ccc;
                float: left;
                margin-bottom: 10px;
                padding: 10px;
                .subitems {
                    border: 1px dotted #ccc;
                    float: left;
                    width: 100%;
                    border-radius: 6px;
                    &> label {
                        background: #ccc none repeat scroll 0 0;
                        border-radius: 7px 0 0 7px;
                        padding: 6px;
                        border:1px solid darkgray;
                        margin-bottom:0px;
                    }
                    .desc {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 130px;
                    }
                }
            }
            .industry-actions {
                text-align: center;
            }
            .add-industry-list {
                background: #5cb85c none repeat scroll 0 0;
                border: 1px solid #000;
                border-radius: 6px;
                color: #fff;
                cursor: pointer;
                font-weight: 500;
                margin: 6% 0;
                padding: 29%;
                &:hover {
                    font-weight: 700;
                }
            }
        }
    }
}