#notifSendSurveySubscModal,
#notifUpgradeSubscription,
#notifAddUserModal,
#notifAddClientModal,
#notifAddSubscription{
    font-size:17px;
    .modal-lg {
        width: 555px;
        #upgrade-subscription-modal {
            border: 1px solid #ccc;
            height: 450px;
            margin: 2px;
            position: relative;
            .upgrade-subscription {
                border: 1px solid #ccc;
                height: 65%;
                margin-top: 12px;
                padding: 10px;
                text-align: center;
                &> div {
                    width:50%;
                    height: 100%;
                    border-right: 1px solid #ccc;
                    &:last-child {
                        border-right:none;
                    }
                    .packages {
                        &> span {
                            display: inline-block;
                            width: 100%;
                            &.package-amt {
                                font-size: 48px;
                                font-weight: 700;
                            }
                            &.package-label {
                                font-weight:700;
                                color: red;
                            }
                            &.package-survey,
                            &.package-persona,
                            &.package-template {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .subscription-link {
                font-size: 14px;
                margin-top: 10px;
                &> a {
                    font-style:italic;
                    font-weight: 700;
                }
            }
            .upgrade-actions {
                bottom: 0;
                margin: 25px;
                position: absolute;
                right: 0;
            }
            .upgrade-subscription {
                .align-center {
                    margin: 0 25%;
                }
            }
        }
    }
}
