.settings-persona {
    h1 {
        text-shadow: 4px 4px #ccc;
    }
    .gallery-template {
        margin-top:25px;
        .templates {
            float:left;
            background: #000;
            border-radius:15px;
            margin: 5px;
            padding: 5px;
            position:relative;
            transform: translate3d(0px, 0px, 0px);
            transition: transform .2s ease-in-out;
            cursor:pointer;
            .update-temp {
                background: rgba(66,139,202, 0.8);
                border-radius: 0 0 7px 7px;
                bottom: 0;
                color: #fff;
                font-weight: bold;
                margin-bottom: 5px;
                padding: 20px;
                position: absolute;
                text-align: center;
                width: 97%;
                display:none;
                &> a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 500;
                    float:left;
                    width:100%;
                }
            }
            &:hover {
                transform: translate3d(0px, -50px, 0px);
                .update-temp {
                    display:block;
                }
            }
            &> img {
                height: 250px;
                width: 250px;
                border-radius:9px;
            }
        }
    }
}
#exportPersonaModal, {
    .modal-dialog {
        width:1048px;
        .export-details {
            margin: 5px 34px 0;
            font-size: 14px;
            background: lightgreen;
            padding: 10px 20px;
        }
        #export-persona-modal {
            height:400px;
            .gallery-template {
                height: 470px;
                overflow-x: hidden;
                position: relative;
                .templates {
                    display:inline;
                    &> img {
                        height: 200px;
                        margin: 20px;
                        position: relative;
                        width: 200px;
                        border-radius: 17px;
                        border:1px solid green;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
#exportPersonaDetailsModal {
    .export-details {
        height:400px;
        padding-top:32px;
        .left-export {
            float: left;
            width: 30%;
            text-align: center;
            margin-left: -5%;
            border-right: 1px solid #ccc;
            height: 100%;
            padding-right: 21px;
            label {
                width: 100%;
                margin: 10px 42px;
            }
        }
        .right-export {
            float: left;
            width: 66%;
            margin: 4%;
            height: 100%;
            margin-left: 10px;
            .export-content {
                height:100%;
                iframe,
                div.no-pdf,
                .processing-pdf {
                    margin: -36px;
                    height: 100%;
                    margin-left: 10px;
                    width: 100%;
                    text-align:center;
                    span {
                        text-align: center;
                        font-size:16px;
                    }
                }
            }
        }
    }
}