/** Start Persona Page */
@borderRadiusCustom: "0 0 4px 4px";

#audience {
  margin-top: 85px;
}
.persona-modal {
    #sendsurvey-modal {
        section { 
            .question-list {
                label {
                    display: block;
                    font-weight: normal;
                    padding-left: 17px;
                    input {
                        margin-right: 14px;
                    }
                }
            }
        }
    }
    #upload-space {
        border: 1px dashed #bebebe;
        padding: 35px;
        text-align: center;
        color: gray;
    }
    .persona-input {
        margin-bottom: 20px;
    }
    .button-tool-container {
        display: none;
    }
    #channels-list {
        height:100%;
        overflow-x: hidden;
        margin-bottom:20px;
        .channel-child {
            padding-left: 40px;
        }
    }
    .persona-main-box {
        h2 {
            border-bottom: 1px solid transparent;
            &.fixed-field {
                display: none;
            }
        }

    }
    .list-group {
        margin-bottom: 0px;
        .list-group-item {
            padding: 6px 14px;
        }
    }
}
.audience-persona {
    height: 80vh;
    float:right;
    #persona-container {
        height: 100%;
        overflow-x: hidden;
    }
}
#persona, #survey{
    .dropdown-menu {
        &.revision-history-list {
            overflow-x: hidden;
            max-height: 216px;
        }
    }
    .persona-options {
        li {
            margin-right: 14px;
            a {
                padding-top: 7px !important;
                background: #363636;
                color: #fff;
                cursor:pointer;
                &:hover {
                    background: gray;
                }
            }
        }
    }
    .bootstrap-select {
        img {
            width: 25px;
            height: 23px;
        }
    }
    .persona-main-box {
        width: 100%;
        margin-bottom: 25px;
        background: rgb(255, 255, 255);
        border-radius: 4px;
        padding: 20px;
        -moz-transition:background-color 2s;
        -webkit-transition:background-color 2s;
        -o-transition:background-color 2s;
        transition:background-color 2s;
    }
    #sendSurveyModal {
        #sendsurvey-modal {
            .question-list {
                label {
                    display: block;
                    font-weight: 400;
                    padding-left: 17px;
                    .custom-titles {
                        width: 50%;
                        padding:5px;
                    }
                }
            }
        }
    }
    #channelsModal {
        max-height:100%;
        .modal-dialog {
            .modal-content {
                .persona-rows {
                    padding:0 20px;
                    #channels-list {
                        height:620px;
                        overflot-x:hidden;
                        .channel-parent,
                        .channel-child {
                            label {
                                display: initial;
                                font-weight: 500;
                                margin-bottom: 5px;
                                max-width: 100%;
                            }
                        }
                    }
                    .channels-slider-container {
                        height: 620px;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }
    #motivationsModal,
    #channelsModal,
    #knowledgeModal,
    #personaBoxModal,
    #personaInfoModal,
    #personaInfo2Modal {
        .modal-dialog {
            width:60%;
            .modal-content {
                height:100vh;
                .instruction-details {
                    padding:12px 39px;
                    font-size:13px;
                }
                .delete-slider {
                    cursor: pointer;
                }
                .content-slider {
                    height:100%;
                    overflow-x: hidden;
                }
                .modal-editable {
                    background: #f4f4f4 none repeat scroll 0 0;
                    width: 100%;
                    border: 1px solid transparent;
                    margin-bottom: 15px;
                    padding: 8px 2px !important;
                }
            }
        }
    }
    #personaInfoModal {
        .canvas-gender-modal {
            margin:25px;
        }
    }
    #motivationsModal {
        .modal-dialog {
            .modal-content {
                .persona-rows {
                    padding:0 20px;
                    #motivations-list {
                        label {
                            font-weight:500;
                            font-size:12px;
                        }
                        .motivation-title {
                            font-weight:700;
                            font-size: 12px;
                        }
                        .add-motivation {
                            .small-instruction {
                                font-size:10px;
                            }
                            #txt-motivation {
                                width: 100%;
                                margin: 10px 0px 0px;
                                background: #ccc;
                                border-radius: 7px;
                                padding: 7px;
                                border-style:solid;
                            }
                        }
                        .listing {
                            max-height: 520px;
                            overflow-x: hidden;
                            border-top: 1px solid #ccc;
                            margin-top: 10px;
                            .motivation-parent,
                            .motivation-child {
                                label {
                                    display: initial;
                                    margin-bottom: 5px;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                    .motivations-slider-container {
                        max-height: 620px;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }
    #uploadHeadshotModal {
        .modal-dialog {
            width: 1000px;
            height: 100vh;
            .browse-headshot {
                background: #ccc none repeat scroll 0 0;
                border-radius: 5px;
                margin: 2px 0;
                padding: 10px;
                cursor: pointer;
            }
            .file-ready {
                font-weight:700;
                font-size:24px;
            }
            .browse-upload-photo {
                text-align: center;
                .upload-desc {
                    font-weight:700;
                }
                .filter-headshot {
                    float: left;
                    margin-left: 10px;
                    margin-top: 20px;
                    position: relative;
                    .filter-container {
                        line-height: 23px;
                        list-style: outside none none;
                        text-align: left;
                        &> li {
                            cursor:pointer;
                            &.active {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .browse-headshot-library {
                height: 660px;
                overflow-x: hidden;
                .headshot {
                    cursor:pointer;
                    &.active {
                        border: 5px solid #3399ff;
                    }
                }
            }
            .upload-space {
                background: #ccc;
                .progress {
                    display:none !important;
                }
            }
        }
    }
    .persona-section-box {
        .gender-pie {
            display: inline-flex;
            float: left;
            left: -60px;
            margin-top: 30px;
            position: relative;
            text-align: left;
            .canvas-gender {
                float:left;
                canvas {
                    height: 138px;
                    width: 290px;
                }
            }
            .genderLegendDiv {
                font-size: 13px;
                margin-top: 20px;
                text-align: left;
                .pie-legend {
                    margin-left: -70px;
                    text-align: left;
                    width: 150px;
                    &> li {
                        width: 100%;
                    }
                }
            }
        }
    }
}
#persona, .persona-modal, #survey, .personaCompare {
    .persona-data-holder {
        margin-bottom: 20px;
    }
    #persona-container {
        h2 {
            width: 100%;
            margin: 0 0 4px;
            font-weight: 100;
            border-bottom: 1px solid rgba(100,100,100,.1);
            display: inline-block;
            font-size: 18px;
            color: #a0a0a0;
            input {
                background: transparent;
                width: 100%;
                border: 0 !important;
                border-bottom: 1px dashed #0483e5;
                outline: none;
                padding: 0px !important;
                &:focus {
                    color: #CF4600;
                }
            }

        }
    }
    .persona-value{
        width: 100%;
        display: inline-block;
    }
    .persona-section-placeholder {
        border: 1px dotted black;
        margin: 0 1em 1em 0;
        height: 50px;
        background-color: #b2b2b2;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    textarea {
        &.editable {
            background: #f4f4f4;
            outline: none;
            padding: 5px !important;
            width: 100%;
            border-radius: 3px;
        }
    }
    input {
        &.editable {
            background: #f4f4f4;
            outline: none;
            padding: 8px 2px 8px!important;
            width: 100%;
        }
        &.persona-knowledge {
            background: #f4f4f4;
            outline: none;
            padding: 8px 2px 8px!important;
            width: 80% !important;
            border: 1px solid transparent;
            margin-bottom: 15px;
        }
    }
    .editable {
        border: 1px solid transparent;
        margin-bottom: 15px;
        &:hover,
            &:focus{
            border-bottom: 1px dashed #519548;
        }
    }
    .row {
        margin-bottom: 20px;
    }
    .persona-main-box-content,
    #personaBoxModal {
        font-size: 1.2em;
        .persona-main-box-content {
            margin: 7px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
        }
        ul {
            min-height: 40px;
            font-size: 15px;
            list-style-type: none;
            padding: 0px;
            li {
                color: #0483e5;
                span {
                    color: #000;
                    font-size:13px;
                }
                i {
                    color:#ccc;
                }
                .fa {
                    cursor: pointer;
                }
                input, #add-new-list-item {
                    background:transparent;
                    border:0 !important;
                    border-bottom:1px dashed #0483e5;
                    outline: none;
                    padding:0px !important;
                    width:90%;
                    &:focus {
                        color: #CF4600;
                    }
                }
            }
        }
        .persona-modal-box-content {
            margin: 4px;
            border: 1px solid #ccc;
            padding: 14px;
            border-radius: 5px;
            li::before {
                content: "\f15c";
                font-family: FontAwesome;
            }
        }
    }
    .persona-main-box {
        &.new {
            background: #02779E;
            color: #fff !important;
        }
    }
    .persona-rows{
        margin: 8px 0;
        span{
            font-size: 13px;
        }
    }
    .gender-slider{
        background: #F7464A !important;
        .ui-widget-header {
            background: #46BFBD !important;
        }
    }
    .persona-label {
        border-bottom: 1px solid rgba(100,100,100,.1);
        display: inline-block;
        width: 100%;
    }
    .genderLegendDiv {
        ul {
            li {
                display: block;
                margin-top: 2px;
                span {
                    float: left;
                    margin-right: 7px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}
.non-editable {
    &.ui-state-disabled {
        opacity: 100 !important;
        filter: Alpha(Opacity=100) !important;
        .ui-slider-handle {
            display: none;
        }
    }
}
#age-slider, #age-slider-modal, .age-slider  {
    .ui-widget-header, .ui-widget-header {
        background: rgb(0, 157, 233) !important;
    }
}
#persona, #survey {
    .btn-export-compare {
        color:#fff;
        &:hover {
            color:#000;
        }
    }
    .headshot-tool {
        color: #fff;
        margin: 20px 25px;
    }
    .button-tool-container {
        i {
            margin-left: 3px;
            cursor: pointer;
            color: #cacaca;
            &:hover {
                color: #009cd0;
            }
        }
    }
    .persona-personal2 {
        font-size: 1.2em;
        margin-top: 14px;
        margin-bottom: 10px;
        padding-bottom: 13px;
        #age-slider {
          background: rgba(255, 35, 0, 0.13);
          margin-top: 5px;
        }
    }
    .bootstrap-select {
        width: 100%;
        border-bottom: 1px dashed transparent;
        &:hover,
            &:focus{
            border-bottom: 1px dashed #519548;
        }
        button {
            border-color: transparent !important;
            background-color: #f4f4f4 !important;
        }
    }
    input {
        &.error_dashed {
            border-bottom: 1px dashed #a94442 !important;
        }
    }
    #persona-sidebar, .persona-sidebar {
        float: left;
    }
    .editing {
        color: #CF4600;
    }
    .headshot {
        background-color: #fff;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        height: 200px;
        margin-bottom: 0!important;
        border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        margin:15px;
        img {
            display: none;
            visibility: hidden;
        }
    }
    .persona-sidebar-box {
        background: #fff;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 20px;
        margin-bottom: 25px;
        .editable,
        .selected-description,
        .bootstrap-select  {
            margin-bottom: 15px;
        }
        &.persona-name-box {
            border-radius: @borderRadiusCustom;
            -moz-border-radius: @borderRadiusCustom;
            -webkit-border-radius: 0 0 4px 4px;
        }
    }
    .persona-nav {
        color: #fff;
        font-size: 2.5em;
        padding: 0;
        margin: 0;
        display: none;
        list-style-type: none;
    }
    .persona-nav-left {
        float: left;
        opacity: .6;
        cursor: pointer;
        width: 20%;
    }
    .persona-nav-center {
        text-align: center;
        text-transform: uppercase;
        font-size: .5em;
        padding-top: 8px;
        float: left;
        width: 60%;
        font-weight: 700;
    }
    .persona-nav-right {
        float: right;
        opacity: .6;
        cursor: pointer;
        width: 20%;
        text-align: right;
    }
    .persona-name {
        font-size: 2.2em !important;
        margin-bottom: 6px;
        font-weight: 700;
        text-shadow: 3px 3px #ccc;
    }
}
.ui-widget{
  .ui-widget-content {
    border:1px solid #fff !important;
  }
}
.add-new-persona a {
    display: block;
    background: #ededed;
    margin: 10px 1%;
    height: 320px;
    font-size: 30px;
    text-decoration: none;
    line-height: 320px;
    width: 100%;
    &:hover {
      background: #4CB9DE;
      box-shadow: 0px 0px 15px rgba(0,0,0,.3);
      color:#fff;
      text-decoration:none;
    }
}
