.settings-design-template {
    .templates-design {
        .published-div {
            margin-bottom: 25px;
            margin-top: 10px;
            a {
                &> i {
                    margin-right:10px;
                }
            }
        }
    }
}