#persona-client,
#audience {
    position: relative;;
    .add-client-container {
        width:100%;
        display:inline-block;
        .form-persona {
            #upload-logo {
                &> div {
                    margin: 0 30%;
                }
                #upload-space {
                    height: 150px;
                    text-align: center;
                    width: 285px;
                    .progress {
                        margin:18px;
                    }
                    &:hover {
                        span, button {
                            opacity: 1;
                        }
                    }
                }
            }
            .form-persona-field {
                margin-top:10px;
                .form-input {
                    padding: 10px;
                    width: 100%;
                }
            }
            .persona-action {
                margin: 20px 0;
            }
        }
    }
    .client-nav {
        background: #fff;
        height: 90vh;
        border-right: 1px solid #ebebeb;
        padding-top: 20px;
        padding-bottom:20px;
        position: relative;
        .add-client {
            font-size: 14px;
            margin: 10px 14px;
            padding: 10px;
            cursor:pointer;
            border-top: 1px solid rgba(50,50,50,.1);
            &:hover {
                color:#428bca;
            }
        }
        .persona-dashboard {
            font-size: 14px;
            margin: 10px 14px;
            padding: 10px;
            cursor:pointer;
            border-bottom: 1px solid rgba(50,50,50,.1);
            &:hover {
                color:#428bca;
            }
        }
        .client-container {
            max-height: 70vh;
            margin: 16px;
            overflow-x:hidden;
            .navi-list {
                list-style: none;
                padding:0 0 0 10px;
                &> li {
                    font-size: 14px;
                    margin-top: 11px;
                    cursor:pointer;
                    &:hover {
                        color:#428bca;
                        text-decoration:underline;
                    }
                    &.active {
                        color:#428bca;
                        font-weight: 700;
                    }
                }
            }
            h3 {
              margin-top: 10px;
              font-size: 16px;
              font-weight: bold;
            }
        }
    }
    .client-main {
        min-height: 85vh;
        margin-top: 16px;
        float:right;
        .add-client-lnk {
            border: 1px solid #ccc;
            color: #000;
            margin: 0 19px 10px;
            padding: 11px 64px;
        }
        .client-header {
            font-size: 36px;
            font-weight: 100;
            margin: 18px 0px 0px 18px;
        }
        #persona-container {
            height: 70vh;
            overflow-x: hidden;
        }
        .activity-list {
            padding: 0 0 0 15px;
            overflow-x: hidden;
            height:80vh;
            .company-container {
                background: rgba(150,150,150,.1);
                margin: 15px 0;
                padding: 10px;
            }
            &> li {
                .activity-name,
                .activity-action {
                    margin-right: 5px;
                }
                list-style:none;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
                &> .activity-row {
                    font-weight:500;
                    cursor:pointer;
                    padding:5px;
                    a {
                        display:inline-block;
                    }
                    .activity-detail {
                      list-style-type:none;
                      margin:0;
                      padding:0;
                      li{
                        float:left;
                        span {
                            &.activity-name {
                                vertical-align: 100%;
                                color:#454545;
                                margin-right:5px;
                            }
                            &.activity-action {
                                vertical-align: 100%;
                                color:#656565;
                            }
                            &.activity-persona {
                                vertical-align: 100%;
                                color:#454545;
                            }
                        }
                        & div.activity-img {
                            display: inline-block;
                            border-radius: 50%;
                            margin-top:-4px;
                            height: 40px;
                            margin-right: 5px;
                            position: relative; 
                            width: 40px;
                            margin-right:15px;
                        }
                      }
                    }
                    .activity-current {
                      margin-left:15px;
                      color:#a1a1a1;
                      a {
                        color:#a1a1a1;
                      }
                    }
                }
            }
        }
    }
}
#persona-client {
    position:absolute;
}
.container-full {
    #getting-started {
        border: 1px solid #ccc;
        margin: 45px;
        padding: 27px 50px;
        box-shadow: 1px 1px 45px 10px rgba(0, 0, 0, 0.1);
        background: #fff;
        #frm-revision {
            .form-input {
                margin-bottom:20px;
                &> label {
                    width: 35%;
                }
                &> input,
                &> select {
                    margin: 2px 0;
                    padding: 6px;
                    width: 63%;
                }
            }
            .payment-details-lnk {
                background: skyblue none repeat scroll 0 0;
                border: 1px solid #ccc;
                border-radius: 10px;
                font-weight: bold;
                margin: 20px 10%;
                padding: 10px;
                text-align: center;
            }
            .form-action {
                margin-top:25px;
                text-align: right;
            }
        }
    }
}