.settings-details {
    #addPersonaFields {
        .modal-dialog{
            width:470px;
            #persona-fields-modal-sec {
                &> form {
                    padding: 0 30px;
                }
            }
        }
    }
}