.share-header {
    background: #4cb9de none repeat scroll 0 0;
    margin-bottom: 30px;
    .login-logo {
        &> img {
            width: 200px;
        }
    }
}
#sharePersonaModal {
    .modal-dialog {
        width:800px;
        .modal-content {
            height: 100vh;
            .enable-share {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                direction: row;
                -webkit-flex-wrap: no-wrap;
                -ms-flex-wrap: no-wrap;
                flex-wrap: no-wrap;
                -webkit-flex-flow: center;
                -ms-flex-flow: center;
                flex-flow: center;
                padding: 10px 10px 0px 0px;
                margin-top: -15px;
                span {
                    color: #787878;
                    vertical-align: middle;
                    margin-right: 10px;
                    &:first-of-type{
                        color: rgba(0,0,0,.5);
                        font-weight: 700;
                        padding: 10px 0
                    }
                    .switch-toggle {
                        position: absolute;
                        margin-left: -9999px;
                        visibility: hidden;
                        &+ label {
                            display:block;
                            position: relative;
                            cursor: pointer;
                            outline: none;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            float: right
                        }
                    }
                    input.switch-toggle-round-flat {
                        &:checked + label {
                            background-color: #00b800;
                            &:after {
                                margin-left: 30px;
                                background-color: rgba(0, 184, 0, 0.8)
                            }
                        }
                        &+ label {
                            padding: 2px;
                            width: 60px;
                            height: 30px;
                            background-color: #dddddd;
                            border-radius: 30px;
                            -webkit-transition: background 0.4s;
                            transition: background 0.4s;
                            margin: 5px 0 0 0px;
                            &:before,
                            &:after {
                                display: block;
                                position: absolute;
                                content: "";
                            }
                            &:before {
                                top: 2px;
                                left: 2px;
                                bottom: 2px;
                                right: 2px;
                                background-color: white;
                                border-radius: 60px;
                                -webkit-transition: background 0.4s;
                                transition: background 0.4s
                            }
                            &:after {
                                top: 4px;
                                left: 4px;
                                bottom: 4px;
                                width: 25px;
                                background-color: #f8f8f8;
                                border-radius: 52px;
                                -webkit-transition: margin 0.4s, background 0.4s;
                                transition: margin 0.4s, background 0.4s;
                                border: 1px solid rgba(0, 0, 0, 0.15);
                                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05)
                            }
                        }
                    }
                }
            }
            .share-persona {
                padding: 0 22px;
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid #dedede;
                input[type="text"] {
                    padding: 8px;
                    width: 80%;
                }
                .enable-share {
                    display:inline;
                    #txt-shared {
                        width:60%;
                        background:#ccc;
                        border:none;
                    }
                }
            }
            .btn-share-persona {
                margin-top:15px;
            }
        }
    }
}