.static-pages {

	ul, li{
		list-style: outside none none;
	}

	a:hover, a:visited, a:link, a:active {
    	text-decoration: none;
	}

	.fa-question-circle:hover, .fa-wrench:hover, .fa-book:hover {
    	color: #e7f3fd;
    	opacity: 90%;		
   	}

   	.container {
   		width: auto;

   		.row{
   			.userguide {
   				.list-links {
   					margin-bottom: 40px;
   					font-size: 18px;
		    		li{
		    			margin-bottom: 20px;
		    			
		    			span{
		    				font-size: 24px;
		    			}

		    			p{
		    				margin-left: 30px;
		    			}

		    		}

		    		span{
		    			margin-left: 20px;
		    		}
   				}

   				.numbered-lists{
   					ol {
					   list-style: none;
					}

					li {
					   counter-increment: item-list;
					   margin-bottom: 5px;
					}
					
					li:before {
					   margin-right: 10px;
					   content: counter(item-list);
					   background: lightblue;
					   border-radius: 100%;
					   color: white;
					   width: 1.5em;
					   text-align: center;
					   display: inline-block;
					 }
					 counter-reset: item-list;
   				}
   			}

   			
   		}

   	}

   	.icons {
   		margin-left: auto;
   		margin-right: auto;
   		padding-left: 15%;
   		padding-right: 5%;

   		.row {

   			padding-bottom: 5%;
   			width: 90%;

   			.userguide-icons{

   				.service-heading {
   					font-size: 20px;
   				}

   				.fa-stack{
   					.color-green{
   						color: #4bae4f;
   					}

   					.color-yellow{
   						color: #feea3a;
   					}

   					.color-red{
   						color: #f34235;
   					}

   					.color-violet{
   						color: #3e50b4;
   					}

   					.color-orange{
   						color: #fe9700;
   					}

   					.color-blue{
   						color: #02a8f3;
   					}

   					.color-brown{
   						color: #785447;
   					}

   					.color-pink{
   						color: #c51954;
   					}

   					.color-gray{
   						color: #9d9d9d;
   					}
   				}
   			}
   		}

   	}

	.help-icons{
		margin-left: 20%;
		margin-top: 50px;
	}

	.row {
		.text-center {
			.section-heading {
				font-size: 36px;
				margin-bottom: 40px;
		   	}
		}
	}
	hr {
		border-top: 1px solid #e5e5e5;
		margin-left: 50px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.section{
		margin-left: 50px;
		border-bottom: 1px solid #e5e5e5;

		.list-links{
    		margin-bottom: 40px;

    		li{
    			margin-bottom: 20px;
    		}
		}

		.two-col{
    		-moz-column-count: 2;
		    -moz-column-gap: 15px;
		    -moz-column-rule: 0 solid 
		}

		h3{
			margin-bottom: 40px;
		}
	}

	.back {
		margin-left: 50px;
	}


	.panel-group {

		margin-left: 25px;

		.header {
	        font-size: 27px;
	        margin: 20px;
	        padding-top: 20px;
	        padding-bottom: 30px;
	        color: #428bca;
	    }

	    .panel {
		    margin-left: 20px;
		    border: 1px solid #ddd;
		}

	    .panel-default {
		    .panel-heading {

			    border-color: #ddd;
			    color: #333;
			    text-transform: none;
			    background-color: white;
			    padding: 20px 30px 20px 30px;

		    	[data-toggle="collapse"]:after {
			        font-family: 'FontAwesome';
			        content: "\f106";
			        float: right;
			        font-size: 32px;
			        line-height: 22px;
			    }

		    	[data-toggle="collapse"].collapsed:after {
			        content: "\f107";
			    }

			    .panel-title{
			    	a {
		    			color: #0b5394;
			    	}
			    }
			}
		}

		.panel-collapse {


			.panel-body {

				padding-left: 30px;

				ol {
				   list-style: none;
				}

				li {
				   counter-increment: item;
				   margin-bottom: 5px;
				}
				
				li:before {
				   margin-right: 10px;
				   content: counter(item);
				   background: lightblue;
				   border-radius: 100%;
				   color: white;
				   width: 1.5em;
				   text-align: center;
				   display: inline-block;
				 }

				.screenshot{
					margin: 50px 40px; 
					img {
				    	max-width: 100%;
				    	max-height: 100%;
				   	}
				}

			}
		}
	}

	counter-reset: item;
	margin-bottom: 5%;
	font-size: 16px;
}

.margin-base-vertical {
	margin: 40px 0;
}

.header-user-guide{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
}
