.settings-subscription-info {
    .subscription-container {
        .subscription-header {
            font-weight: 700;
            text-shadow: 2px 3px #ccc;
            font-size: 32px;
            border-bottom: 1px solid rgba(50, 50, 50, 0.1);
            margin: 20px;
            padding-bottom: 10px;
        }
        .billing {
            background: #fff;
            margin: 34px;
            border: 1px solid #ccc;
            padding:18px 0;
            .size-h5 {
                margin-left:40px;
            }
            #billingForm {
                margin: 0 85px;
                .billing-form {
                    .billing-input {
                        width: 70%;
                        padding-bottom:10px;
                    }
                }
            }
            #creditCard, 
            .billing-notes {
                margin-left: 35px;
                margin-top: 15px;
                width: 100%;
                .cc {
                    width: 200px;
                }
                &> span {
                    display:block;
                }
            }
            #creditCard {
                .inline {
                    display:inline-flex
                }
                .credit-form {
                    &> div {
                        margin-bottom:10px;
                    }
                }
            }
            .credit-form {
                span {
                    font-weight: 700;
                    margin-right: 10px;
                    margin-top: -7px;
                }
            }
            .cc-icon {
                background: url(/img/cc.png) no-repeat;
                background-size: 370px 60px;
                width:92px;
                height:100px
            }
            .visa {
                background-position: 0px 15px
            }
            .mastercard {
                background-position:-93px 15px
            }
            .ame {
                background-position:-187px 15px
            }
            .discover{
                background-position:-281px 15px
            }
            label.error{
                color:#ff2300
            }
            .billing-input{
                width:70%
            }
        }
        .subscription-packages {
             margin: 50px 0px;
            .package-data {
                width: 100%;
                background: radial-gradient(circle at 31% -17%, #4CB9DE, rgba(153,215,236,0.22) 67%), radial-gradient(circle at 28% -42%, #009cd0, rgba(61,177,255,0) 60%), radial-gradient(circle farthest-side at 66% -32%, rgba(0,140,187,0.87), #33ccff 25%, #2788d9 52%, #1f6dae);
                cursor:pointer;
                position:relative;
                padding:20px;
                color:#fff;
                text-align: center;
                &.current{
                  background: -moz-linear-gradient(top, #ff6600 0%, #ea4845 100%);
                  background: -webkit-linear-gradient(top, #ff6600 0%,#ea4845 100%);
                  background: linear-gradient(to bottom, #ff6600 0%,#ea4845 100%);
                }
                &:hover {
                    background: -moz-linear-gradient(top, #ff6600 0%, #ea4845 100%);
                    background: -webkit-linear-gradient(top, #ff6600 0%,#ea4845 100%);
                    background: linear-gradient(to bottom, #ff6600 0%,#ea4845 100%);
                }
                &> span {
                    text-align: center;
                    width: 100%;
                    font-weight: 500;
                    font-size:16px;
                    &.package-name {
                        margin: 11px 0px;
                        display: block;
                        font-size: 20px;
                    }
                    &.amount {
                        display: block;
                        font-weight: 100;
                        color: rgba(255,255,255,.7);
                    }
                }
                ul {
                  padding: 0;
                  list-style-type: none;
                  li{
                    margin: 10px 0px;
                    padding: 10px 0px;
                    border-bottom: 1px solid rgba(255,255,255,.3);
                  }
                }
                .watermark {
                    background: #ff6600;
                    top: -30px;
                    left: 0;
                    font-size: 20px;
                    opacity: 1;
                    position: absolute;
                    width: 100%;
                    padding: 5px 0;
                }
            }
        }
    }
}