#survey {
  .button-tool-container {
    display: none;
  }

  .age-slide {
    padding: 11px 0;
  }

  .list-count {
    margin-bottom: 2px;
    font-size: 1.2em;
    color: #0483e5;
    span {
      color: #000000;
    }
    .count {
      display: inline-block;
      -moz-border-radius: 30px;
      float: right;
      border-radius: 20px;
      background-color: #777;
      color: white;
      text-align: center;
      font-weight: bold;
      padding: 0 10px 0 10px;
    }
  }
}