.templates-design {
    label {
        display:inline-flex !important;
        span {
            width: 220px;
        }
    }
    .custom-body {
        width: 100%;
        height: 800px;
        padding:20px;
    }
    .custom-css {
        width: 100%;
        padding:20px;
    }
    .temp-action {
        margin-top:20px;
        .btn-update-template {
            margin-right:10px;
        }
    }
}
.template-header {
    &> span {
        float: left;
        margin-bottom: 10px;
        width: 100%;
    }
}
.template-descriptions-content {
    .column-fields {
        border-right: 1px solid #ccc;
        overflow-x: hidden;
        height: 800px;
        text-align: center;
        ul {
            list-style:none;
            li {
                background: #6aa84f none repeat scroll 0 0;
                border: 1px solid #ccc;
                border-radius: 10px;
                color: #fff;
                font-weight: 700;
                margin: 10px -25px;
                padding: 18px;
                &:hover {
                    background:#01d00f;
                    cursor:pointer;
                }
            }
        }
    }
    .column-descriptions {
        .template-implementations {
            overflow-x:hidden;
            height:800px;
            img {
                width:100%
            }
            span {
                float: left;
                font-size: 20px;
                width: 100%;
                &:first-child {
                    margin-top:20px
                }
            }
            code {
                background: #f0e7e7;
                float: left;
                font-size: 25px;
                font-weight: 700;
                margin-top: 40px;
                padding: 20px;
                width: 100%;
            }
            .output {
                margin-top: 35px;
            }
        }
    }
}