.chart-range {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 13px;
    width: 90%;
    &> div {
        background: red none repeat scroll 0 0;
        border-radius: 3px;
        height: 100%;
    }
}