.settings-company,
.theme-management {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    .company-details {
        #upload-space {
            border: 1px dotted #ccc;
            margin: 20px;
            padding: 25px;
            text-align: center;
            background
            input,
            button,
            span{
                opacity:0.2;
            }
            #progress {
                opacity:0;
            }
        }
    }
    .app-management {
        .color-management {
            display: inline-flex;
            .settings {
                text-align:center;
                .set-btn-color {
                    width:100%
                }
                .btn-color-container {
                    width:120px;
                }
                .color-fill-icon{
                    display:inline-block;
                    width:50px;
                    height:50px;
                    border:1px solid #000;
                    background-color:#fff;
                }
                .dropdown-color-fill-icon{
                    position:relative;
                    float:left;
                    margin-right:5px;
                    width:85%
                }
                .well {
                    .markup{
                        background: #fff;
                        color: #777;
                        position: relative;
                        padding: 45px 15px 15px;
                        margin: 15px 0 0 0;
                        background-color: #fff;
                        border-radius: 0 0 4px 4px;
                        box-shadow: none;
                        &::after{
                            content: "Example";
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            font-size: 12px;
                            font-weight: bold;
                            color: #bbb;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
        #btn-update-colors {
            margin-top: 20px;
        }
    }
}
.settings-company {
    .color-picker {
        .app-management {
            text-align:center;
            #app-color {
                height: 100px;
                width: 200px;
                .color-fill-icon {
                    height:70px;
                }
            }
        }
    }
}