.settings-users {
    .user-management {
        &> h4 {
            margin: 20px 20px 0;
        }
    }
    .success {
        background: green;
    }
    .role-description {
        width:80%;
        margin:20px;
        &> pre {
            margin-top:10px;
        }
        .btn-selected {
            background:#ccc;
        }
    }
    #invite-user {
        width:100%;
        margin:20px;
        margin-bottom:40px;
        display:inline-flex;
        .form-control {
            width:20%;
            margin-right:5px;
        }
    }
    #updateUsers {
        .modal-dialog {
            width: 430px;
        }
        #user-modal-sec {
            &> form {
                margin: 0 28px;
            }
        }
    }
    .user-items {
        border: 1px solid #cacaca;
        float: left;
        margin: 15px;
        padding: 15px;
        background: #fff;
        .user-img,
        .user-details,
        .user-action {
            text-align: center;
        }
        .user-details {
            &> span {
                float: left;
                width: 100%;
            }
        }
        .user-photo {
            border: 1px solid;
            height: 110px;
            margin: 5px;
            text-align: center;
            width: 110px;
        }
        .user-action {
            .edit-users,
            .delete-users {
                cursor: pointer;
            }
            &> span {
                background: #5cb85c none repeat scroll 0 0;
                border-radius: 2px;
                color: #fff;
                padding: 5px 12%;
                width: 100%;
            }
        }
    }
    #confirmUserDelete {
        .modal-dialog {
            width: 400px;
            #user-modal-sec {
                margin: 6px;
                .user-delete-action {
                    float:right;
                }
            }
        }
    }
}