Hi <?php echo $shared['email'] ?><br/>
<br/>
<?= $shared['firstName'] ?> has shared you his/her persona.<br/>
You can view by clicking this <a href="<?= $this->serverUrl(false) . $this->url('share') . '/' . $shared['shortCode'] ?>">link.</a>.

<?php if ( !empty($shared['password']) ) { ?>
<strong>NOTE:</strong> <br/>
<span>The Shared Persona is secured. </span><br/>
<span>Please enter this password once the application tells to input the password.</span>
<span>Password is </span><span><?= $shared['password'] ?></span>
<?php } ?>
<br /><br /><br />
Regards,<br /><br />
PersonaBold Team
            
