Hi <?php echo $respondent['email'] ?><br/>
<br/>
<?= $message; ?>
<br/><br />
Click here to answer our survey: <a href="<?= $this->serverUrl(false) . $this->url('audience/survey') . '/' . $respondent['uuid'] ?>"><?= $this->serverUrl($this->url('audience/survey')) . '/' . $respondent['uuid'] ?></a>
<br /><br /><br />

Regards,<br /><br />
PersonaBold Team
            
