<section data-ng-view="" id="content" class="container login ng-scope">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="login-logo text-center">
                <img src="/img/personabold-logo-white.png" />
            </div>
            <div class="container-404 text-center">
                <img src="/img/404.png" id="image-404" name="image-404" />
            </div>
        </div>
    </div>
</section>