<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="theme-color" content="#84C340" />
        <title>PersonaBold</title>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#84C340">
        <?= $this->partial('partial/header-scripts.phtml', array('basePath' => $this->basePath(),
                                                                 'config'   => $this->config)); ?>
    </head>
    <body id="public-view">

    	<?php echo $this->content; ?>

    <?= $this->partial('partial/footer-scripts.phtml', array()); ?>
    </body>
</html>
