/**
 * Voice Talent
 */
@yellow    : #faa732;
@white     : #fff;
@grey      : #d0d0d0;
@grey80    : #ccc;
@grey68    : #adadad;
@grey87    : #dedede;
@blueGreen : #83adb5;
@mildRed   : #DD514C;
@mildGreen : #5cb85c;
@green     : #519548;
@red       : red;
@blue      : #428bca;

.vt-pending-article-header { 
    margin-bottom:15px; 
    display:block;
}

.vt-pending-article {
    background: @white;
    border-top:0px solid #adadad; 
    margin-top:40px; 
    padding-top:10px;
    ul.pending-article-list { 
        padding:0; 
        margin:0; 
        list-style-type: none;
        &> li { 
            padding:35px 0px;
            margin:0; 
            border-bottom:1px solid @grey;
            border-left:1px solid @grey80;
            padding:35px; 
            margin:0; 
            border-top:1px solid @grey
        }
    }
}
.featured-article-container {
    ul { 
        padding:0;
        margin:0; 
        list-style-type: none;
        li { padding:0 0 5px 0 }
    }
    strong { 
        font-size:3em; 
        display:block
    }
}
.article-img { 
    width:150px;
    height:150px; 
    border-radius:50%; 
    background: @mildRed; 
    color:@white;
    text-align:center; 
    line-height:100px;
    font-size:2em;
    &:hover { color:@white }
}
.vt-label {
    width:100%;
    display:block
}
.pending-list {
    &:nth-child(2n) {
        border-right: 1px solid @grey80
    }
    &:nth-child(1), 
    &:nth-child(2){
        border-top: 1px solid @grey80
    }
}
#loader, #loader-accept, #loader-decline {
    margin-left:10px;
    display:none;
}
.search-div {
    margin-top: 25px
}
.vt-article-details {
    background: @white none repeat scroll 0 0;
    border-top: 0 solid @grey68;
    padding-top: 10px;
    .row.notes {
        margin: 25px 53px;
        h4 {
            color:@blueGreen;
            font-weight:700;
        }
        .btn-container {
            margin-top:25px;
            .fa {
                margin-right:10px
            }
        }
    }
    .div-action {
        a {
            margin:10px;
        }
    }
    .upload-history {
        .work-header {
            margin: 0 24px;
            h4 {
                font-weight: 700;
            }
        }
        .work-logs {
            .tbl-logs {
                thead {
                    background: #519548;
                    color: @white;
                    th {
                        text-align: center;
                        border-right:1px solid @white;
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
                tbody {
                    td {
                        text-align: center;
                        border-right:1px solid @green;
                        &:last-child {
                            border-right:none;
                        }
                        .fa {
                            margin-right:10px;
                            &.fa-check {
                                color:@green
                            }
                            &.fa-close {
                                color:@red
                            }
                            &.fa-arrow-right{
                                color:@blue
                            }
                        }
                    }
                }
                .col-description {
                    text-align:left;
                }
                .no-work-history {
                    text-align:center;
                    border:1px solid #ccc
                }
            }            
        }
    }
    #uploadAudio {
        .modal-content {
        height:420px;
            .vt-upload-modal {
                height: 600px;
                overflow: hidden;
                position: relative;
            }
        }
    }
}
.rating {
    &> i {
        color:@yellow
    }
}
/* Publisher Voice Talent Search*/
.publisher-vt-search {
    .search-cost-filter {
        background: #fff none repeat scroll 0 0;
        height: 100px;
        overflow-x: hidden;
        &> li {
            &> a {
            padding: 10px;
            }
        }
    }
    .search-active {
        font-weight:700
    }
}
/* Publisher Voice Talent Profile */
.publisher-vt-profile {
    .already-added-vt,
    .not-added-vt {
        .fa {
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .notif-no-work {
        background: #fff none repeat scroll 0 0;
        padding: 20px;
    }
    .work-samples {
        li {
            background: @white none repeat scroll 0 0;
            border-top: 1px solid @grey87;
            list-style: none;
            padding: 14px;
            #buzzer {
                width: 90%
            }
        }
    }
}
/* Article Modal */
#article-modal {
    .talent-list {
        height: 480px;
        list-style: none;
        overflow-x: hidden;
        text-align: center;
        border: 1px dotted #ccc;
        .list-item-vtprofile {
            margin:5px 0;
            border: 1px solid @mildGreen;
            border-radius: 8px;
            padding: 15px;
            text-align: center;
            &:hover {
                border: 2px solid @mildGreen;
                cursor:pointer;
            }
            .profile-details {
                .fa {
                    color:#faa732;
                }
            }
            .play-sample {
                font-size: 15px;
                margin-top: 11px;
                padding: 12px 0;
            }
        }
        .list-item-vt-samples {
            margin-left:1px;
            border:1px solid #ccc;
            padding:22px;
            .btn-hide {
                margin-top: 13px;
            }
            .audio-sample {
                padding:1px
            }
        }
        .no-voicetalent-detect {
            margin:65px 0px;
        }
    }
    .add-notes {
        .notes-details {
            .fa { margin-right:5px}
            a {
                margin-bottom:10px;
            }
        }
    }
}


/* Voice Talent Profile */
.voice-talent-profile {
    .profile-big {
        text-align:center;
        cursor:pointer;
        .talent-img {
          width: 170px;
          height: 170px;
          background-size: 170px 170px;
        }
        .progress {
            margin: 10px 73px;
        }
    }
    form {
        .talent-inline {
            margin-bottom: 15px;
        }
        .form-group {
            .ms-helper {
                color: red;
            }
        }
    }
    .description {
        margin-top:20px;
        .title {
            font-weight: 700;
        }
        &> span {
            margin: 15px 0;
            display: block;
            width: 100%;
        }
    } 
}
/* Getting Started Page  */
.getting-started {
    .opportunity-header {
        i.fa {
            margin-right:10px
        }
        .reminder-container {
            margin-bottom:10px;
            .reminder {
                display: block;
                font-size: 14px;
                font-weight: 500;
                margin-left: 35px;
                width: 100%;
            }
        }
    }
    .sample-audio {
        .article-details {
            padding:55px;
            border:1px dotted @grey80;
        }
        .files {
            padding: 0 125px;
            #buzzer {
                width:100%;
            }
        }
    }
}
/*Getting Started Page Update Profile*/
.gt-update-profile {
    .reminder-container {
        margin:15px;
        i {
            margin-right:10px
        }
    }
}
/*Getting Started Page Upload Photo*/
.gt-upload-photo {
    .reminder-container {
        margin:15px;
        i {
            margin-right:10px
        }
    }
    img {
        width:100%;
        height:335px
    }
    #upload-space {
        padding:121px
    }
    .btn-actions {
        display: block;
        margin: 18px;
        width: 100%;
    }
}
/*Getting Started Page Setup Pricing*/
.gt-setup-pricing {
    .reminder-container {
        margin:15px;
        i {
            margin-right:10px
        }
    }
    h5 {
        font-weight:700;
    }
    .guidelines {
        padding: 10px;
        border: 1px dotted @green;
        margin-bottom: 25px;
        li {
            font-size: 19px
        }
    }
    .pricing-approval {
        border: 1px dotted @green;
        margin-top: 195px;
        padding: 10px 17px;
        label {
            margin-right:10px
        }
    }
    .setup-pricing-details {
        border: 1px dotted @green;
        margin: 18px 0;
        padding: 10px;
    }
}
.vt-pending-conversion,
.vt-inprogress-conversion {
    .row.opportunity-header {
        margin-bottom: 30px
    }
    .pending-article-list,
    .inprogress-article-list {
        .pending-list,
        .inprogress-list {
            list-style: none;
            border: 1px solid #ccc;
            padding: 15px;
        }
    }
}
.summary-reviews {
    .list-summary-review {
        margin: 10px 20px;
        padding: 17px;
        border: 2px dotted #5cb85c;
        border-radius: 7px;
        .image-holder {
            text-align:center;
            .image-profile {
                margin:auto;
                width: 100px;
                height: 100px;
                border-radius: 50px;
            }
            .rating-label {
                margin: 10px 0px;
            }
        }
    }
    .rating-details {
        display: inline-flex;
        list-style:none;
        li {
            margin-right:10px;
            i {
                color: @yellow;
            }
        }
    }
    .rating-label {
        width:100%;
        display:block;
        &.comment {
            padding: 15px;
            border: 1px solid #ccc;
            background: #fff;
            font-weight: 700;
            .rating-dialog {
                color: @green;
                font-size: 22px;
            }
        }
    }
}
.compute-details {
    display: block;
    width: 100%;
}