<?php
$form = $this->forgotForm;
$form->prepare();
$form->setAttribute('action', $this->url('forgot'));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'login-form');
?>
<section data-ng-view="" id="content" class="container login ng-scope">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="login-logo text-center">
                <img src="/img/personabold-logo-white.png" />
            </div>
            <div class="login-container">
                <div class="form-container">
                    <h1 class="text-center">Forgot Your Password</h1>
                    <?php echo $this->form()->openTag($form) ?>
                    <fieldset>
                        <div class="consumer form-group">
                            <i class="fa fa-envelope"></i>
                            <span></span>
                            <?php
                            $email = $form->get('email');
                            $email->setAttribute('class', 'form-control input-lg input-round text-center')
                                    ->setAttribute('placeholder', 'EMAIL')
                                    ->setAttribute('id', 'email');
                            echo $this->formInput($email);
                            ?>
                        </div>
                        <?= $this->formElementErrors($email); ?>
                        <div class="consumer">
                            <?php if ($this->redirect): ?>
                                <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
                            <?php endif ?>
                            <?php
                            $submit = $form->get('submit');
                            $submit->setAttribute('class', 'btn btn-lg btn-round btn-block text-center btn-success');
                            $submit->setLabel('Request New Password');
                            echo $this->formButton($submit);
                            ?>
                        </div>
                    </fieldset>
                    <?php echo $this->form()->closeTag() ?>
                    <section class="other-settings">
                        <p class="login-cta text-center text-muted text-small">
                            <a href="<?php echo $this->url('signin') . ($this->redirect ? '?redirect=' . $this->escapeUrl($this->redirect) : '') ?>">Back to Log In</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>