<section data-ng-view="" id="content" class="container login ng-scope">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="login-logo text-center">
                <img src="/img/personabold-logo-white.png" />
            </div>
            <div class="login-container">
                <div class="form-container">
                    <h1 class="text-center"><?php echo $this->translate('Your password has been changed!'); ?></h1>
                    <fieldset class="text-center">
                        <?php echo $this->translate('You can now login using your new password.') ?><br />
                    </fieldset>
                    <section class="other-settings">
                        <p class="login-cta text-center text-muted text-small">
                            <a href="<?php echo $this->url('signin') . ($this->redirect ? '?redirect=' . $this->escapeUrl($this->redirect) : '') ?>">Back to Log In</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>