<?php
$form = $this->resetForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/resetpassword', array('userId' => $this->userId, 'token' => $this->token)));
$form->setAttribute('class', 'login-form');
$form->setAttribute('method', 'post');
?>
<section data-ng-view="" id="content" class="container login ng-scope">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="login-logo text-center">
                <img src="/img/personabold-logo-white.png" />
            </div>
            <div class="login-container">
                <div class="form-container">
                    <h1 class="text-center"><?php echo sprintf($this->translate('Change Password for %s'), $this->escapeHtml($this->email)); ?></h1>
                    <?php echo $this->form()->openTag($form) ?>
                    <fieldset>
                        <div class="consumer form-group">
                            <i class="fa fa-lock"></i>
                            <span></span>
                            <?php
                            $newCredential = $form->get('newCredential');
                            $newCredential->setAttribute('class', 'form-control input-lg input-round text-center')
                                ->setAttribute('placeholder', 'New Password');
                            echo $this->formInput($newCredential);
                            ?>
                        </div>
                        <?= $this->formElementErrors($newCredential); ?>
                        <div class="consumer form-group">
                            <i class="fa fa-lock"></i>
                            <span></span>
                            <?php
                            $newCredentialVerify = $form->get('newCredentialVerify');
                            $newCredentialVerify->setAttribute('class', 'form-control input-lg input-round text-center')
                                ->setAttribute('placeholder', 'Confirm New Password');
                            echo $this->formInput($newCredentialVerify);
                            echo $this->formElementErrors($newCredentialVerify);
                            ?>
                        </div>
                        <?= $this->formElementErrors($newCredentialVerify); ?>
                        <div class="consumer">
                            <?php if ($this->redirect): ?>
                                <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
                            <?php endif ?>
                            <?php
                            $submit = $form->get('submit');
                            $submit->setAttribute('class', 'btn btn-lg btn-round btn-block text-center btn-success');
                            $submit->setLabel('Set New Password');
                             echo $this->formButton($submit);
                            ?>
                        </div>
                    </fieldset>
                    <?php echo $this->form()->closeTag() ?>
                    <section>
                        <p class="text-center"><a href="<?php echo $this->url('signin') ?>">Back to login</a></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-ng-view="" id="content" class="content-container animate-fade-up ng-scope reset-password">
  <div class="page-signin ng-scope">
    <div class="signin-header">
      <section class="logo text-center">
        <a href="/" class="ng-binding"><?php echo sprintf($this->translate('Change Password for %s'), $this->escapeHtml($this->email)); ?></a>
      </section>
    </div>
		
    <div class="signin-body">
      <div class="container">
        <div class="form-container">
          <?php echo $this->form()->openTag($form) ?>
          <fieldset>
            <div class="login form-group">
              <span class="glyphicon glyphicon-lock"></span>
              <?php 
              $newCredential = $form->get('newCredential');
              $newCredential->setAttribute('class', 'form-control input-lg input-round text-center')
                  ->setAttribute('placeholder', 'New Password');
              echo $this->formInput($newCredential);
              echo $this->formElementErrors($newCredential);
              ?>
            </div>
            <div class="login form-group">
              <span class="glyphicon glyphicon-lock"></span>
              <?php 
              $newCredentialVerify = $form->get('newCredentialVerify');
              $newCredentialVerify->setAttribute('class', 'form-control input-lg input-round text-center')
                  ->setAttribute('placeholder', 'Confirm New Password');
              echo $this->formInput($newCredentialVerify);
              echo $this->formElementErrors($newCredentialVerify);
              ?>
            </div>
            <div class="login form-group">
              <?php 
              $submit = $form->get('submit');
              $submit->setAttribute('class', 'btn btn-success btn-lg btn-round btn-block text-center');
              echo $this->formButton($submit);
              ?>
            </div>
          </fieldset>
          <?php echo $this->form()->closeTag() ?>
          <section>
            <p class="text-center"><a href="<?php echo $this->url('signin') ?>">Back to login</a></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
