<?php $this->headLink()->appendStylesheet('/dist/css/bootstrap-tour.min.css'); ?>
<?php
    $arrPersonaId = array();
?>
<div id="persona" class="personaCompare clearfix" xmlns="//www.w3.org/1999/html">
    <div class="row page-navigation">
        <div class="col-sm-6 pull-left">
            <ul class="nav navbar-nav navbar-righ">
                <li class="persona-list-page"><a href="<?= $this->url('audience'); ?>"><i class="fa fa-list"></i> All Personas</a></li>
            </ul>
        </div>
        <div class="col-sm-6 pull-right text-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn btn-success btn-export-compare"><i class="fa fa-file-pdf-o"></i>&nbsp;Export to PDF</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-filter person-compare-list text-center">
            <?php if(isset($this->personaList)) { ; ?>
                <?php foreach($this->personaList as $val) {
                        $isCompared = in_array($val['uuid'], $this->personaUuids);
                        
                        if ( !isset($personaUuid) && $isCompared ) {
                            $personaUuid = $val['uuid'];
                        }
                        
                    ?>
                    <li class="persona-compare <?= $isCompared ? 'compared' : ''; ?>" data-uuid="<?= !$isCompared ? $val['uuid']  : '' ;?>">
                        <span><?= $val['name'] ?></span>
                        <div style="background-image:url(<?= $val['headshot'] ?>)"></div>
                    </li>
                <?php } ?>
            <?php } ?>
        </ul>
    </div>
    <!-- DIV#persona Start -->
    <div class="row clearfix">
        <?php if (isset($this->personas)) { ?>
            <div class="row persona-rows" id="persona-container">
                <?php foreach ($this->personas as $persona) { ?>
                    <?php array_push($arrPersonaId, $persona['persona']['uuid']); ?>
                    <div class="persona-sidebar col-md-3">
                        <div class="button-tool-container pull-right headshot-tool">
                            <a href="<?= $this->url("persona") . '/' . $persona['persona']['uuid']; ?>"><i class="fa fa-cog gear-btn"  data-toggle="tooltip" data-placement="top" title="Modify this persona"></i></a>
                        </div>
                        <div class="persona-sidebar-box headshot clearfix" data-field="headshot" style="background: url(<?= $persona['persona']['headshot'] ?>) no-repeat center">
                            <ul class="persona-nav">
                                <li class="persona-nav-left nav-control"><i class="fa fa-chevron-left"></i></li>
                                <li class="persona-nav-center">Browse Headshots</li>
                                <li class="persona-nav-right nav-control"><i class="fa fa-chevron-right"></i></li>
                            </ul>

                            <img src="<?=($this->hasPersona) ? $this->persona->getHeadshot() : '' ?>" />
                        </div>

                        <div class="persona-sidebar-box clearfix persona-name-box" title="Welcome To Persona Page" id="persona-name-box">
                            <span class="persona-name"><?= $persona['persona']['name'] ?></span>
                        </div>

                        <div class="persona-sidebar-box pesona-info-box clearfix">
                            <div class="persona-data-holder">
                                <h2 class="persona-label">Archetype:</h2>
                                <div class="persona-archetype persona-input">
                                    <span class="persona-value"><?= $persona['persona']['archetype']?></span>
                                    <div class="archetype-description selected-description text-muted small"><?= $persona['persona']['archetypeShortDescription']?></div>
                                </div>
                            </div>

                            <div class="persona-data-holder">
                                <h2 class="persona-label">Job Type:</h2>
                                <div class="persona-jobtype persona-input" >
                                    <span class="persona-value"><?= $persona['persona']['jobtype']?></span>
                                </div>
                            </div>

                            <div class="persona-data-holder">
                                <h2 class="persona-label">Industry:</h2>
                                <div class="persona-industry persona-input" >
                                    <span class="persona-value"><?= $persona['persona']['industryName']?></span>
                                </div>
                            </div>

                            <div class="persona-data-holder">
                                <h2 class="persona-label">Job Title:</h2>
                                <span class="persona-value"><?= $persona['persona']['jobTitle']?></span>
                            </div>

                            <div class="persona-data-holder">
                                <h2 class="persona-label">Job Description:</h2>
                                <span class="persona-value"><?= $persona['persona']['jobDescription']?></span>
                            </div>

                            <div class="persona-data-holder">
                                <h2 class="persona-label">Basic Life Description:</h2>
                                <span class="persona-value"><?= $persona['persona']['basicLife']?></span>
                            </div>

                        </div>

                        <div class="persona-sidebar-box clearfix age-gender-location">
                            <h2 class="persona-label">Age Range:</h2>
                            <div class="persona-personal2 row">
                                <div class="col-sm-2 age-min" ></div>
                                <div class="col-sm-8 age-slider is-slider non-editable" data-value='<?= $persona['persona']['age']?>' data-field="age" data-min=""  data-max=""></div>
                                <div class="col-sm-2 age-max"></div>
                            </div>

                            <h2 class="persona-label">Gender:</h2>
                            <div class="persona-personal2 row gender-pie" data-value='<?= $persona['persona']['gender']?>'>
                                <div class="canvas-gender">
                                </div>
                                <div class="genderLegendDiv"></div>

                            </div>
                        </div>


                    </div>



                <?php } ?>
            </div>
            <div class="row persona-rows">
                <?php foreach ($this->personas as $persona) { ?>
                <div class="persona-sidebar col-md-3">
                    <div class="persona-sidebar-box clearfix">
                        <h2 class="persona-label" style="font-size:20px">CHANNELS</h2>
                        <div class="box-channels-slider-persona-<?= $persona['persona']['id'];?>" data-persona-id="<?= $persona['persona']['id'];?>">
                        </div>
                    </div>
                </div>
            <?php } ?>
            </div>

            <div class="row persona-rows">
                <?php foreach ($this->personas as $persona) { ?>
                    <div class="persona-sidebar col-md-3">
                        <div class="persona-sidebar-box clearfix">
                            <h2 class="persona-label" style="font-size:20px">MOTIVATIONS</h2>
                            <div class="box-motivations-slider-persona-<?= $persona['persona']['id'];?>" data-persona-id="<?= $persona['persona']['id'];?>">
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>


            <div class="row persona-rows">
                <?php foreach ($this->personaKnowledges as $knowledge) { ?>
                    <div class="persona-sidebar col-md-3">
                        <div class="persona-sidebar-box clearfix">
                            <h2 class="persona-label" style="font-size:20px">KNOWLEDGE</h2>
                            <div class="box-knowledges-slider">
                                <?php if(!empty($knowledge)) { ?>
                                    <?php foreach($knowledge as $val) { ?>
                                        <div class="persona-knowledge-slider"
                                             data-id="<?= $val['id']?>"
                                             data-personaid="<?= $val['personaId'] ?>"
                                             data-knowledgeid="<?= $val['id'] ?>"
                                             data-name="<?= $val['title'] ?>"
                                             data-value="<?= $val['value'] ?>"></div>
                                    <?php } ?>

                                <?php }?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>

            <div class="row persona-rows">
                <?php foreach ($this->personas as $persona) {?>
                    <div class="persona-fields persona_data<?= $persona['persona']['id'] ?> persona-sidebar col-md-3" data-persona-id="<?= $persona['persona']['id'] ?>"></div>
                <?php } ?>

            </div>


        <?php } ?>
    </div>

    <script type="text/javascript">
        var personaFields       = <?= $this->personaFields ?>;
        var personaDataLists    = <?= $this->personaDataLists ?>;
        var personaIds          = <?= json_encode($arrPersonaId) ?>;
        var personaTemplateData = <?= $this->templateGallery ?>;
        var templateUrl         = '<?= $this->serverUrl($this->url('persona/process/exportPersonaPDF')) ?>';
        var isMultiple          = true;
        var personaUuid         = '<?= $personaUuid ?>';
    </script>

</div>

<?= $this->partial('user/partial/modals.phtml') ?>
<?= $this->partial('partial/templates.phtml') ?>
<script>
    head.ready('backbone', function () {
        head.load(  {colorpicker: '/js/magicsuggest-min.js'},
            {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' },
            {bootstraptour: "/dist/js/bootstrap-tour.min.js"});

    });

    head.ready('planboldScripts', function() {
        head.load('/js/min/persona.min.js');
    });
</script>