<?php
$this->headLink()->appendStylesheet('//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css');
$sendSurveyForm  = $this->sendSurveyForm;
$sendSurveyForm->setAttribute('id', 'sendSurveyForm');
$sendSurveyForm->setAttribute('name', 'sendSurveyForm');
$sendSurveyForm->setAttribute('method', '');
$personaInstructions = array();

//check if shared 
$isSharing = false;
if ( $this->persona['publicFlag'] && $this->persona['password'] != null && trim($this->persona['password']).length  == 0 ) {
    $sharedIcon = 'fa-paper-plane icon-red';
} else if ( $this->persona['publicFlag'] && ( $this->persona['password'] == null || trim($this->persona['password']).length  != 0 )) {
    $sharedIcon = 'fa-paper-plane icon-green';
    $isSharing = true;
} else if ( !$this->persona['publicFlag'] ) {
    $sharedIcon = 'fa-lock';
    $isSharing = true;
}
?>

<div id="persona" class="persona-index clearfix" data-pid="<?=($this->hasPersona) ? $this->persona['id']: '' ?>" data-uuid="<?= ($this->hasPersona) ? $this->persona['uuid'] : '' ?>">
    <div class="row page-navigation">
        <div class="col-sm-7 pull-left">
            <ul class="nav navbar-nav navbar-left">
                <?php if( $this->hasPersona ) {?>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Surveys
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <?php if ( $this->validatePermission('edit') ) { ?>
                            <li><a class="btn-survey">Send Survey</a></li>
                            <?php } ?>
                            <li class="persona-list-page">
                                <a href="<?= ($this->hasPersona && $this->surveyCount)? $this->url('persona/surveyResult', array('uuid' => $this->persona['uuid'])) :'#' ;?>" disabled="<?= (!$this->surveyCount)? true : false ?>">Survey Results(<?= $this->surveyCount ?>)</a>
                            </li>
                        </ul>
                    </li>
                    <li><a data-toggle="modal" data-target="#exportPersonaModal" href="#" class="btn-export-persona"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Export</a></li>
                    <li><a href="<?= $this->url('persona/compare', [], array( 'query' => ['persona[]' => "{$this->persona['uuid']}"])) ?>" class="btn-compare"><i class="fa fa-exchange"></i>&nbsp;&nbsp;&nbsp;Compare</a></li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#sharePersonaModal" class="btn-share-persona hide">
                            <i class="fa <?= $sharedIcon ?>"></i>&nbsp;
                            <span><?= $isSharing ? 'Sharing' : 'Share' ?></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-history"></i>&nbsp;
                            Revision History
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu revision-history-list">
                            <?php foreach ($this->revisions as $revisions) { ?>
                            <li>
                                <a class="revision-history" data-revid="<?= $revisions['revisionId'] ?>" href="#"><?= $revisions['revDate'] ?></a>
                            </li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>
            </ul>
        </div>
        <div class="col-sm-5 pull-right text-right">
            <ul class="nav navbar-nav navbar-right">
                <?php if ( $this->validatePermission('edit') ) { ?>
                <li class="addPersona"><a href="#"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Add Custom Data</a></li>
                <li><a data-toggle="modal" data-target="#confirmArchivePersona" href="#" class="btn-archived"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;Archive</a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <!-- DIV#persona Start -->
    <div class="row clearfix" id="persona-container">
        <!-- Start Persona Column 1  -->
        <div id="persona-sidebar" class="col-md-3">
            <?php if ( $this->validatePermission('edit') ) { ?>
            <div class="button-tool-container pull-right headshot-tool">
                <i class="fa fa-cog gear-btn" data-toggle="modal" data-target="#uploadHeadshotModal" data-tooltip="tooltip" data-placement="right" title="Click here to upload your own headshot"></i>
            </div>
            <?php } ?>
            <div class="persona-sidebar-box headshot clearfix" data-field="headshot">
                <img src="<?=($this->hasPersona) ? $this->persona['headshot'] : '' ?>"  class="persona-image-container" data-image="<?=($this->hasPersona) ? $this->persona['headshot'] : '' ?>" />
            </div>

            <div class="persona-sidebar-box clearfix persona-name-box" title="Welcome To Persona Page" id="persona-name-box">
                <?php if ( $this->validatePermission('edit') ) { ?>
                <input type="text" data-field="name" data-toggle="tooltip" data-placement="right" title="Persona's Full Name must not be empty" placeholder="Full Name" id="persona-name" class="persona-name editable" value="<?=($this->hasPersona) ? $this->persona['name'] : '' ?>" />
                <?php } else { ?>
                <span class="persona-title" title="You have no permission to edit this field."><?=($this->hasPersona) ? $this->persona['name'] : '' ?></span>
                <?php } ?>
            </div>

            <div class="persona-section" data-column="1">
                <?php
                    foreach($this->personaColumns['column-1'] as $val) {
                        echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
                    }
                ?>
            </div>

        </div>
        <!-- End Persona Column 1  -->

        <!-- Start Persona Column 2  -->
        <div id="main" data-column="2" class="persona-section col-md-5 persona_data<?=($this->hasPersona) ? $this->persona['id'] : '' ?>">
            <?php
            foreach($this->personaColumns['column-2'] as $val) {
                    echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
                }
            ?>
        </div>
        <!-- End Persona Column 2  -->

        <!-- Start Persona Column 3  -->
        <div id="other_data" data-column="3" class="persona-section col-md-4">
            <?php
            foreach($this->personaColumns['column-3'] as $val) {
                echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
            }
            ?>
        </div>
        <!-- End Persona Column 3  -->

        <!-- Send Survey Form -->
        <div id="sendSurveyFormContainer" style="display: none">
            <?= $this->form()->openTag($sendSurveyForm) ?>
            <div class="form-group">
                <label for="sendTo">To</label>
                <div id="msSurveySendTo"></div>
            </div>

            <div class="form-group">
                <label for="sendTo">Questions</label>
                <div class="question-list">
                    <?php
                        $questions = $sendSurveyForm->get('check-questions');
                        $questions->setAttribute('class','questionItem');
                        $questions->setAttribute("checked", "checked");
                        
                        $arrQuestions = array();
                        foreach ($this->personaFields as $surveyQuestions) {
                            
                            if ( isset($surveyQuestions['fieldCode']) ) {
                                $arrQuestions[$surveyQuestions['fieldCode']] = $surveyQuestions['title'];
                            } else {
                                $arrQuestions['custom-'.$surveyQuestions['id']] = $surveyQuestions['title'];
                            }
                        }
                        
                        $questions->setValueOptions($arrQuestions);
                        echo $this->formMultiCheckbox($questions);
                    ?>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <?php
                    $message = $sendSurveyForm->get('message');
                    $message->setAttribute('id','surveyMessage');
                    $message->setAttribute('class', 'form-control');
                    $message->setAttribute('name','surveyMessage');
                    $message->setAttribute('rows','5');
                    $message->setAttribute('maxlength', 65535);
                    echo $this->formTextarea($message);
                ?>
            </div>
            <a id="sendSurvey" href="#" class="btn btn-success">Submit</a>
            <?= $this->form()->closeTag() ?>
        </div>

    </div>


    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('partial/templates.phtml') ?>
</div>


<!-- Persona Sections -->
<script id="section-agegender" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix age-gender-location">
        <?php if ( $this->validatePermission('edit') ) { ?>
        <div class="button-tool-container pull-right">
            <i class="fa fa-arrows section-mover"></i>
            <i class="fa fa-cog gear-btn show-instruction" data-id="9" data-toggle="modal" data-target="#personaInfoModal" data-tooltip="tooltip" data-placement="right" title="Click here to edit the values"></i>
        </div>
        <?php } ?>
        <h2 class="persona-label">Age Range:</h2>
        <div class="persona-personal2 row age-slide">
            <div class="col-sm-2 age-min" ></div>
            <div id="age-slider" class="col-sm-8 age-slider is-slider non-editable" data-field="age" data-min=""  data-max=""></div>
            <div class="col-sm-2 age-max"></div>
            <input type="hidden" value="0" id="age-min-value"/>
            <input type="hidden" value="100" id="age-max-value"/>
        </div>

        <h2 class="persona-label">Gender:</h2>
        <div class="persona-personal2 row gender-pie">
            <input type="hidden" id="gender-male-value" value="50" />
            <input type="hidden" id="gender-female-value" value="50" />

            <div class="canvas-gender">
            </div>
            <div class="genderLegendDiv"></div>

        </div>

        <div id="#pesonaLocation"  style="<?=empty($this->persona['Location'])? 'display:none' : '';?>">
            <h2 class="persona-label">Location:</h2>
            <div class="persona-personal2 row">
                <div id="msLocation"></div>
            </div>
        </div>
    </div>
</script>

<?php foreach($this->personaFields as $val) { ?>
    <?php
    
        $personaInstructions[$val['id']] = isset($val['description']) ? $val['description'] : 'No Instruction found.';
    ?>
    <?php if (!in_array($val['title'], array('Channels', 'Motivations', 'Knowledge', 'Age and Gender', 'Archetype'))) { ?>
    <script type="text/template" id="section-<?=strtolower(trim(preg_replace("![^a-z0-9]+!i", "", $val['id'])))?>">
        <div class="persona-item">
            <div class="persona-section-box persona-main-box persona-main-box-fixed clearfix" style="width: 100%;" data-contenttype="list" id="field<?= (isset($val['isCustom']) && $val['isCustom'])? 'custom' : ''?><?= $val['id'] . 'p' . (($this->hasPersona) ? $this->persona['id'] : ''); ?>" data-id="<?= $val['id'] ?>">
                <?php if ( $this->validatePermission('edit') ) { ?>
                <div class="button-tool-container pull-right">
                    <i class="fa fa-arrows section-mover"></i>
                    <i class="fa fa-cog gear-btn show-instruction"
                        data-toggle="modal"
                        data-target=".persona-box-modal"
                        data-id="<?= $val['id'] ?>"
                        data-iscustom="<?= (isset($val['isCustom']) && $val['isCustom'])? 'true' : 'false'?>"
                        data-title="<?= $val['title'] ?>"></i>
                    <i class="fa fa-trash" style="display: <?= (isset($val['isCustom']) && $val['isCustom'])? 'inline' : 'none'?>"  data-id="<?= $val['id']; ?>" data-target="#confirmArchivePersonaData"  data-toggle="modal" data-placement="top" title="This will delete the box." ></i>
                </div>
                <?php } ?>
                <?php if ( $val['isCustom'] ) { ?>
                    <h2>
                    <input class="custom-field-name" placeholder="FIRST, ENTER A TITLE" value="<?= $val['title'] ?>" data-toggle="tooltip" data-placement="top" title="<?= $val['title'] ?>" data-original-title="Please enter a title first" type="text"></input>
                        </h2>
                <?php } else { ?>    
                <h2 class="fixed-field persona-label" data-id="<?= $val['id'] ?>"><?= $val['title'] ?></h2>
                <?php } ?>
                <div class="persona-main-box-content">
                    <ul class="fixed-field" data-field-id="<?= $val['id'] ?>" >
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <?php } else {
        if ( $val['title'] == 'Channels' ) {
            $channelId = $val['id'];
        } else if ( $val['title'] == 'Motivations' ) {
            $motivationId = $val['id'];
        } else {
            $knowledgeId = $val['id'];
        }
    } ?>
<?php } ?>


<script id="section-archeindustryjob" type="text/template" >
    <div class="persona-section-box persona-sidebar-box pesona-info-box clearfix" id="item-archeindustryjob">
        <?php if ( $this->validatePermission('edit') ) { ?>
        <div class="button-tool-container pull-right">
            <i class="fa fa-arrows section-mover"></i>
            <i class="fa fa-cog gear-btn show-instruction" data-id="10" data-toggle="modal"   data-tooltip="tooltip" data-placement="right" title="Click here to edit the values" data-target="#personaInfo2Modal"></i>
        </div>
        <?php } ?>
        <div class="text-muted" id="message-archeindustryjob" style="display: none">
            Click <i class="fa fa-cog"></i> to set archetype, industry, basic life description, and job(type, title, and description).
        </div>
        <div id="personaArchetype"  style="<?=empty($this->persona['archetypeId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['archetypeId'] ?>">
            <h2 class="persona-label">Archetype:</h2>
            <div class="persona-input">
                <span class="persona-value"><?= !empty($this->persona['archetype'])? $this->persona['archetype']: ''; ?></span>
                <div class="selected-description text-muted small">
                    <?= !empty($this->persona['archetypeDescription'])? $this->persona['archetypeDescription'] : ''; ?>
                </div>
            </div>
        </div>

        <div id="personaIndustry"  style="<?=empty($this->persona['industryId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['industryId'] ?>">
            <h2 class="persona-label">Industry:</h2>
            <div class="persona-input" >
                <span class="persona-value"><?= !empty($this->persona['industryName'])? $this->persona['industryName']  : '' ;?></span>
                <div class="industry-description selected-description text-muted small">
                    <?= !empty($this->persona['industryDescription'] )? $this->persona['industryDescription']  : '' ;?>
                </div>
            </div>
        </div>

        <div id="personaJobtype"  style="<?= empty($this->persona['jobtypeId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['jobtypeId'] ?>">
            <h2 class="persona-label">Job Type:</h2>
            <div class="persona-jobtype persona-input" >
                <span class="persona-value"><?= !empty($this->persona['jobtype']) ? $this->persona['jobtype'] : ''; ?></span>
            </div>
        </div>

        <div id="personaJobTitle"  style="<?= empty($this->persona['jobTitle'])? 'display:none' : '';?>">
            <h2 class="persona-label">Job Title:</h2>
            <span class="persona-value"><?= !empty($this->persona['jobTitle'])? $this->persona['jobTitle'] : ''; ?></span>
        </div>

        <div id="personaJobDescription"  style="<?= empty($this->persona['jobDescription'])? 'display:none' : '';?>">
            <h2 class="persona-label">Job Description:</h2>
            <span class="persona-value"><?= !empty($this->persona['jobDescription'])? $this->persona['jobDescription'] : ''; ?></span>
        </div>

        <div id="personaBasicLife"  style="<?= empty($this->persona['basicLife'])? 'display:none' : '';?>">
            <h2 class="persona-label">Basic Life Description:</h2>
            <span class="persona-value"><?= !empty($this->persona['basicLife'])? $this->persona['basicLife'] : '';?></span>
    	</div>
	</div>
</script>

<script id="section-channels" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix channels" id="item-channels">
        <?php if ( $this->validatePermission('edit') ) { ?>
        <div class="button-tool-container pull-right">
            <i class="fa fa-arrows section-mover"></i>
            <i data-id="6" class="fa fa-cog gear-btn show-instruction" data-toggle="modal" data-target=".channels-modal"></i>
        </div>
        <?php } ?>
        <h2 class="persona-label">Channels</h2>
        <div class="box-channels-slider"></div>
    </div>
</script>

<script id="section-motivations" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix" id="item-motivations">
        <?php if ( $this->validatePermission('edit') ) { ?>
        <div class="button-tool-container pull-right">
            <i class="fa fa-arrows section-mover"></i>
            <i data-id="7" class="fa fa-cog gear-btn gear-btn show-instruction" data-toggle="modal" data-target=".motivations-modal"></i>
        </div>
        <?php } ?>
        <h2 class="persona-label" >Motivations</h2>
        <div class="box-motivations-slider"></div>
    </div>
</script>

<script id="section-knowledges" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix" id="item-knowledges">
        <?php if ( $this->validatePermission('edit') ) { ?>
        <div class="button-tool-container pull-right">
            <i class="fa fa-arrows section-mover"></i>
            <i data-id="8" class="fa fa-cog gear-btn gear-btn show-instruction" data-toggle="modal" data-target=".knowledge-modal"></i>
        </div>
        <?php } ?>
        <h2 class="persona-label">Knowledge</h2>
        <div class="box-knowledge-slider"></div>
    </div>
</script>

<script type="text/javascript">
    
    var persona_age         = '<?= ($this->hasPersona) ? ( isset($this->persona['age']) ? $this->persona['age'] : '' ): '' ;?>',
        shareData           = <?= json_encode(array('shortCode' => ($this->hasPersona) ? $this->persona['shortCode'] : '', 'password' =>  ($this->hasPersona) ? $this->persona['password'] : '', 'publicFlag' => ($this->hasPersona) ? $this->persona['publicFlag'] : '')); ?>,
        persona_gender      = '<?= ($this->hasPersona)? $this->persona['gender'] : '' ;?>',
        personaTemplateData = <?= $this->templateGallery ?>,
        personaUuid         = '<?=($this->hasPersona) ? $this->persona['uuid'] : '' ?>',
        templateUrl         = '<?= $this->serverUrl($this->url('persona/process/exportPersonaPDF')) ?>',
        isMultiple          = false,
        persona_data        = <?= ($this->hasPersona) ? json_encode($this->personaData) : json_encode(array()) ;?>,
        revisionId          = '<?= $this->revisionId ?>',
        motivationFieldId   = '<?= $motivationId ?>',
        channelFieldId      = '<?= $channelId ?>',
        knowledgeFieldId    = '<?= $knowledgeId ?>',
        personaInstructions = <?= json_encode($personaInstructions) ?>,
        personaFields       = <?= json_encode($this->personaFields) ?>,
        headshots           = <?= json_encode($this->headshots) ?>,
        personaDataLookUp   = <?= ($this->hasPersona) ? json_encode($this->personaData) : json_encode(array()) ?>;

    head.ready('backbone', function () {
        head.load(
            {magicsuggest: '/js/magicsuggest-min.js'},
            {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' },
            {bootstraptour: "/dist/js/bootstrap-tour.min.js"},
            {jcookie : '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'},
            {personaData: '/persona/process/fetchPersonaData/<?= $this->hasPersona ? $this->persona['id'] : 0 ?>/<?= isset($this->persona['actId']) ? $this->persona['actId'] : 0 ?>'}     
        );
    });
    
</script>
