<?php 
$this->headLink()->appendStylesheet('//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css');?>

<div id="persona" class=" clearfix" data-pid="<?=($this->hasPersona) ? $this->persona['id']: '' ?>" data-uuid="<?= ($this->hasPersona) ? $this->persona['uuid'] : '' ?>">
    <div class="row page-navigation">
        <div class="col-sm-5 pull-left">
            <ul class="nav navbar-nav navbar-left">
                <li>&nbsp;<i class="fa fa-warning"></i>&nbsp;Notice. This is a read only revision.</li>
                </ul>
        </div>
        <div class="col-sm-7 pull-right text-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Revision History
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu revision-history-list">
                        <?php foreach ($this->revisions as $revisions) { ?>
                        <li>
                            <a class="revision-history" data-revid="<?= $revisions['revisionId'] ?>" href="#"><?= $revisions['revDate'] ?></a>
                        </li>
                        <?php } ?>
                    </ul>
                </li>
                <li><a href="<?= $this->serverUrl($this->url('persona/persona', array('uuid' => $this->persona['uuid']))) ?>">Go to Latest Persona</a></li>
                <?php if ( $this->validatePermission('edit') ) { ?>
                <li><a href="<?= $this->serverUrl($this->url('persona/revisionPage/revertPersona', array('revisionId' => $this->revisionId))) ?>">Revert Changes from this Data</a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <!-- DIV#persona Start -->
    <div class="row clearfix" id="persona-container">
        <!-- Start Persona Column 1  -->
        <div id="persona-sidebar" class="col-md-3">
            <div class="persona-sidebar-box headshot clearfix" data-field="headshot">
                <img src="<?=($this->hasPersona) ? $this->persona['headshot'] : '' ?>" />
            </div>

            <div class="persona-sidebar-box clearfix persona-name-box" title="Welcome To Persona Page" id="persona-name-box">
                <span data-field="name" data-toggle="tooltip" data-placement="right" title="Persona's Full Name must not be empty" placeholder="Full Name" id="persona-name" class="persona-name editable" ><?=($this->hasPersona) ? $this->persona['name'] : '' ?></span>
            </div>

            <div class="persona-section" data-column="1">
                <?php
                    foreach($this->personaColumns['column-1'] as $val) {
                        echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
                    }
                ?>
            </div>

        </div>
        <!-- End Persona Column 1  -->

        <!-- Start Persona Column 2  -->
        <div id="main" data-column="2" class="persona-section col-md-5 persona_data<?=($this->hasPersona) ? $this->persona['id'] : '' ?>">
            <?php
            foreach($this->personaColumns['column-2'] as $val) {
                    echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
                }
            ?>
        </div>
        <!-- End Persona Column 2  -->

        <!-- Start Persona Column 3  -->
        <div id="other_data" data-column="3" class="persona-section col-md-4">
            <?php
            foreach($this->personaColumns['column-3'] as $val) {
                echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
            }
            ?>
        </div>
        <!-- End Persona Column 3  -->

    </div>


    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('partial/templates.phtml') ?>
</div>


<!-- Persona Sections -->
<script id="section-agegender" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix age-gender-location">

        <h2 class="persona-label">Age Range:</h2>
        <div class="persona-personal2 row age-slide">
            <div class="col-sm-2 age-min" ></div>
            <div id="age-slider" class="col-sm-8 age-slider is-slider non-editable" data-field="age" data-min=""  data-max=""></div>
            <div class="col-sm-2 age-max"></div>
            <input type="hidden" value="0" id="age-min-value"/>
            <input type="hidden" value="100" id="age-max-value"/>
        </div>

        <h2 class="persona-label">Gender:</h2>
        <div class="persona-personal2 row gender-pie">
            <input type="hidden" id="gender-male-value" value="50" />
            <input type="hidden" id="gender-female-value" value="50" />

            <div class="canvas-gender">
            </div>
            <div class="genderLegendDiv"></div>

        </div>

        <div id="#pesonaLocation"  style="<?=empty($this->persona['Location'])? 'display:none' : '';?>">
            <h2 class="persona-label">Location:</h2>
            <div class="persona-personal2 row">
                <div id="msLocation"></div>
            </div>
        </div>
    </div>
</script>

<?php foreach($this->personaFields as $val) {?>
    <?php if (!in_array($val['title'], array('Channels', 'Motivations', 'Knowledge'))) { ?>
    <script type="text/template" id="section-<?=strtolower(trim(preg_replace("![^a-z0-9]+!i", "", $val['title'])))?>">
        <div id="item-<?=strtolower(trim(preg_replace("![^a-z0-9]+!i", "", $val['title'])))?>">
            <div class="persona-section-box persona-main-box persona-main-box-fixed dialyshit clearfix" style="width: 100%;" data-contenttype="list" id="field<?= $val['id'] . 'p' . (($this->hasPersona) ? $this->persona['id'] : ''); ?>" data-id="">
                <h2 class="fixed-field persona-label" data-id="<?= $val['id'] ?>"><?= $val['title'] ?></h2>
                <div class="persona-main-box-content">
                    <ul class="fixed-field" data-field-id="<?= $val['id'] ?>" >
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <?php } ?>
<?php } ?>


<script id="section-archeindustryjob" type="text/template" >
    <div class="persona-section-box persona-sidebar-box pesona-info-box clearfix" id="item-archeindustryjob">
        <div id="personaArchetype"  style="<?=empty($this->persona['archetypeId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['archetypeId'] ?>">
            <h2 class="persona-label">Archetype:</h2>
            <div class="persona-input">
                <span class="persona-value"><?= !empty($this->persona['archetype'])? $this->persona['archetype']: ''; ?></span>
                <div class="selected-description text-muted small">
                    <?= !empty($this->persona['archetypeDescription'])? $this->persona['archetypeDescription'] : ''; ?>
                </div>
            </div>
        </div>

        <div id="personaIndustry"  style="<?=empty($this->persona['industryId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['industryId'] ?>">
            <h2 class="persona-label">Industry:</h2>
            <div class="persona-input" >
                <span class="persona-value"><?= !empty($this->persona['industryName'])? $this->persona['industryName']  : '' ;?></span>
                <div class="industry-description selected-description text-muted small">
                    <?= !empty($this->persona['industryDescription'] )? $this->persona['industryDescription']  : '' ;?>
                </div>
            </div>
        </div>


        <div id="personaJobtype"  style="<?= empty($this->persona['jobtypeId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['jobtypeId'] ?>">
            <h2 class="persona-label">Job Type:</h2>
            <div class="persona-jobtype persona-input" >
                <span class="persona-value"><?= !empty($this->persona['jobtype']) ? $this->persona['jobtype'] : ''; ?></span>
            </div>
        </div>

        <div id="personaJobTitle"  style="<?= empty($this->persona['jobTitle'])? 'display:none' : '';?>">
            <h2 class="persona-label">Job Title:</h2>
            <span class="persona-value"><?= !empty($this->persona['jobTitle'])? $this->persona['jobTitle'] : ''; ?></span>
        </div>

        <div id="personaJobDescription"  style="<?= empty($this->persona['jobDescription'])? 'display:none' : '';?>">
            <h2 class="persona-label">Job Description:</h2>
            <span class="persona-value"><?= !empty($this->persona['jobDescription'])? $this->persona['jobDescription'] : ''; ?></span>
        </div>

        <div id="personaBasicLife"  style="<?= empty($this->persona['basicLife'])? 'display:none' : '';?>">
            <h2 class="persona-label">Basic Life Description:</h2>
            <span class="persona-value"><?= !empty($this->persona['basicLife'])? $this->persona['basicLife'] : '';?></span>

    </div>
</script>

<script id="section-channels" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix channels" id="item-channels">
        <h2 class="persona-label">Channels</h2>
        <div class="box-channels-slider">
        </div>
    </div>
</script>

<script id="section-motivations" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix" id="item-motivations">
        <h2 class="persona-label" >Motivations</h2>
        <div class="box-motivations-slider">
        </div>
    </div>
</script>

<script id="section-knowledges" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix" id="item-knowledges">
        <h2 class="persona-label">Knowledges</h2>
        <div class="box-knowledge-slider">
        </div>
    </div>
</script>

<script type="text/javascript">
    
    var persona_age         = '<?= $this->persona['age'] ?>',
        persona_gender      = '<?= $this->persona['gender'] ?>',
        personaTemplateData = <?= $this->templateGallery ?>,
        personaUuid         = '<?= $this->persona['uuid'] ?>',
        templateUrl         = '<?= $this->serverUrl($this->url('persona/process/exportPersonaPDF')) ?>',
        isMultiple          = false,
        persona_data        = <?= json_encode($this->personaData) ?>,
        revisionId          = '<?= $this->revisionId ?>',
        personaDataLookUp   = <?= json_encode($this->personaData) ?>;

    head.ready('backbone', function () {
        head.load(
            {magicsuggest: '/js/magicsuggest-min.js'},
            {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' },
            {personaData: '/persona/process/fetchRevisionData/<?= $this->revisionId  ?>'}
        );
    });

</script>