<section data-ng-view="" id="content" class="container login ng-scope">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="login-logo text-center">
                <img src="/img/personabold-logo-white.png" />
            </div>
            <div class="login-container">

                <div class="form-container">
                    <h1 class="text-center">Persona is secured</h1>
                    <h5 class="text-center">Please input the password that is send to your email.</h5>
                    <form id="frm-security" action="/share/validate-password">
                        <div>
                            <?php
                            $flash = $this->flashMessenger()
                                    ->setMessageOpenFormat('<label%s>')
                                    ->setMessageCloseString('</label>');
                            echo $flash->render('error');
                            echo $flash->render('success');
                            ?>
                        </div>
                        <fieldset>
                            <div class="login form-group">
                                <i class="fa fa-lock"></i>
                                <input name="credential" class="form-control input-lg input-round text-center" placeholder="PASSWORD" value="" type="password">
                            </div>
                            <input type="hidden" name="hdn-short-id" id="hdn-short-id" value="<?= $this->shortId ?>"/>
                        </fieldset>
                        <div class="login text-center">
                            <button type="submit" class="btn btn-success validate-password btn-lg btn-round text-center" value="">Validate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>