<?php
$this->headLink()->appendStylesheet('//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css');
$personaInstructions = array();
?>

<div id="persona" class="persona-index clearfix" data-pid="<?=($this->hasPersona) ? $this->persona['id']: '' ?>" data-uuid="<?= ($this->hasPersona) ? $this->persona['uuid'] : '' ?>">
    
    <!-- DIV#persona Start -->
    <div class="row clearfix" id="persona-container">
        <!-- Start Persona Column 1  -->
        <div id="persona-sidebar" class="col-md-3">
            <div class="persona-sidebar-box headshot clearfix" data-field="headshot">
                <img src="<?=($this->hasPersona) ? $this->persona['headshot'] : '' ?>"  class="persona-image-container" data-image="<?=($this->hasPersona) ? $this->persona['headshot'] : '' ?>" />
            </div>

            <div class="persona-sidebar-box clearfix persona-name-box" title="Welcome To Persona Page" id="persona-name-box">
                <span class="persona-title" ><?=($this->hasPersona) ? $this->persona['name'] : '' ?></span>
            </div>

            <div class="persona-section" data-column="1">
                <?php
                    foreach($this->personaColumns['column-1'] as $val) {
                        echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
                    }
                ?>
            </div>

        </div>
        <!-- End Persona Column 1  -->

        <!-- Start Persona Column 2  -->
        <div id="main" data-column="2" class="persona-section col-md-5 persona_data<?=($this->hasPersona) ? $this->persona['id'] : '' ?>">
            <?php
            foreach($this->personaColumns['column-2'] as $val) {
                    echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
                }
            ?>
        </div>
        <!-- End Persona Column 2  -->

        <!-- Start Persona Column 3  -->
        <div id="other_data" data-column="3" class="persona-section col-md-4">
            <?php
            foreach($this->personaColumns['column-3'] as $val) {
                echo "<div id='item-$val' class='section-items' data-name='$val'></div>";
            }
            ?>
        </div>
        <!-- End Persona Column 3  -->

    </div>
    <?= $this->partial('partial/templates.phtml') ?>
</div>


<!-- Persona Sections -->
<script id="section-agegender" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix age-gender-location">
        <h2 class="persona-label">Age Range:</h2>
        <div class="persona-personal2 row age-slide">
            <div class="col-sm-2 age-min" ></div>
            <div id="age-slider" class="col-sm-8 age-slider is-slider non-editable" data-field="age" data-min=""  data-max=""></div>
            <div class="col-sm-2 age-max"></div>
            <input type="hidden" value="0" id="age-min-value"/>
            <input type="hidden" value="100" id="age-max-value"/>
        </div>

        <h2 class="persona-label">Gender:</h2>
        <div class="persona-personal2 row gender-pie">
            <input type="hidden" id="gender-male-value" value="50" />
            <input type="hidden" id="gender-female-value" value="50" />

            <div class="canvas-gender">
            </div>
            <div class="genderLegendDiv"></div>

        </div>

        <div id="#pesonaLocation"  style="<?=empty($this->persona['Location'])? 'display:none' : '';?>">
            <h2 class="persona-label">Location:</h2>
            <div class="persona-personal2 row">
                <div id="msLocation"></div>
            </div>
        </div>
    </div>
</script>

<?php foreach($this->personaFields as $val) { ?>
    <?php
    
        $personaInstructions[$val['id']] = isset($val['description']) ? $val['description'] : 'No Instruction found.';
    ?>
    <?php if (!in_array($val['title'], array('Channels', 'Motivations', 'Knowledge', 'Age and Gender', 'Archetype'))) { ?>
    <script type="text/template" id="section-<?=strtolower(trim(preg_replace("![^a-z0-9]+!i", "", $val['id'])))?>">
        <div class="persona-item">
            <div class="persona-section-box persona-main-box persona-main-box-fixed clearfix" style="width: 100%;" data-contenttype="list" id="field<?= (isset($val['isCustom']) && $val['isCustom'])? 'custom' : ''?><?= $val['id'] . 'p' . (($this->hasPersona) ? $this->persona['id'] : ''); ?>" data-id="<?= $val['id'] ?>">
                <?php if ( $val['isCustom'] ) { ?>
                    <h2>
                    <input class="custom-field-name" placeholder="FIRST, ENTER A TITLE" value="<?= $val['title'] ?>" data-toggle="tooltip" data-placement="top" title="<?= $val['title'] ?>" data-original-title="Please enter a title first" type="text"></input>
                        </h2>
                <?php } else { ?>    
                <h2 class="fixed-field persona-label" data-id="<?= $val['id'] ?>"><?= $val['title'] ?></h2>
                <?php } ?>
                <div class="persona-main-box-content">
                    <ul class="fixed-field" data-field-id="<?= $val['id'] ?>" >
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <?php } else {
        if ( $val['title'] == 'Channels' ) {
            $channelId = $val['id'];
        } else if ( $val['title'] == 'Motivations' ) {
            $motivationId = $val['id'];
        } else {
            $knowledgeId = $val['id'];
        }
    } ?>
<?php } ?>


<script id="section-archeindustryjob" type="text/template" >
    <div class="persona-section-box persona-sidebar-box pesona-info-box clearfix" id="item-archeindustryjob">
        <div class="text-muted" id="message-archeindustryjob" style="display: none">
            Click <i class="fa fa-cog"></i> to set archetype, industry, basic life description, and job(type, title, and description).
        </div>
        <div id="personaArchetype"  style="<?=empty($this->persona['archetypeId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['archetypeId'] ?>">
            <h2 class="persona-label">Archetype:</h2>
            <div class="persona-input">
                <span class="persona-value"><?= !empty($this->persona['archetype'])? $this->persona['archetype']: ''; ?></span>
                <div class="selected-description text-muted small">
                    <?= !empty($this->persona['archetypeDescription'])? $this->persona['archetypeDescription'] : ''; ?>
                </div>
            </div>
        </div>

        <div id="personaIndustry"  style="<?=empty($this->persona['industryId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['industryId'] ?>">
            <h2 class="persona-label">Industry:</h2>
            <div class="persona-input" >
                <span class="persona-value"><?= !empty($this->persona['industryName'])? $this->persona['industryName']  : '' ;?></span>
                <div class="industry-description selected-description text-muted small">
                    <?= !empty($this->persona['industryDescription'] )? $this->persona['industryDescription']  : '' ;?>
                </div>
            </div>
        </div>

        <div id="personaJobtype"  style="<?= empty($this->persona['jobtypeId'])? 'display:none' : '';?>">
            <input type="hidden" name="id" value="<?= $this->persona['jobtypeId'] ?>">
            <h2 class="persona-label">Job Type:</h2>
            <div class="persona-jobtype persona-input" >
                <span class="persona-value"><?= !empty($this->persona['jobtype']) ? $this->persona['jobtype'] : ''; ?></span>
            </div>
        </div>

        <div id="personaJobTitle"  style="<?= empty($this->persona['jobTitle'])? 'display:none' : '';?>">
            <h2 class="persona-label">Job Title:</h2>
            <span class="persona-value"><?= !empty($this->persona['jobTitle'])? $this->persona['jobTitle'] : ''; ?></span>
        </div>

        <div id="personaJobDescription"  style="<?= empty($this->persona['jobDescription'])? 'display:none' : '';?>">
            <h2 class="persona-label">Job Description:</h2>
            <span class="persona-value"><?= !empty($this->persona['jobDescription'])? $this->persona['jobDescription'] : ''; ?></span>
        </div>

        <div id="personaBasicLife"  style="<?= empty($this->persona['basicLife'])? 'display:none' : '';?>">
            <h2 class="persona-label">Basic Life Description:</h2>
            <span class="persona-value"><?= !empty($this->persona['basicLife'])? $this->persona['basicLife'] : '';?></span>
    	</div>
	</div>
</script>

<script id="section-channels" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix channels" id="item-channels">
        <h2 class="persona-label">Channels</h2>
        <div class="box-channels-slider"></div>
    </div>
</script>

<script id="section-motivations" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix" id="item-motivations">
        <h2 class="persona-label" >Motivations</h2>
        <div class="box-motivations-slider"></div>
    </div>
</script>

<script id="section-knowledges" type="text/template">
    <div class="persona-section-box persona-sidebar-box clearfix" id="item-knowledges">
        <h2 class="persona-label">Knowledge</h2>
        <div class="box-knowledge-slider"></div>
    </div>
</script>

<script type="text/javascript">
    
    var persona_age         = '<?= ($this->hasPersona) ? ( isset($this->persona['age']) ? $this->persona['age'] : '' ): '' ;?>',
        shareData           = <?= json_encode(array('shortCode' => ($this->hasPersona) ? $this->persona['shortCode'] : '', 'password' =>  ($this->hasPersona) ? $this->persona['password'] : '', 'publicFlag' => ($this->hasPersona) ? $this->persona['publicFlag'] : '')); ?>,
        persona_gender      = '<?= ($this->hasPersona)? $this->persona['gender'] : '' ;?>',
        personaTemplateData = <?= $this->templateGallery ?>,
        personaUuid         = '<?=($this->hasPersona) ? $this->persona['uuid'] : '' ?>',
        templateUrl         = '<?= $this->serverUrl($this->url('persona/process/exportPersonaPDF')) ?>',
        isMultiple          = false,
        persona_data        = <?= ($this->hasPersona) ? json_encode($this->personaData) : json_encode(array()) ;?>,
        revisionId          = '<?= $this->revisionId ?>',
        motivationFieldId   = '<?= $motivationId ?>',
        channelFieldId      = '<?= $channelId ?>',
        knowledgeFieldId    = '<?= $knowledgeId ?>',
        personaInstructions = <?= json_encode($personaInstructions) ?>,
        personaFields       = <?= json_encode($this->personaFields) ?>,
        headshots           = <?= json_encode($this->headshots) ?>,
        personaDataLookUp   = <?= ($this->hasPersona) ? json_encode($this->personaData) : json_encode(array()) ?>;

    head.ready('backbone', function () {
        head.load(
            {magicsuggest: '/js/magicsuggest-min.js'},
            {fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js' },
            {bootstraptour: "/dist/js/bootstrap-tour.min.js"},
            {jcookie : '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'},
            {personaData: '/persona/process/fetchPersonaData/<?= $this->hasPersona ? $this->persona['id'] : 0 ?>/<?= isset($this->persona['actId']) ? $this->persona['actId'] : 0 ?>'}     
        );
    });
</script>
