<div id="survey" class=" clearfix survey-result">
    <div class="row page-navigation persona-main-navigation">
        <div class="col-sm-6 pull-left">
            <ul class="nav navbar-nav navbar-righ persona-options">
                <?php if ( $this->validatePermission('edit') ) { ?>
                    <li class="addPersona"><a href="<?= $this->url('persona') . '/' . $this->persona['uuid'] ?>"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;Back to Persona</a></li>
                <?php } ?>
                <?php if( $this->hasPersona ) {?>
                    <li><a href="<?= $this->url('persona/compare', [], array( 'query' => ['persona[]' => "{$this->persona->getUuid()}"])) ?>" class="btn-compare"><i class="fa fa-exchange"></i>&nbsp;&nbsp;&nbsp;COMPARE</a></li>
                    <li><a data-toggle="modal" data-target="#confirmArchivePersona" href="#" class="btn-compare"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;ARCHIVE</a></li>
                    <li><a data-toggle="modal" data-target="#sendSurveyModal" href="#" class="btn-survey"><i class="fa fa-file-text"></i>&nbsp;&nbsp;&nbsp;SEND SURVEY</a></li>
                <?php } ?>
            </ul>
        </div>
        <div class="col-sm-6 pull-right text-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="persona-list-page"><a href="<?= $this->url('audience'); ?>"><i class="fa fa-list"></i> All Personas</a></li>
                <?php if( $this->hasPersona ) {?>
                    <li class="persona-list-page"><a href="<?= $this->url('persona/surveyResult', array('uuid' => $this->persona->getUuid()))?>"><i class="fa fa-file-text"></i> Survey Results</a></li>
                <?php } ?>
            </ul>
        </div>
    </div>

    <div class="row clearfix">
        <div class="page-title">
            <h2>Survey results of <b id="resultOf">All</b></span></h2>

        </div>
        <div id="persona-sidebar" class="col-md-3">
            <div class="persona-sidebar-box headshot clearfix" data-field="headshot" style="background:url('<?= $this->persona['headshot'] ?>') no-repeat center">
            </div>

            <div class="persona-sidebar-box clearfix persona-name-box" title="Welcome To Persona Page" id="persona-name-box">
                <span id="persona-name" class="persona-name editable"  ><?= $this->persona['name'] ?></span>
            </div>
            <ul class="nav nav-sidebar respondent-list">
                <li class="nav-sidebar-header">RESPONDENTS(<?= $this->respodentCount; ?>)</li>

                <?php if(!empty($this->respondents)) { ?>
                    <li class="nav-sidebar-sub active">
                        <a onclick="return false" data-id="" class="respondent respondent-all" href="#"><b>Show All Result</b></a>
                    </li>
                    <?php foreach($this->respondents as $respondent) {?>
                        <li class="nav-sidebar-sub">
                            <a onclick="return false" data-id="<?= $respondent['id'] ?>" class="respondent" href="#"><?= $respondent['email'] ?></a>
                        </li>
                    <?php } ?>
                <?php } else { ?>
                    <li class="text-muted">No Respondents</li>
                <?php } ?>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="persona-sidebar-box clearfix">
                <h2 class="persona-label">AGE</h2>
                <div class="row age-slide">
                    <div class="col-sm-2 age-min" ></div>
                    <div id="age-slider" class="col-sm-8 age-slider is-slider non-editable"></div>
                    <div class="col-sm-2 age-max"></div>
                </div>

            </div>
            <div class="persona-sidebar-box clearfix">
                <h2 class="persona-label">GENDER</h2>
                <div class="genders">
                    <ul></ul>
                </div>
            </div>
            <div class="persona-sidebar-box clearfix">
                <h2 class="persona-label">INDUSTRY</h2>
                <div class="industries">
                    <ul></ul>
                </div>
            </div>

            <div class="persona-sidebar-box clearfix">
                <h2 class="persona-label">ARCHETYPE</h2>
                <div class="archetypes">
                    <ul></ul>
                </div>
            </div>

            <div class="persona-sidebar-box clearfix">
                <h2 class="persona-label">JOBTYPES</h2>
                <div class="jobtypes">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div id="main" class="col-md-5">
            <div class="data-fields">
                <?php foreach($this->personaFields as $val) { ?>
                    <div class="persona-main-box persona-main-box-fixed clearfix" style="width: 100%;" data-contenttype="list" id="field<?= $val['id'] . 'p0';?>" data-id="">
                        <div class="button-tool-container pull-right">
                            <i class="fa fa-arrows"></i>
                            <i class="fa fa-info-circle"></i>
                            <i class="fa fa-cog gear-btn"
                               data-toggle="modal"
                               data-target=".persona-box-modal"
                               data-id="<?= $val['id'] ?>"
                               data-iscustom="false"
                               data-title="<?= $val['title'] ?>"></i>
                        </div>
                        <h2 class="fixed-field" data-id="<?= $val['id'] ?>"><?= $val['title'] ?></h2>
                        <div class="persona-main-box-content"><ul class="fixed-field" data-field-id="<?= $val['id'] ?>" ></ul></div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>


</div>

<script>
    var respondents   = "<?= 'test' ?>";
    var personaUuid   = "<?= $this->persona['uuid']; ?>";
    head.ready('backbone', function () {
        head.load('/js/min/survey.min.js');
    });
</script>

<?= $this->partial('user/partial/modals.phtml') ?>
<?= $this->partial('partial/templates.phtml') ?>