<?php
$this->headLink()->appendStylesheet('/css/min/audience.min.css'); 
$this->navigation('client.navigation.settings')->menu()->setPartial('audience/partial/setting');
echo $this->navigation('client.navigation.settings')->menu()->render(); 

?>
<div id="persona-client" class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 row file-management">
    <div class="col-sm-12 audience-section client-main">
        <div class="add-client-container">
            <h2>File Management</h2>
            <div class="col-sm-10 file-management-container">
            </div>
        </div>
    </div>
    
    <?= $this->partial('user/partial/modals.phtml') ?>
    <?= $this->partial('partial/templates.phtml') ?>
</div>
<script>
    var allclient   = {},
        clientFiles = <?= json_encode($this->accountFiles) ?>;
    head.ready('backbone', function(){
        head.load({fileupload :'//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.4/js/jquery.fileupload.js'});
    });
    head.ready('fileupload', function() {
        head.load('/js/min/persona.min.js');
    });
</script>