<div id="persona-client" class="row">
    <div class="col-sm-2 client-nav">
        <div class="client-container">
            <ul class="navi-list">
            </ul>
        </div>
    </div>
    <div class="col-sm-10 audience-section client-main">
        <div class="add-client-container">
            <div class="client-header">Add Client</div>
            <div class="add-client-container">
                <div class="col-sm-10 form-persona">
                    <form id="frm-add-client">
                        <div class="form-persona-field"><input id="client-name" name="client-name" class="form-input input-round" type="text" value="" maxlength="250" placeholder="CLIENT NAME"></div>
                        <div class="form-persona-field"><textarea id="client-description" name="client-description" class="form-input input-round" value="" maxlength="1000" placeholder="CLIENT DESCRIPTION"></textarea></div>
                        <div class="persona-action">
                            <a class="btn btn-success btn-add-client">Add Client</a>
                            <a class="btn btn-cancel">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
<?= $this->partial('user/partial/modals.phtml') ?>
<?= $this->partial('partial/templates.phtml') ?>
<script>
    
    var allclient = <?= json_encode($this->allClient) ?>;
    head.ready('backbone', function() {
        head.load('/js/min/persona.min.js');
    });
</script>