<?php
            
$this->navigation('client.navigation.settings')->menu()->setPartial('audience/partial/setting');
echo $this->navigation('client.navigation.settings')->menu()->render(); 

?>
<div id="persona-client" class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 row">
    <div id="persona-client" class="col-sm-12 audience-section client-main">
        <div class="add-client-container">
            <h2>Update Client</h2>
            <div class="col-sm-10 form-persona">
                <form id="frm-add-client">
                    <div class="form-persona-field"><input id="client-name" name="client-name" class="form-input input-round" type="text" value="<?= $this->clientDetails['name'] ?>" maxlength="250" placeholder="CLIENT NAME"></div>
                    <div class="form-persona-field"><textarea id="client-description" name="client-description" class="form-input input-round" maxlength="1000" placeholder="CLIENT DESCRIPTION"><?= $this->clientDetails['description'] ?></textarea></div>
                    <div class="persona-action">
                        <?php if ( $this->validatePermission('edit') ) { ?>
                        <a class="btn btn-success btn-update-client">Save</a>
                        <a class="btn btn-cancel">Cancel</a>
                        <?php } ?>
                    </div>
                    <input type="hidden" id="uuid" name="uuid" value="<?= $this->clientDetails['uuid'] ?>" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
<?= $this->partial('user/partial/modals.phtml') ?>
<?= $this->partial('partial/templates.phtml') ?>
<script>
    var allclient = {};
    head.ready('backbone', function() {
        head.load('/js/min/persona.min.js');
    });
</script>