<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid navbar-top">
        <ul class="nav navbar-left nav-tabs">
            <li class="">
                <a href="./index.html"><i class="fa fa-dashboard"></i> <span>&nbsp; Dashboard</span></a>
            </li>
            <li class="">
                <a href="./culture.html"><i class="fa fa-heart"></i> <span>&nbsp; Culture</span></a>
            </li>
            <li class="">
                <a href="./audience.html"><i class="fa fa-users"></i><span> &nbsp; Audience</span></a>
            </li>
            <li class="">
                <a href="./brand.html"><i class="fa fa-sun-o"></i><span> &nbsp; Brand</span></a>
            </li>
            <li class="">
                <a href="./vision.html"><i class="fa fa-rocket"></i><span> &nbsp; Vision</span></a>
            </li>
        </ul>
        <ul class="nav navbar-right nav-pills">
            <li class="">
                <div class="dropdown navbar-profile">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="profile-small" src="https://s3.amazonaws.com/TWFiles/226788/users/u79850/A9EE5ADF9BE000D64B4657A6A2601EF7.jpg" />
                        <span></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="quick-profile">
                            <img class="profile-big" src="https://s3.amazonaws.com/TWFiles/226788/users/u79850/A9EE5ADF9BE000D64B4657A6A2601EF7.jpg" width="125" height="125">
                            <div class="name">Andy Halko</div>
                            <div>Insivia</div>
                            <div class="role">Account Owner</div>
                        </li>
                        <li>
                            <a href="/publisher/settings"><i class="fa fa-user"></i> &nbsp; My Profile</a>
                        </li>
                        <li>
                            <a href="/signout"><i class="fa fa-power-off"></i> &nbsp; Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="active rnav">
                <a href="./settings.html"><i class="fa fa-cog"></i><span> &nbsp; Settings</span></a>
            </li>
            <li class=" rnav">
                <a href="./help.html"><i class="fa fa-info-circle"></i><span> &nbsp; Help</span></a>
            </li>
        </ul>
    </div>
</div>