<?php
$this->headLink()->appendStylesheet('/css/min/brand.min.css');
$colorManagement = array('app-color', 'primary-color', 'secondary-color', 'tertiary-color');
?>
<div class="row brand-management">
    <div class="col-sm-7">
        <div class="box-grey green">
            <div class="box-title">
                <small>Slogan</small> <a href="#"><i class="fa fa-gear"></i></a>
            </div>
        </div>
        <div class="box-grey green">
            <div class="box-title">
                <small>Company Management</small> <a href="#"><i class="fa fa-gear"></i></a>
            </div>
            <div class="box-title">
                <small>Company Details</small> <a href="#"><i class="fa fa-gear"></i></a>
            </div>
            <div class="box-title">
                <small>Color Settings</small> <a href="#"><i class="fa fa-gear"></i></a>
            </div>
            <div class="app-management">
                <form id="form-color">
                    <div class="color-management">
                        <?php foreach ($colorManagement as $key => $mngt) { ?>
                        <div class="settings">
                            <label class="set-btn-color"><?= ucwords(str_replace('-', ' ', $mngt)) ?></label>
                            <button title="Header design" type="button" class="btn btn-default btn-color-container" id="<?= $mngt ?>">
                                <span class="color-fill-icon dropdown-color-fill-icon" style="background-color:#000;"></span>
                                <b class="caret"></b>
                            </button>
                            <input type ="hidden" name="<?= $mngt ?>" />
                        </div>
                        <?php } ?>
                    </div>
                </form>
                <button id="btn-update-settings" class="btn btn-default">Update Color Settings</button>
            </div>
        </div>
        <div class="box-grey orange">
            <div class="box-title">
                <small>Positioning Statements</small> <a href="#"><i class="fa fa-gear"></i></a>
            </div>
        </div>

    </div>
    <div class="col-sm-5">

        <div class="box-grey blue">

            <div class="box-title">
                <small>Value Propositions</small> <a href="./valprop-builder.html"><i class="fa fa-gear"></i></a>
            </div>

            <div class="container-fluid value-propositions">
                <div class="col-sm-5">
                    <strong>Strategy Centric</strong>
                    <p>We start with strategy to make sure everything is purposeful.</p>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <strong>Benefits</strong>
                    <p>We start with strategy to make sure everything is purposeful.</p>
                </div>
                <div class="col-sm-5">
                    <strong>Experience</strong>
                    <p>We start with strategy to make sure everything is purposeful.</p>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <strong>Experience</strong>
                    <p>We start with strategy to make sure everything is purposeful.</p>
                </div>
            </div>
        </div>

        <div class="box-grey blue">

            <div class="box-title">
                <small>Brand Voice</small> <a href="#"><i class="fa fa-gear"></i></a>
            </div>

            <div class="container-fluid value-propositions">
                <div class="col-sm-5">
                    <strong>Persona</strong>
                    <p>Inspiring &amp; warm.</p>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <strong>Tone</strong>
                    <p>Honest &amp; witty.</p>
                </div>
                <div class="col-sm-5">
                    <strong>Language</strong>
                    <p>Simple &amp; funny.</p>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <strong>Purpose</strong>
                    <p>Inform &amp; impress.</p>
                </div>
            </div>

        </div>
    </div>
    <script>
        head.ready('backbone', function () {
            head.load('//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.min.js',
                    {colorpicker: '/js/bootstrap-colorpicker-plus.js'});
        });
        head.ready('colorpicker', function () {
            head.load('/js/min/settings.min.js',
                      '/js/min/brand.min.js');
        });
    </script>
</div>