<div id="persona-client" class="row col-sm-12">
    <div class="col-sm-2 client-nav hide">
        <div class="client-container">
            <ul class="navi-list">
            </ul>
        </div>
        <?php if ( $this->validatePermission('edit') ) { ?>
        <div class="add-client"><i class="fa fa-building"></i> &nbsp; Add New Client</div>
        <?php } ?>
    </div>
    <div class="col-sm-12 audience-section client-main">
        <ul class="activity-list"></ul>
    </div>
</div>
<div class="row">
</div>
<?= $this->partial('user/partial/modals.phtml') ?>
<?= $this->partial('partial/templates.phtml') ?>
<script>
    var clientUuid      = '0';
    var personarevision = <?= json_encode($this->personaRevision) ?>;
    var allclient       = <?= json_encode($this->allClient) ?>;
    head.ready('backbone', function() {
        head.load({'timeago' : '//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.js'});
    });
    head.ready('timeago', function() {
        head.load({'persona' : '/js/min/persona.min.js'});
    });
</script>