<div class="col-sm-3"></div>
<div id="getting-started" class="col-sm-5">
    <div class="col-sm-12 audience-section client-main">
        <h2>Create Your First Persona</h2>
        <p>Get started quickly by creating your first persona. Fill out the following basic info and begin building your target audience.</p>
        <br />
        <form class="getting-started" id="frm-revision" name="frm-revision" action="/persona/process/save-getting-started">
            <div class="form-input">
                <label>Persona Name</label>
                <input type="text" name="persona-name" id="persona-name" />
            </div>
            <div class="form-input">
                <label>Persona Industry</label>
                <select name="persona-industry" id="persona-industry">
                    <?php foreach ($this->industries as $industries) { ?>
                    <option value="<?= $industries['uuid'] ?>"><?= $industries['industryName'] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="form-input">
                <label>Persona Archetype</label>
                <select name="persona-archetype" id="persona-archetype">
                    <?php foreach ($this->archetype as $archetype) { ?>
                    <option value="<?= $archetype['uuid'] ?>"><?= $archetype['title'] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="form-action">
                <button type="submit" class="btn btn-success btn-lg btn-round text-center">Create Persona</button>
            </div>
        </form>
        </div>
</div>
<div class="col-sm-4"></div>
<script>
    head.ready('backbone', function() {
        head.load({'timeago' : '//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.js'});
    });
    head.ready('timeago', function() {
        head.load({'persona' : '/js/min/persona.min.js'});
    });
</script>