<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">
              <h1 class="margin-base-vertical text-center header-user-guide">Account Basics</h1>
            </div>
            <div class="col-md-11 col-md-offset-1 userguide">
              <ul class="list-links">
                <li>
                  <i class="fa fa-file-text"></i><span>Update your User Profile</span><br/><br/>
                  <p>Updating your profile allows you to update your basic information such as your name and email address.</p>
                  <p>To update your profile, you must first go to <b>Settings</b>.</p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/go-to-settings.png" /></p>
                  <p>From there, select <b>User's Profile</b> under Company Profile section in the menu on the left side of the screen. </p>
                  <p><img style="width:20%"" src="/img/userguide/account-basics/go-to-users-profile.png" /></p><br/>
                  <p>This will be what the screen will look like:</p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/users-profile.png" /></p>
                  <p>Now, you can start editing your profile details such as your name and email address. Once you are done, just click the <i>Save My Profile</i> button to update your details. And you are now done with updating your user profile. </p>
                   <p><img style="width:60%" src="/img/userguide/account-basics/my-profile-details.png" /></p>
                </li>
                <li>
                  <br/>
                  <i class="fa fa-file-text"></i><span>Upload your profile picture</span></a><br/><br/>
                  <p>Uploading your profile picture helps set you apart from other users. Your profile picture is a great way to help other users to identify you on PersonaBold.</p>
                  <p> When you sign up for an account, PersonaBold provides you with a default profile picture that looks like this:</p>
                  <p><img style="width:15%" src="/img/userguide/account-basics/default-logo.png" /></p><br/>
                  <p>To upload or change your existing profile picture, you must be on the User's Profile page. You can get there by clicking <b>Settings</b>.</p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/go-to-settings.png" /></p>
                  <p>And then, select <b>User's Profile</b> under Company Profile section in the menu on the left side of the screen</b> page.</p>
                  <p><img style="width:20%"" src="/img/userguide/account-basics/go-to-users-profile.png" /></p>
                  <br/>
                  <p>You can upload your profile picture in two ways. You can either drag-and-drop your image from a local folder in the dotted area, or click <i>Browse Your Computer</i> to upload the picture manually. </p>
                  <p><img style="width:30%" src="/img/userguide/account-basics/upload.png" /></p><br/>
                  
                  <p> If you click <i>Browse Your Computer</i> button: </p>
                  <ol class="numbered-lists">
                    <li>A pop-up browser window on your computer will open.</li>
                    <li>Select the image that you want to use as the company logo. <b>Note: </b> Preferred image size for the logo is 200px x 200px. </li>
                    <li>Click Open button in the bottom right of the pop-up window. The pop-up will close and the selected image will automatically be uploaded.</li>
                  </ol>
                  <br/>
                  <p><img style="width:40%; margin-left:20px;" src="/img/userguide/account-basics/browse-your-computer.png" /></p>
                </li>
                <li>
                  <br/>
                  <i class="fa fa-file-text"></i><span>Update your company profile details</span><br/><br/>
                  <p>Updating your company profile details allows you to change the name and description of your company.</p>
                  <p>To update your company profile, you must first go to <b>Settings</b>.</p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/go-to-settings.png" /></p>
                  
                  <p>Or, if you are already on the Settings page but is on another menu, just select <b>Overview</b> under Company Profile section in the menu on the left side of the screen. </p>

                  <p><img style="width:20%"" src="/img/userguide/account-basics/go-to-overview.png" /></p>
                  <br/>
                  <p>Alternatively, you can click your profile picture on the topmost upper right part of the screen and click <b> Company Profile</b> to go to Company Profile page.</p>

                  <p><img style="width:30%" src="/img/userguide/account-basics/click-company-profile.png" /></p>
                  <br/>
                  <p>This will be what the Company Profile page screen looks like:</p>
                  <p><img style="width:90%"" src="/img/userguide/account-basics/company-profile.png" /></p>
                  <p>You can now update the name and description of the company. After updating the name and description of the company, click the <i>Save Account</i> button to save your updated company profile details.</p>
                   <p><img style="width:60%" src="/img/userguide/account-basics/save-company-profile-details.png" /></p>
                </li>
                <li>
                  <br/>
                  <i class="fa fa-file-text"></i><span>Upload your company logo</span></a><br/><br/>
                  <p> By default, your company logo looks like this:</p>
                  <p><img style="width:15%" src="/img/userguide/account-basics/default-logo.png" /></p><br/>
                  <p>If you want to customize your company logo, you can upload a new company logo. To upload or change an exising company logo, you must be on the Company Profile page. You can get there by clicking <b>Settings</b></p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/go-to-settings.png" /></p>'<p> And then select <b>Overview</b> under Company Profile section in the menu on the left side of the screen</b> page</p>
                  <p><img style="width:20%"" src="/img/userguide/account-basics/go-to-overview.png" /></p><br/>
                  <p>You can upload your company logo in two ways. You can either drag-and-drop your image from a local folder in the dotted area, or click <i>Browse Your Computer</i> to upload the picture manually </p>
                  <p><img style="width:30%" src="/img/userguide/account-basics/upload.png" /></p>
                  <p> If you click <i>Browse Your Computer</i> button: </p>
                  <ol class="numbered-lists">
                    <li>A pop-up browser window on your computer will open.</li>
                    <li>Select the image that you want to use as the company logo. <b>Note: </b> Preferred image size for the logo is 200px x 200px. </li>
                    <li>Click Open button in the bottom right of the pop-up window. The pop-up will close and the selected image will automatically be uploaded</li>
                  </ol>
                  <p><img style="width:40%; margin-left:20px;" src="/img/userguide/account-basics/browse-your-computer.png" /></p>
                </li>
                <li>
                  <br/>
                  <i class="fa fa-file-text"></i><span>Receive notification alerts thru email</span><br/><br/>
                  <p>This feature allows you to be notified thru email whenever there are updates to your persona details. By default, this is turned off.</p>
                  <p>To turn on this feature, first go to <b>Settings</b>: </p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/go-to-settings.png" /></p>
                  <p>From there, select <b>Alerts</b> under Account section in the menu on the left side of the screen</b> page</p>
                  <p><img style="width:20%"" src="/img/userguide/account-basics/go-to-alerts.png" /></p><br/>
                  <p>This will be what the screen will look like:</p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/alerts.png" /></p>
                  <p>Check the Activate alert to notify the user all the updates in persona checkbox. Upon checking the checkbox, you will see that it will ask you what time do you want
                  to be notified everyday. Choose what time do you want to receive the notification from the dropdown box. Then, click <i>Save Schedule</i> button to save your alert settings.</p><br/><br/>
                  <p><img style="width:55%" src="/img/userguide/account-basics/activate-alert.png" /></p>
                  <br/>
                  <p>If you decide to turn off this feature, just uncheck the checkbox and click <i>Save schedule</i> button to stop receiving notification alert emails.</p>
                </li>
                <li>
                  <i class="fa fa-file-text"></i><span>Logout your account</span><br/><br/>
                  <p>If you want to log out of your account, click your profile picture located on the top right part of the page. This will open a drop down menu where you will see the Logout button. </p><br/>
                  <p><img style="width:33%" src="/img/userguide/account-basics/click-logout.png" /></p><br/>
                  <p> Click the <i>Logout </i> button to log out.</p>
                </li>
                <li>
                  <br/>
                  <i class="fa fa-file-text"></i><span>Reset your password</span><br/><br/>
                  <p>If you have forgotten your password, you can send yourself a new password request email from the Forgot Password page to reset and change your password. </p>
                  <p>To go to Forgot Password page, you can either go <a href="<?= $this->url('forgot') ?>">here</a> or if you are logged out of your PersonaBold account, you can reset your password by clicking <b>Forgot your password</b> link from the Login page.</p><br/>
                  <p><img style="width:90%" src="/img/userguide/account-basics/login.png" /></p>
                  <br/>
                  <p>This will be what the Forgot Password screen looks like:</p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/forgot-password.png" /></p>
                  <br/>
                  <p>Enter the email address you used when you made your PersonaBold account and click <i>Request New Password </i> button to reset your password. </p>
                  <br/>
                  <p>An email will be sent to email address you entered with a link you can use to reset your password. Check your email account for the Reset Password email and click the link
                  given on the email to reset your password. </p>
                  </br>
                  <p>You will be redirected to the page where you can change your password. </p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/change-password.png" /></p>
                  <br/>
                  <p>Enter your new password in both fields. <b>Note: </b>The password must be 6 characters or more. Click <i>Set New Password </i> button to change your password. </p>
                  <p><img style="width:90%" src="/img/userguide/account-basics/click-set-new-password.png" /></p>
                  <br/>
                  <p>You can then access your PersonaBold account with your new password.</p>
                </li>
            </div>
          </div>
        </div>

    </div>
</div>