<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Add New User</h1>
              <p>To add a new user: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Users under Account section in the menu on the left</li>
                <li>Go to Invite Users</li>
                <li>Fill-up the details for First Name, Last Name, User's Email and User's Role</li>
                <li>Click Send Invite button</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>