<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Add New Persona</h1>
              <p>To add a new persona: </p>
              <ol class="numbered-lists">
                <li>Go to Personas</li>
                <li>Select from the list of clients in the menu on the left where you want to add a new persona</li>
                <li>Scroll down on the list of the personas and click the Add New Persona box</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>