<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Add New Client</h1>
              <p>To add a new client: </p>
              <ol class="numbered-lists">
                <li>Go to Dashboard</li>
                <li>Click Add New Client in the menu on the left</li>
                <li>Enter the name and description of the client</li>
                <li>Click Add Client button</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>