<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Change subscription plan</h1>
              <p>To upgrade/downgrade your subscription plan: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Subscription Info under Account section in the menu on the left</li>
                <li>Select the subscription plan that you want</li>
                <li>Confirm your plan change by clicking the Proceed button</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>