<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Change website theme</h1>
              <p>To change the website theme: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Theme Settings under Settings section in the menu on the left</li>
                <li>You can change the following colors: App color, Primary Color, Secondary Color, Tertiary Color</li>
                <li>Click Update Color Settings button to save your color settings</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>