<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Customize the website</h1>

              <ul class="list-links">
                <li><a><i class="fa fa-file-text"></i><span>Update your User Profile</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Upload your profile picture</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Update your company profile details</a></li>
                <li><a><i class="fa fa-file-text"></i><span>Upload your company logo</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Receive notification alerts thru email</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Sign out your account</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Reset your password</span></a></li>
              </ul>

            </div>
          </div>
        </div>

    </div>
</div>