<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Delete User</h1>
              <p>To delete a user: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Users under Account section in the menu on the left</li>
                <li>Click the Delete button of the user that you want to delete</li>
                <li>Select the role that you want to assign</li>
                <li>Click Confirm button to proceed with the deletion of the user</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>