<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>

<div class="row">
    <div class="col-sm-12 col-md-12 help static-pages">
		<div class="panel-group" id="accordion">
		        <div class="header text-center">Frequently Asked Questions</div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is PersonaBold?</a>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse in">
		                <div class="panel-body">
		                    <b>PersonaBold</b> is a powerful tool to help create target audience personas.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How can it help Marketing?</a>
		                </h4>
		            </div>
		            <div id="collapseTwo" class="panel-collapse collapse">
		                <div class="panel-body">
		                    PersonaBold helps you to define and find out about your audience's persona. By knowing your 
		                    audience's persona, it will give you a clear list of who and what area do you need in order to 
		                    be successful. Thus, PersonaBold can help you to build better marketing campaigns and deliver better marketing services.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How can I assure that the PersonaBold is secure?</a>
		                </h4>
		            </div>
		            <div id="collapseThree" class="panel-collapse collapse">
		                <div class="panel-body">
		                    PersonaBold uses the industry standard <b>Secure Sockets Layer (SSL)</b> technology to
		                    encrypt your personal information in order to ensure that your data is transmitted securely from your browser to the website's server.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What are the features that is only available on free trial?</a>
		                </h4>
		            </div>
		            <div id="collapseFour" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p>During the fifteen day free-trial period, you'll enjoy all the features available in PersonaBold.</p>

		                    <p> You can sign up for the free trial on <a href="http://app.personabold.com/">this page</a>.</p>

		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What happens after my fifteen day trial is over?</a>
		                </h4>
		            </div>
		            <div id="collapseFive" class="panel-collapse collapse">
		                <div class="panel-body">
		                   	<p>After your free trial is over, your account will be charged based on the subscription plan that is currently selected on the Subscription Info Page.</p>
		                   	<p>If you have not yet entered your payment details, you won't be able to access any features of PersonaBold website.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What are the different subscription types?</a>
		                </h4>
		            </div>
		            <div id="collapseSix" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p>PersonaBold offers four types of subscription plan: Solo, Basic, Team and Agency.</p>
		                    <br/>
		                    <ol>
		                		<li><b>Solo</b>: This type of plan does not allow the user to create a new user account. Plus, the user has a limited access only to the default template when exporting a persona</li>
		                		<li><b>Basic</b>: This type of plan allows the user to create up to five users only. Unlike the Solo plan, the user has full access to the export template library when exporting a persona</li> 
		                		<li><b>Team</b>: This type of plan allows the user to create an unlimited number of users. Same with the Basic plan, the user has full access to the export template library when exporting a persona but the user has access to the Persona Survey System</li>
		                		<li><b>Agency</b>: This type of plan is the same with Team plan except that the user is allowed to create an unlimited number of client groups. This means that the user can create many personas per client type.</li>
		                	</ol>
		                	<br/>
		                    <p>To view the pricing of each subscription plan, click <a href="http://personabold.com/pricing">here</a>.
		                    </p>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Can I change my subscription anytime?</a>
		                </h4>
		            </div>
		            <div id="collapseSeven" class="panel-collapse collapse">
		                <div class="panel-body">
		                    Yes, you can upgrade or downgrade your PersonaBold subscription plan anytime. 
		                    To change your subscription plan, go to Subscription Info under the Account section of Settings page .
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What types of payment do PersonaBold accept?</a>
		                </h4>
		            </div>
		            <div id="collapseEight" class="panel-collapse collapse">
		                <div class="panel-body">
		                    We accept all kinds of major credit and debit cards including Visa, MasterCard, American Express, JCB, Discover and Diners Club. All credit card information you provide to our server is secure.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What can I see on my dashboard?</a>
		                </h4>
		            </div>
		            <div id="collapseNine" class="panel-collapse collapse">
		                <div class="panel-body">
		                    From the dashboard, you can see the list of your clients and the recent activities that you have made for your created personas.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What is the client settings all about?</a>
		                </h4>
		            </div>
		            <div id="collapseTen" class="panel-collapse collapse">
		                <div class="panel-body">
		                    The Client Settings, which can be found by clicking the name of the client on the sidebar, allows you to update your client name and description, as well as upload your files and customize the color theme of the website according to your preferences.
		                </div>
		            </div>
		        </div>
		    </div>

		    <br/>
	        <div class="back">
	        	<a href="<?= $this->url('help') ?>"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Go Back to Help</button></a>
	        </div>
	</div>
</div>
