<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">
              <h1 class="margin-base-vertical text-center header-user-guide">Getting Started</h1>
            </div>
            <div class="col-md-11 col-md-offset-1 userguide">
              <ul class="list-links">
                <li>
                  <i class="fa fa-file-text"></i><span>Build your first persona</span><br/><br/>
                  <p>After you sign up for a new PersonaBold account, you will be taken to a page where you will create your first persona.</p><br/>
                  <p><img style="width:90%" src="/img/userguide/getting-started/create-first-persona.png" /></p>
                  <p>In order to start creating your first persona, you will need to fill-up the following information first:</p>
                  <ol class="numbered-lists">
                    <li>Name</li>
                    <li>Industry</li>
                    <li>Archetype</li>
                  </ol>
                  <br/>
                  <p>After having filled-up the needed information, click the <i>Create Persona</i> button to create your first persona.</p>
                  <p><img style="width:90%" src="/img/userguide/getting-started/click-create-persona.png" /></p>
                </li>
                <li>
                  <br/>
                  <i class="fa fa-file-text"></i><span>Set up your payment details</span><br/><br/>
                  <p>When you sign up for a Persona Bold account, you will be given a 15-day free trial with full access to all PersonaBold features during that period. But you cannot add another user to your account and you are limited to one client only. </p>
                  <p>To continue accessing your PersonaBold account without interruption or to upgrade your account, you should setup your credit card information before your trial period ends. Don't worry, your credit card won't be charged until your trial period is over.</p>
                  <p>To start setting up your credit card information, you may click the <i>Setup your credit card</i> link which always appear above the menu</p>
                  <p><img style="width:90%" src="/img/userguide/getting-started/click-setup-credit-card.png" /></p>
                  <p>After clicking the link, you will be directed to the Subcription Info page which should look like this:</p>
                  <!--<p><img style="width:90%" src="/img/userguide/account-basics/users-profile.png" /></p>-->
                  <p>You'll notice that there is no selected plan yet, you'll need to setup your credit card first before you can choose a subscription.</p>
                  <!--<p><img style="width:60%" src="/img/userguide/account-basics/my-profile-details.png" /></p>-->
                  <p>Scroll down the page and you will find the Credit Card Details section.</p>
                  <!--<p><img style="width:90%" src="/img/userguide/account-basics/users-profile.png" /></p>-->
                  <p>Enter in your credit card details and click <i>Submit</i> button to save your payment details.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

    </div>
</div>