<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>

<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Help</h2>
            </div>
        </div>
        <div class="row text-center help-icons">
            <div class="col-md-3">
            	<a href="<?= $this->url('help/faq') ?>">
	                <span class="fa-stack fa-4x">
	                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                    <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
	                </span>
	                <h4 class="service-heading">FAQ</h4>
	            </a>
                <p class="text-muted">Frequently asked questions about PersonaBold</p>
            </div>
            <div class="col-md-3">
            	<a href="<?= $this->url('help/how-tos') ?>">
	                <span class="fa-stack fa-4x">
	                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
	                </span>
	                <h4 class="service-heading">How To's</h4>
	            </a>
                <p class="text-muted">Need help using PersonaBold? Find your answers here.</p>
            </div>
            <div class="col-md-3">
            	<a href="<?= $this->url('help/user-guide') ?>">
	                <span class="fa-stack fa-4x">
	                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
	                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
	                </span>
	                <h4 class="service-heading">User Guide</h4>
	            </a>
                <p class="text-muted">Find out how to use PersonaBold in order to help you build a stronger marketing campaign
                </p>
            </div>   
        </div>
    </div>
</div>