<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>

<div class="row">
    <div class="col-sm-12 col-md-12 how-tos static-pages">
		<div class="panel-group" id="accordion">
		        <div class="header text-center">How To's</div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How to change my payment details?</a>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>If you would like to change your credit card information, you can do so by following the steps below:</p>
		                	<ol>
		                		<li>Go to Settings</li>
		                		<li>Select <b>Subscription Info</b> under Account section in the menu on the left side of the screen</li>
		                		<li>Under the Credit Card Details, click the Edit button and enter in your new credit card details</li>
		                		<li>Click Submit button to confirm your changes</li>
		                	</ol>
		                	<div class="screenshot"><img src="/img/how-tos/change-payment-details.gif" /></div>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How to cancel my PersonaBold subscription?</a>
		                </h4>
		            </div>
		            <div id="collapseTwo" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>You can cancel your ongoing subscription at any time by calling us at 216-373-1080 or you may email us at info@planbold.com</p>  
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How to reset my password incase I forgot it?</a>
		                </h4>
		            </div>
		            <div id="collapseThree" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>If you can't remember your password, follow these steps to reset the password of your PersonaBold account:</p>
							<ol>
		                		<li>If you are logged out of your PersonaBold account, you can reset your password by clicking <b>Forgot your password?</b> link</li> or by going to <a href="<?= $this->url('forgot') ?>">Reset Password</a> page</li>
		                		<li>Enter the email address you used when you made your PersonaBold account</li>
		                		<li>Click Request New Password button</li>
		                		<li>An email will be sent to email address you entered with a link you can use to reset your password</li>
		                		<li>Check your email account for the Reset Password email and click the link
		                		given on the email to reset your password</li>
		                		<li>You will be redirected to the page where you can change your password</li>
		                		<li>Enter your new password in both fields. <b>Note: </b>The password must be 6 characters or more</li>
		                		<li>Click Set New Password button to change your password. You can then access your PersonaBold account with your new password</li>
		                	</ol>
		                	<div class="screenshot"><img src="/img/how-tos/reset-password.gif" /></div>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How to change my email address of my PersonaBold account?</a>
		                </h4>
		            </div>
		            <div id="collapseFour" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>If you would like to change the email address that you use to access your PersonaBold account, please follow the steps below:</p>
		                    <ol>
		                		<li>Go to Settings</li>
		                		<li>Select <b>User's Profile</b> under Company Profile section in the menu on the left side of the screen</li>
		                		<li>Go to "Email Address"</li>
		                		<li>Enter your new email address</li>
		                		<li>Click Save My Profile button to save your changes</li>
		                	</ol>
		                	<div class="screenshot"><img src="/img/how-tos/change-email-address.gif" /></div>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How to edit a persona?</a>
		                </h4>
		            </div>
		            <div id="collapseFive" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p><b>Note: </b>Only users with owner or manager role can edit personas.</p>
		                	<p>If you would like to edit one of your existing personas, please follow the steps below: </p>
		                	<ol>
		                		<li>Go to <b>Personas</b></li>
		                		<li>Choose the name of the persona that you want to edit from the list. <b> Note: </b> If you have multiple clients, select your client first on the left side of the menu</li>
		                		<li>Click on the <i class="fa fa-gear"></i> icon of the section that you want to update or add new information. A modal box will open from the right side of the screen that will allow you to update the information of the persona field</li>
		                		<li>If you have finished updating the persona field, click Save button to save your changes</li>
		                	</ol>
		                	<br/>
		                	<p>If you would like to edit the name of your persona, just click on text below the headshot image and change it to your preferred name.</p>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How to change my current subscription plan?</a>
		                </h4>
		            </div>
		            <div id="collapseSix" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>You can choose from four different subscription plans (<i>Solo, Basic, Team and Agency</i>). Subscriptions will automatically renew at the end of the month but you can upgrade or downgrade your plan at any time.<p>
		                	<p> To downgrade/upgrade your subscription, follow these steps: </p>
		                    <ol>
		                		<li>Go to Settings</li>
		                		<li>Select <b>Subscription Info</b> under Account section in the menu on the left side of the screen</li>
		                		<li>Select the subscription plan that you want. A pop-up message will appear on your screen asking if you want to proceed with the downgrade/upgrade of your plan subscription</li>
		                		<li>Confirm your plan change by clicking the Proceed button</li>
		                	</ol>
		                	<div class="screenshot"><img src="/img/how-tos/change-subscription-plan.gif" /></div>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How to upload a logo for my company?</a>
		                </h4>
		            </div>
		            <div id="collapseSeven" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>To upload your company logo, follow the steps given below: </p>
							<ol>
		                		<li>Go to Settings</li>
		                		<li>Select <b>Overview</b> under Company Profile section in the menu on the left side of the screen</li>
		                		<li>Click Browse Your Computer button. This will open a pop-up browser window on your computer</li>
		                		<li>Select the image that you want to use as the company logo. <b>Note: </b> Preferred image size for the logo is 200px x 200px. Click Open button in the bottom right of the pop-up window. The pop-up will close and the selected image will automatically be uploaded </li>
		                		<li>Alternatively, you can drag your image file from your file browser on the dotted area to upload your new logo</li>
		                	</ol>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">How to delete a persona?</a>
		                </h4>
		            </div>
		            <div id="collapseEight" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p><b>Note: </b>Only users with owner or manager role can delete personas.</p>
		                	<p>If you would like to delete one of your existing personas, please follow the steps below: </p>
		                	<ol>
		                		<li>Go to <b>Personas</b></li>
		                		<li>Choose the name of the persona that you want to delete from the list. <b> Note: </b> If you have multiple clients, select your client first on the left side of the menu</li>
		                		<li>Click the Archive button which is located on the right of the Add Custom Data button. A pop-up message will appear on the screen asking to confirm if you want to archive your persona</li>
		                		<li>Click Yes button to proceed with the deletion of the persona</li>
		                	</ol>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How to download a PDF file of my subscription payment?</a>
		                </h4>
		            </div>
		            <div id="collapseNine" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>If you would like to download a PDF file of your subscription payment and save it on your computer, please follow the steps below: </p>
		                  	<ol>
		                		<li>Go to Settings</li>
		                		<li>Select <b>Pending and Past Payments</b> under Account section in the menu on the left side of the screen. You will see the list of your invoices under the Past Payments section sorted by date from the newest at the top to oldest towards the bottom</li> 
		                		<li>Click Download PDF link of the invoice you want to download as PDF file to save it on your computer</li>
		                	</ol>
		                	<div class="screenshot"><img src="/img/how-tos/download-pdf-subscription.gif" /></div>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How to export a persona?</a>
		                </h4>
		            </div>
		            <div id="collapseTen" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>If you want to export a PDF version of your persona into your computer, follow the steps below on how: </p>
		                	<ol>
		                		<li>Go to <b>Personas</b></li>
		                		<li>Choose the name of the persona that you want to export from the list. <b> Note: </b> If you have multiple clients, select your client first on the left side of the menu</li>
		                		<li>Click Export Persona button which is located on the left of the Compare button</li>
		                		<li>Select the template of the design you want to use on exporting your persona. <b>Note: </b> If you are subscribed to a Solo plan, you are only limited to export your persona on a default template only. You cannot use other templates unless you are subscribed to a plan that has access to full export library</li>
		                		<li>After selecting the template, a pop-up window will appear where you can preview the output before it is exported. You can change the orientation and page size of the file as desired. Default orientation is landscape and default page size is A5</li>
		                		<li>Click Generate Preview button. This will generate a preview of the PDF file of the persona to be exported. If you want to change the orientation or page size, just click the button again to adjust the preview</li>
		                		<li>If you want to have a larger preview of the output, click the View Large Preview button. This will open a new tab on your browser where you can preview a larger size of the output</li>
		                		<li>Going back to the screen, click the Download button to export the persona as a PDF file and save it to your computer</li>
		                	</ol>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How to add a custom data for my created persona?</a>
		                </h4>
		            </div>
		            <div id="collapseEleven" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p><b>Note: </b>Only users with owner or manager role can add custom data for a persona.</p>
		                	<p>If you would like to add a custom data to one of your existing personas, please follow the steps below: </p>
		                	<ol>
		                		<li>Go to <b>Personas</b></li>
		                		<li>Choose the name of the persona that you want to add custom data. <b> Note: </b> If you have multiple clients, select your client first on the left side of the menu</li>
		                		<li>Click Add Custom Data button. This will add a new box on the screen</li>
		                		<li>Enter a title for your custom data first and then click the <i class="fa fa-gear"></i> icon to add information about your custom data. A modal box will open from the right side of the screen that will allow you to add items for your custom data</li>
		                		<li>If you have finished adding items on the list, click Save button to save your new custom data</li>
		                	</ol>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">How to compare multiple personas?</a>
		                </h4>
		            </div>
		            <div id="collapseTwelve" class="panel-collapse collapse">
		                <div class="panel-body">
		                	<p>If you would like to compare multiple personas to see how they differ from each other, please follow the steps below: </p>
		                	<ol>
		                		<li>Go to <b>Personas</b></li>
		                		<li>Choose the persona that you want to be the comparison base. <b> Note: </b> If you have multiple clients, select your client first on the left side of the menu</li>
		                		<li>Click Compare button which is located on the right of the Export Persona button to start with the comparison</li>
		                		<li>Select one or more the profiles of the persona that you want to have a side by side comparison with the base persona. The side by side comparison display shows the details between each personas so that you can quickly identify and evaluate the differences between them </li>
		                	</ol>
		                </div>
		            </div>
		        </div>
		    </div>
		    <br/>
	        <div class="back">
	        	<a href="<?= $this->url('help') ?>"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Go Back to Help</button></a>
	        </div>

	</div>

</div>