<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Logout account</h1>
              <p>To logout your account: </p>
              <ol class="numbered-lists">
                <li>Click your profile picture located on the top right part of the page. This will open a drop down menu where you will see the Logout button</li>
            </div>
          </div>
        </div>

    </div>
</div>