<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Managing your Subscription</h1>

              <ul class="list-links">
                <li><a><i class="fa fa-file-text"></i><span>Update your billing details</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Change your payment details</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>View your current subscription</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Change my subscription plan</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>View your subscription invoices and payments</span></a></li>
              </ul>

            </div>
          </div>
        </div>

    </div>
</div>