<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Persona Revision</h1>

              <ul class="list-links">
                <li><a><i class="fa fa-history"></i><span>Revision History</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Revert Changes</span></a></li>
              </ul>

            </div>
          </div>
        </div>

    </div>
</div>