<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Persona Management</h1>

              <ul class="list-links">
                <li><a><i class="fa fa-file-text"></i><span>Add a new persona</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Edit a persona</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Delete a persona</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Add your own custom data for your persona</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Send a persona survey</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Browse revision history</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Compare multiple persona</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Filter personas by industry</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Add your own custom industries</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Add industry description</span></a></li>
              </ul>

            </div>
          </div>
        </div>

    </div>
</div>