<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Receive notification alert thru email</h1>
              <p>This feature allows you to be notified thru email whenever there are updates to your persona details. By default, this is turned off.</p>
              <p>To turn on this feature: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Alerts under Account section in the menu on the left</li>
                <li>Check the Activate alert to notify the user all the updates in persona checkbox</li>
                <li>Upon checking the checkbox, you will see that it will ask you what time do you want
                to be notified everyday</li>
                <li>Choose what time do you want to receive the notification</li>
                <li>Click Save Schedule button</li>
              </ol>

              <p>If you decide to turn off this feature, just uncheck the checkbox and click Save schedule button
              to stop receiving notification alert emails.</p>
            </div>
          </div>
        </div>

    </div>
</div>