<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Logout account</h1>
              <p>If you have forgotten your password, you can send yourself a new password request email from the Forgot Password page </p>
              <p>To reset your password: </p>
              <ol class="numbered-lists">
                <li>Click the Forgot your password? link from the login page</li>
                <li>Enter your email address</li>
                <li>Click Request New Password button</li>
            </div>
          </div>
        </div>

    </div>
</div>