<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Update Company Profile</h1>
              <p>Updating the company profile allows you to change the name and description of your company.</p>
              <p>To update the company profile: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Overview under Company Profile section in the menu on the left</li>
                <li>Update the company name and description</li>
                <li>Click Save Account button</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>