<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Update your billing details</h1>
              <p>To update your billing details: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Subscription Info under Account section in the menu on the left</li>
                <li>Go to Billing Details section</li>
                <li>Update your new billing details</li>
                <li>Click Submit button to save your changes</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>