<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Update Client Details</h1>
              <p>To update client details: </p>
              <ol class="numbered-lists">
                <li>Go to Dashboard</li>
                <li>Select from the list of clients in the menu on the left</li>
                <li>Go to Client Settings</li>
                <li>Click Update Details in the menu on the left</li>
                <li>Update the new client details</li>
                <li>Click Save Button to save your changes</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>