<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Update Profile</h1>
              <p>Updating your profile allows you to update your basic information such as your name and email address</p>
              <p>To update your profile: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click User's Profile under Company Profile section in the menu on the left</li>
                <li>Update your new information</li>
                <li>Click Save my Profile button</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>