<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Upload Files</h1>
              <p>To upload files: </p>
              <ol class="numbered-lists">
                <li>Go to Dashboard</li>
                <li>Select from the list of clients in the menu on the left</li>
                <li>Go to Client Settings</li>
                <li>Click Upload Files in the menu on the left</li>
                <li>Click Add File</li>
                <li>Click Browse Your Computer button or drag your file on the dotted area</li>
                <li>Click Save button to upload your file</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>