<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Upload Profile Picture</h1>
              <p>To upload your profile picture: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click User's Profile under Company Profile section in the menu on the left</li>
                <li>Click Browse Your Computer button and select your desired picture or drag your file on the dotted area to upload your new picture</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>