<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">Working with User and Role Profiles</h1>

              <ul class="list-links">
                <li><a><i class="fa fa-file-text"></i><span>Add new user</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Edit user role</span></a></li>
                <li><a><i class="fa fa-file-text"></i><span>Delete user</span></a></li>
              </ul>

            </div>
          </div>
        </div>

    </div>
</div>