<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>

<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">User Guide</h2>
            </div>
        </div>
        <br/><br/>	
        <div class="container text-center icons">
        	<div class="row">
        		<div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/getting-started') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-green"></i>
		                    <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Getting Started</h4>
		            </a>
	            </div>
	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/account-basics') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-orange"></i>
		                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Account Basics</h4>
		            </a>
	            </div>
	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/dashboard') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-blue"></i>
		                    <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Dashboard</h4>
		            </a>
	            </div>    
        	</div>
            <div class="row">
            	
	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/persona-management') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-violet"></i>
		                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Persona Management</h4>
		            </a>
	            </div>  
	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/persona-revision') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-red"></i>
		                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Persona Revision</h4>
		            </a>
	            </div>   
	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/manage-client-settings') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-brown"></i>
		                    <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Manage Client Settings</h4>
		            </a>
	            </div> 
	         </div> 
	         <div class="row">

	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/user-and-role-profiles') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-gray"></i>
		                    <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Working with User and Role Profiles</h4>
		            </a>
	            </div>   
	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/managing-subscription') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-pink"></i>
		                    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Managing your Subscription</h4>
		            </a>
	            </div>   
	            <div class="col-md-4 userguide-icons">
	            	<a href="<?= $this->url('help/customize-website') ?>">
		                <span class="fa-stack fa-5x">
		                    <i class="fa fa-circle fa-stack-2x color-yellow"></i>
		                    <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
		                </span>
		                <h4 class="service-heading">Customize Website</h4>
		            </a>
	            </div>  
	         </div>
        </div>
        <hr>
        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Getting Started</h3>
            </div>
            <div>
            	<ul class="list-links">
                    <li><a>Build your first persona</a></li>
            		<li><a>Set up your payment details</a></li>
            	</ul>
            </div>
        </div>

		<div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Account Basics</h3>
            </div>
            <div>
            	<ul class="list-links two-col">
            		<li><a href="<?= $this->url('help/update-user-profile') ?>">Update your User Profile</a></li>
            		<li><a href="<?= $this->url('help/upload-profile-pic') ?>">Upload your profile picture</a></li>
            		<li><a href="<?= $this->url('help/update-company-profile') ?>">Update your company profile details</a></li>
            		<li><a href="<?= $this->url('help/upload-company-logo') ?>">Upload your company logo</a></li>
            		<li><a href="<?= $this->url('help/receive-notification-alerts') ?>">Receive notification alerts thru email</a></li>
            		<li><a href="<?= $this->url('help/logout') ?>">Logout your account</a></li>
            		<li><a href="<?= $this->url('help/reset-password') ?>">Reset your password</a></li>
            	</ul>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Dashboard</h3>
            </div>
            <div>
            	<ul class="list-links">
            		<li><a>Client Listing</a></li>
            		<li><a>Recent Activities</a></li>
            		<li><a>Link to Persona Revision</a></li>
            	</ul>
            </div>
        </div>


        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Persona Revision</h3>
            </div>
            <div>
            	<ul class="list-links">
            		<li><a>Revision History</a></li>
            		<li><a>Revert Changes</a></li>
            	</ul>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Persona Management</h3>
            </div>
            <div>
            	<ul class="list-links two-col">
            		<li><a>Add a new persona</a></li>
            		<li><a>Edit a persona</a></li>
            		<li><a>Delete a persona</a></li>
            		<li><a>Add your own custom data for your persona</a></li>
            		<li><a>Send a persona survey</a></li>
            		<li><a>Browse revision history</a></li>
            		<li><a>Compare multiple persona</a></li>
            		<li><a>Filter personas by industry</a></li>
            		<li><a>Add your own custom industries</a></li>
            		<li><a>Add industry description</a></li>
            	</ul>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Manage Client Settings</h3>
            </div>
            <div>
            	<ul class="list-links two-col">
            		<li><a href="<?= $this->url('help/add-new-client') ?>">Add New Client</a></li>
            		<li><a href="<?= $this->url('help/update-client-details') ?>">Update Client Details</a></li>
            		<li><a href="<?= $this->url('help/upload-files') ?>">Upload files</a></li>
            		<li><a href="<?= $this->url('help/change-theme') ?>">Change theme</a></li>
            	</ul>
            </div>
        </div>


        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Working with User and Role Profiles</h3>
            </div>
            <div>
            	<ul class="list-links">
                    <li><a href="<?= $this->url('help/view-users') ?>">View users</a></li>
            		<li><a href="<?= $this->url('help/add-new-user') ?>">Add new user</a></li>
            		<li><a href="<?= $this->url('help/edit-user-role') ?>">Edit user role</a></li>
            		<li><a href="<?= $this->url('help/delete-user') ?>">Delete user</a></li>
            	</ul>
            </div>
        </div>


        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Managing your Subscription</h3>
            </div>
            <div>
            	<ul class="list-links two-col">
            		<li><a href="<?= $this->url('help/update-billing-details') ?>">Update your billing details</a></li>
            		<li><a href="<?= $this->url('help/change-payment-details') ?>">Change your payment details</a></li>
            		<li><a href="<?= $this->url('help/view-current-subscription') ?>">View your current subscription</a></li>
            		<li><a href="<?= $this->url('help/change-subscription-plan') ?>">Change my subscription plan</a></li>
            		<li><a href="<?= $this->url('help/view-subscription-invoices-and-payments') ?>">View your subscription invoices and payments</a></li>
            	</ul>
            </div>
        </div>


        <div class="row section">
            <div class="col-lg-12">
                <h3 class="section-heading">Customize Website</h3>
            </div>
            <div>
            	<ul class="list-links">
            		<li><a href="<?= $this->url('help/change-website-theme') ?>">Change website theme</a></li>
            	</ul>
            </div>
        </div>
        <br/><br/>
        <div class="back">
            <a href="<?= $this->url('help') ?>"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Go Back to Help</button></a>
        </div>
    </div>
</div>