<?php
$this->headLink()->appendStylesheet('/css/min/static.min.css'); 
?>


<div class="row">
    <div class="col-sm-12 col-md-12 static-pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 userguide">

              <h1 class="margin-base-vertical text-center header-user-guide">View your current subscription</h1>
              <p>To view your current subscription: </p>
              <ol class="numbered-lists">
                <li>Go to Settings</li>
                <li>Click Subscription Info under Account section in the menu on the left. Your current subsription has a Currently Active text on top of it.</li>
              </ol>
            </div>
          </div>
        </div>

    </div>
</div>